/*========Landing page layout design css==============================*/
.breadcrumb-container{float: left; width: 100%; padding-top:120px; 
  background-color: #fafafa}
.landing-caption{position: absolute; top:10%; left: 6%;
z-index: 10; width: 35%}
.landing-caption-inner{position: absolute; top:0; left: 0}
.landing-caption-inner .bha_heading_2{font-size: 2.5rem !important; font-weight: 700}

.quick-link-container{position: absolute; top:10%; right:6%;}
.quick-link-container .inner-link{padding:2rem 1.5rem;}
.quick-link-container .inner-link h2{text-transform: uppercase; font-weight: 700;
font-size: 1.8rem; text-align: center;}
.quick-link-btn{ width: 100%; margin-bottom: 0.6rem;
color:#fff; text-transform: uppercase; padding:0.5rem; border-radius:0.2rem;
font-weight: 500;display: inline-flex; height: 50px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#720005+0,ca1c24+50,720005+100 */
background: rgb(114,0,5); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(114,0,5) 0%, rgb(202,28,36) 50%, rgb(114,0,5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(114,0,5) 0%,rgb(202,28,36) 50%,rgb(114,0,5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgb(114,0,5) 0%,rgb(202,28,36) 50%,rgb(114,0,5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#720005', endColorstr='#720005',GradientType=1 ); /* IE6-9 */

}
.quick-link-btn:hover{text-decoration: none; color: #fff}
.quick-link-btn:before{ content: url(../images/link-icon.png);}
.quick-link-btn span{padding:0.4rem 0 0.4rem 1rem}
.pattern {
  width: 315px;
  /*height: 200px;*/
  display: inline-block;
  margin: 10px;
}
.pattern1 {
  background: rgba(255,255,255,0.7);
  border:1px solid #fff;/* box-shadow: 0 0 10px #ddd;*/
  border-top-left-radius: 40px; border-bottom-right-radius: 50px;
  background-image: repeating-linear-gradient(-45deg, rgba(11,11,11, 0.6), rgba(9,9,9, 0.6) 1px, transparent 1px, transparent 6px);
  background-size: 8px 8px;
}
.promo-container{padding:1rem 2rem; position: relative;
  background:url(../images/promo-bg.gif) top left no-repeat;
background-position: center center; background-size: cover;}
.promo-container:before{content: ''; position: absolute; top:0; left: 0; bottom: 0;
right:0; background:rgba(6,34,52,0.8);}
.promo-caption{padding:3rem 3rem 0.5rem; width: 100%; text-align: center;
position: absolute; top:20%; right:5%;}
.promo-heading{color:#fff; font-weight: 700; font-size: 2.3rem; text-transform: uppercase;}

/*===========Call for action=============*/
.call-for-acton{padding:0 2rem; position: relative; float: left;
  background:url(../images/call-to-actioin-bg.gif) top left no-repeat;
background-position: center center; background-size: cover;}
.call-for-action-container{text-align: left;padding:2.5rem 0 0 2rem; width: 100%;}
.call-to-action-link{padding:0; margin:0;list-style-type: none; float: left;
  margin-top: 2rem}
.call-to-action-link li{float:left; display: block; margin-bottom: 0.8rem;
color:#fff;font-size: 1.2rem; line-height: 1.5rem;width: 100%}
.call-to-action-link span{background: #ffa800; border:3px solid #fff; 
  width: 16px; height:16px; float:left; margin:0.2rem 1rem 0 0;}
a.free-quote{padding:0.8rem 1rem; border-radius: 0.5rem; text-align: center;
  color:#fff; font-weight: 700; font-size: 1rem;float: left;width: 50%;margin-top:2rem;
background: rgb(114,0,5); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(114,0,5) 0%, rgb(202,28,36) 50%, rgb(114,0,5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(114,0,5) 0%,rgb(202,28,36) 50%,rgb(114,0,5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgb(159, 7, 14) 0%,rgb(202,28,36) 50%,rgb(163, 9, 16) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#720005', endColorstr='#720005',GradientType=1 ); /* IE6-9 */}

.clientBg{background:url(../images/client-bg.gif) top left no-repeat;
background-position: center; background-size: cover; float: left; width: 100%
}
.clientBg .item-container .filterNone {width:100%; max-width: auto;
    filter: none; opacity: 1;-webkit-transition: all .3s ease-in-out;}
.clientBg .item-container .filterNone:hover {-webkit-transform: scale(1.2);}

.shopping-product{width: 100%; float:left; padding-bottom:3rem;
  background:url(../images/shop-bg.gif) top left no-repeat;
background-size: cover; background-position: center center}

.grid-container{display: inline-flex; }

.how-best-container{width: 100%; float:left; background:url(../images/compare-bg.gif) top left no-repeat;
background-size: cover; background-position: center center; position: relative;}
.how-best-container:before{content: ''; position: absolute; top:0; left: 0; bottom: 0;
right:0; background:rgba(255,255,255,0.6);}

/*========certificate-container=============*/
.certificate-container{background:#fff; padding:1.5rem 0; width: 100%;}
/*=================Compare Table======================
make mobile switch sticky
*/
.shadow {
  width: 100%;
  margin: 0 auto;
  display: inline-table;
  align-items: center;
  justify-content: center;
}
.shadow.bottom {
  box-shadow: 0px 15px 10px -15px #888;
}
article.course-pricing-table {
  width:100%; padding-bottom:3rem;
  max-width:1180px;
  margin:0 auto;
  position:relative;
}
ul.course-pricing-table {
  display:flex;
  top:0px;
  z-index:10;
  padding: 0 0 14px 0 !important;
  list-style:none !important;
}
li.pricing-table.course-pricing-table {
  list-style:none !important;
  flex:1;
}
li:last-child.course-pricing-table {
  border-right:1px solid #DDD;
}
button {
  width:100%;
  border: 1px solid #DDD;
  border-right:0;
  border-top:0;
  padding: 0.5rem;
  background:#FFF;
  font-size:12px;
  font-weight:bold;
  height:60px;
  color:#999
}
li.active.course-pricing-table button {
  background: #a4cb61;
  color: #fff;
}
.head-blue{background:#18d1d4; text-transform: uppercase; position: relative;
padding:2rem 0 !important; }
.head-blue:before{content: '';display: inline-block;position: absolute;
top: 40%;right: -15px;width: 0;height: 0;border-top: 15px solid transparent;
border-left: 15px solid #18d1d4;border-bottom: 15px solid transparent;}

.head-blue span{width: 100%; color:#02656a; font-size: 0.7rem; font-weight: 600}
.head-blue div{color:#fff; font-weight: 700; font-size: 1.2rem; line-height: 1.5rem}

.head-orange{background:#ffad01; text-transform: uppercase; position: relative;}
.head-orange:before{content: '';display: inline-block;position: absolute;
top: 40%;right: -15px;width: 0;height: 0;border-top: 15px solid transparent;
border-left: 15px solid #ffad01;border-bottom: 15px solid transparent;}
.corner-tag { width: 250px;height:0;position:relative;top: -8px;
left: 0px;}
.corner {width: 0; height: 0; border-top: 80px solid #ffd617;border-bottom: 80px solid transparent;
  border-right: 80px solid transparent;}

.corner span {text-transform: uppercase; line-height: 0.8rem;
  position:absolute;font-weight: 700; font-size: 0.8rem;top: 15px;width: 42px;
  left: 5px;text-align: center;transform: rotate(-45deg);display:block;}

.head-orange span{width: 100%; color:#db5f00; font-size: 0.7rem; font-weight: 600}
.head-orange div{color:#fff; font-weight: 700; font-size: 1.2rem; line-height: 1.5rem}

.head-red{background:#f55152; text-transform: uppercase;position: relative;}
.head-red:before{content: '';display: inline-block;position: absolute;
top: 40%;right: -15px;width: 0;height: 0;border-top: 15px solid transparent;
border-left: 15px solid #f55152;border-bottom: 15px solid transparent;}

.head-red span{width: 100%; color:#b32c29; font-size: 0.7rem; font-weight: 600}
.head-red div{color:#fff; font-weight: 700; font-size: 1.2rem; line-height: 1.5rem}

tr.bg-gray{background:#f2f2f2; transition: 0.3s}
tr.bg-white{background:#fafafa; transition: 0.3s}
tr.bg-orange-light{background:#ffee9f; transition: 0.3s}
table.course-pricing-table { 
  border: 0 !important ; 
  border-collapse:collapse; 
  table-layout:fixed; 
  width:100%;
}
th.course-pricing-table { 
  background:#23536b; 
  display:none; padding:0.5rem !important; text-transform: uppercase;
  font-size: 0.750rem; color: #fff; vertical-align: middle; 
}
td.course-pricing-table{ font-size: 0.950rem;}
td.course-pricing-table, th.course-pricing-table {
  height:auto; padding:0.5rem 0;
}
td.course-pricing-table,th.course-pricing-table { 
  border:1px solid rgba(168, 166, 166, 0.2); 
/*  padding:10px; */
  empty-cells:show; }
td.course-pricing-table,th.course-pricing-table {
   text-align: center;
}
td+td.course-pricing-table, th+th.course-pricing-table {
  text-align:center;
  display:none;
}
td.default.course-pricing-table {
  display:table-cell;
}
.bg-green {
  /*border-top:3px solid #a4cb61 !important;*/
  width: 20%;
}

.sep.course-pricing-table {
  background:#F5F5F5;
  font-weight:bold;
  border:1px solid rgba(101,131,145, 0.2);
}

.txt-l { 
  font-size:inherit; 
}
/*.txt-top { 
  position:relative; 
  top:-9px; 
  left:-2px; 
}*/
.hide.course-pricing-table  {
  border:0 !important;
  background:none;
}

@media (max-width: 950px) and (min-width: 850px)  {
.txt-l {
    font-size: 20px;
  }
.entry-content tr td {
padding: 10px;
}
}

@media (min-width: 850px) {
  ul.course-pricing-table {
    display:none;
  }
  td.course-pricing-table,th.course-pricing-table {
    display:table-cell !important;
  }
  td.course-pricing-table,th.course-pricing-table {
    
  }
  td+td.course-pricing-table, th+th.course-pricing-table {
    width: auto;
  }

.entry-content tr td {
padding: 10px;}
}

.product-services-banner {
    /* float: left; */
    width: 100%;
    position: relative;
    top: 120px;
}