body{ background: #fff !important;}
.contentWrapper{max-width: 100%;margin: 0 auto;padding: 0 15px 0 8px; background: #fff;
display: block;}
.sideBarMenu{width: 20%; float:left;margin-top: 5px;}
.sideBarMenu .sidebar .nav{margin-top: 0;padding:0 0.5rem;}
.mainContentPanel{width: 80%;float:right;}
.sidebar .sidebar-wrapper .sidebar-content{padding-top:0 !important; height: calc(100vh + 680px);}
.sidebar{position: static !important; padding:0 !important;}
.sidebar .sidebar-wrapper{max-height: 100% !important; min-height: 100% !important}
.mainContentPanel .main-panel {position: relative; width: 80%;height: 100%;transition: all .3s; float:right;}

.mainContentPanel .main-panel .page-inner{padding-right:0 !important; padding-left:0 !important;}

.sidebarHeader{width: 100%; background:#234c63; padding:1rem; color:#fff;
text-transform: uppercase; font-weight: 600; font-size: 1.2rem;}

.shop-now-page-inner{padding:0; margin-top: 0.3rem;}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, 
.ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, 
.ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, 
.ant-menu-vertical-right .ant-menu-submenu-title, 
.ant-menu-inline .ant-menu-submenu-title{padding: 0 0 0 10px !important;}

.sidebar .sidebar-wrapper{padding-bottom:1rem !important;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.sideBarMenu{left:0; top:0;position: absolute; z-index: 100000 !important}
.sidebar .sidebar-wrapper .sidebar-content{padding-bottom:0 !important}
.mainContentPanel{width: 100%;}
.ant-menu-inline{display: block !important;}
.ant-menu-vertical .ant-menu-submenu, .ant-menu-vertical-left .ant-menu-submenu, 
.ant-menu-vertical-right .ant-menu-submenu, .ant-menu-inline .ant-menu-submenu{width: 100% !important;}
.ant-drawer-body{padding:0 15px !important; background:rgb(31, 70, 92) !important}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.sideBarMenu{left:-270px;position: absolute;z-index: 10000 !important}
.mainContentPanel{width: 100%;}
.ant-menu-inline{display: block !important;}
.ant-menu-vertical .ant-menu-submenu, .ant-menu-vertical-left .ant-menu-submenu, 
.ant-menu-vertical-right .ant-menu-submenu, .ant-menu-inline .ant-menu-submenu{width: 100% !important;}
.ant-drawer-body{padding:0 15px !important; background:rgb(31, 70, 92) !important}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.sideBarMenu{left:-270px;position: absolute;z-index: 10000 !important}
.mainContentPanel{width: 100%;}
.mainContentPanel .main-panel{width: 100%;}
.ant-menu-inline{display: block !important;}
.ant-menu-vertical .ant-menu-submenu, .ant-menu-vertical-left .ant-menu-submenu, 
.ant-menu-vertical-right .ant-menu-submenu, .ant-menu-inline .ant-menu-submenu{width: 100% !important;}
.ant-drawer-body{padding:0 15px !important; background:rgb(31, 70, 92) !important}
.ant-drawer-title { margin: 0; font-weight: 500; font-size: 18px;line-height: 22px;
    font-weight: 700; text-transform: uppercase; padding: 0.4rem 0 0;}
.anticon svg {margin-top: -7px !important;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.sideBarMenu{left:0;position: absolute;}
.mainContentPanel .main-panel{width: 75%;}
.ant-menu-inline{display: block !important;}
.ant-menu-vertical .ant-menu-submenu, .ant-menu-vertical-left .ant-menu-submenu, 
.ant-menu-vertical-right .ant-menu-submenu, .ant-menu-inline .ant-menu-submenu{width: 100% !important;}
.ant-drawer-body{padding:0 15px !important; background:rgb(31, 70, 92) !important}
.ant-drawer-title { margin: 0; font-weight: 500; font-size: 18px;line-height: 22px;
    font-weight: 700; text-transform: uppercase; padding: 0.4rem 0 0;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.sideBarMenu{position: static;}
.mainContentPanel{width: 100%;padding-bottom: 0.3rem;}
.mainContentPanel .main-panel{width: 80%;}

}
