body{ background: #fff !important;}
.contentWrapper{max-width: 100%;margin: 0 auto;padding: 0 15px 0 8px; background: #fff;
display: block;}
.sideBarMenu{width: 18.850%; float:left;margin-top: 5px;}
.sideBarMenu .sidebar .nav{margin-top: 0;padding:0 0.5rem;}
.mainContentPanel{width: 81.150%;float:right;}
/* .sidebar .sidebar-wrapper .sidebar-content{padding-top:0 !important; height: calc(100vh + 680px);} */
.sidebar{width:auto !important}
.sidebar .sidebar-wrapper .sidebar-content{padding-top:0 !important; padding-bottom:0 !important}
.sidebar{position: static !important; padding:0 !important;}
.sidebar .sidebar-wrapper{max-height: 100% !important; min-height: 100% !important}
.mainContentPanel .main-panel {position: relative; width: 80%;height: 100%;transition: all .3s; float:right;}

.mainContentPanel .main-panel .page-inner{padding-right:0 !important; padding-left:0 !important;}

.sidebarHeader{width: 100%; background:#234c63; padding:1rem; color:#fff;
text-transform: uppercase; font-weight: 600; font-size: 1.2rem;}

.shop-now-page-inner{padding:0; margin-top: 0.3rem;}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, 
.ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, 
.ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, 
.ant-menu-vertical-right .ant-menu-submenu-title, 
.ant-menu-inline .ant-menu-submenu-title{padding: 0 0 0 10px !important;}

.sidebar .sidebar-wrapper{padding-bottom:0 !important;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.sideBarMenu{left:0; top:0;position: absolute; z-index: 100000 !important}
.sidebar .sidebar-wrapper .sidebar-content{padding-bottom:0 !important}
.mainContentPanel{width: 100%;}
.ant-menu-inline{display: block !important;}
.ant-menu-vertical .ant-menu-submenu, .ant-menu-vertical-left .ant-menu-submenu, 
.ant-menu-vertical-right .ant-menu-submenu, .ant-menu-inline .ant-menu-submenu{width: 100% !important;}
.ant-drawer-body{padding:0 15px !important; background:rgb(31, 70, 92) !important}
.ant-menu-hidden {display: none !important;}
.ant-drawer-header .ant-drawer-title { margin: 0; font-weight: 500; font-size: 20px !important;line-height: 22px;
    font-weight: 700; text-transform: uppercase; padding: 0.4rem 0 0;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.sideBarMenu{left:-270px;position: absolute;z-index: 10000 !important}
.mainContentPanel{width: 100%;}
.ant-menu-inline{display: block !important;}
.ant-menu-vertical .ant-menu-submenu, .ant-menu-vertical-left .ant-menu-submenu, 
.ant-menu-vertical-right .ant-menu-submenu, .ant-menu-inline .ant-menu-submenu{width: 100% !important;}
.ant-drawer-body{padding:0 15px !important; background:rgb(31, 70, 92) !important}
.ant-menu-hidden {display: none !important;}
.ant-drawer-header .ant-drawer-title { margin: 0; font-weight: 500; font-size: 20px !important;line-height: 22px;
    font-weight: 700; text-transform: uppercase; padding: 0.4rem 0 0;}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.sideBarMenu{left:-270px;position: absolute;z-index: 10000 !important}
.mainContentPanel{width: 100%;}
.mainContentPanel .main-panel{width: 100%;}
.ant-menu-inline{display: block !important;}
.ant-menu-vertical .ant-menu-submenu, .ant-menu-vertical-left .ant-menu-submenu, 
.ant-menu-vertical-right .ant-menu-submenu, .ant-menu-inline .ant-menu-submenu{width: 100% !important;}
.ant-drawer-body{padding:0 15px !important; background:rgb(31, 70, 92) !important}
.ant-drawer-header .ant-drawer-title { margin: 0; font-weight: 500; font-size: 20px !important;line-height: 22px;
    font-weight: 700; text-transform: uppercase; padding: 0.4rem 0 0;}
.anticon svg {margin-top: -7px !important;}
.ant-menu-hidden {display: none !important;}
.forgot-PwdText-message{padding:0 4rem !important}
.p-right {padding: 0 2rem 3rem 1rem !important;}
.p-left{padding: 0 2rem 3rem 2rem !important;}
.morebtnR{left:30px;}
.promo-caption-left:before{left: -18px;}
.parallax-header form .form-control-textarea{background: #fff !important;}
.downArrowHide{visibility: visible !important}

.item-list {width:340px !important }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/* .sideBarMenu{left:0;position: absolute;} */
.sideBarMenu{width: 25% !important;left:0;position: absolute;}
.mainContentPanel .main-panel{width: 73.5%;}
.ant-menu-inline{display: block !important;}
.ant-menu-vertical .ant-menu-submenu, .ant-menu-vertical-left .ant-menu-submenu, 
.ant-menu-vertical-right .ant-menu-submenu, .ant-menu-inline .ant-menu-submenu{width: 100% !important;}
.ant-drawer-body{padding:0 15px !important; background:rgb(31, 70, 92) !important}
.ant-drawer-header .ant-drawer-title { margin: 0; font-weight: 500; font-size: 20px !important;line-height: 22px;
    font-weight: 700; text-transform: uppercase; padding: 0.4rem 0 0;}
.ant-menu-hidden {display: none !important;}
.forgot-PwdText-message{padding:0 10rem !important}
.formLpRp{padding:0 2rem}
.promo-caption-left:before{left:-18px !important}

.wsmenu_heading{width:100%; padding:0 0 0.3rem 0}
/* .downArrowHide{display: none !important;}  */
.hero-img{height: 470px !important;}

.tab-menu {float: left; margin-bottom: 39px !important;}

.item-list {width:340px !important }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.mainContentPanel{width: 100%;padding-bottom: 0.3rem;}
.sideBarMenu{width: 18.85% !important;left:0;position: static;}
.mainContentPanel .main-panel{width: 80%;}
.ant-menu-hidden {display: none !important;}
.optional-hover .hot-deals-item-wrapper .portfolio-hover .portfolio-hover-content .callToAction-xxs{
    padding:2rem 5rem}
.tab-menu {float: left; margin-bottom: 0 !important;}
}

@media(min-width:1280px){
.sideBarMenu{width: 18.850%; float:left;margin-top: 5px;} 
.ant-menu-hidden {display: none !important;}
.ant-collapse-content > .ant-collapse-content-box {padding:16px !important;}
.ant-select-arrow{margin-top: 0 !important;}

.hero-header .freequote-container .free-quote{position: absolute; top:0; right: -160px !important}
.parallax-header .freequote-container .free-quote{position: absolute; top:0; right: -160px !important}

}

@media(min-width:640px){
    .freequote-container {position: absolute !important; top: -25px !important; right: 0 !important;
        width: 500px !important; left: 52px !important;}
    .breadcrumb-container {margin-top:-20px;}
    .p-pom-box{width: 28% !important;}
    .p-pom-box .lp-pom-image img{width:80%}
    .parallax-header .freequote-container{width:250px !important; margin-left:-50px}
    .quote-heading_1{white-space: normal;}
    #parallax-world-of-ugg .parallax-header{padding-bottom: 144px;}
    .call-section .callBtn {padding: 0.5rem 0;}
    #parallax-world-of-ugg .parallax-header{overflow:visible;}
    #parallax-world-of-ugg h2{font-size: 20px !important; white-space: nowrap;}
    }

 
@media(min-width:667px){
        .freequote-container { width: 520px !important;}
    }

@media(min-width:736px){
    .freequote-container { width: 600px !important;}
    .parallax-header .freequote-container { position: absolute !important;  top: 40px !important; 
        left: -2rem !important; width:100% !important}
    #parallax-world-of-ugg h2{font-size: 20px !important;}
}

@media(min-width:768px){
    .freequote-container { position: absolute !important;  top: 390px !important; left: -24rem !important;
    width:520px !important}
    .breadcrumb-container{margin-top:-20px !important;}
    .parallax-header form .form-control-textarea{background: #fff !important;}

    .parallax-header .freequote-container { position: absolute !important;  top: 40px !important; 
        left: 3rem !important; width:90% !important}
}


@media(min-width:812px){
    .freequote-container {position: absolute !important; top: 0 !important; right: 0 !important; 
         width: 300px !important; right: 0 !important; left:-47px !important;}
    .breadcrumb-container {margin-top:-20px;}
    .certificate-section{padding-top:2% !important}
    .hero-header{height: auto !important;}
    .awardTag img{margin:0 !important; width:120px}

    .parallax-header .freequote-container { position: absolute !important;  top: 80px !important; 
        left: 3rem !important; width:80% !important}
    .sticker {right: 2px !important;}
    #parallax-world-of-ugg .parallax-seven{padding:40px}

    .customer-card-outer { padding:2rem 0.650rem 3rem 0.650rem;}

    }

@media(min-width:1024px){
    .hero-header .freequote-container .free-quote{position: absolute; top:0; right:-70px !important}
    .hero-header{height: auto !important;}

    .freequote-container {position: absolute !important;  top: 0 !important; left: -2.5rem !important;}
    .downArrowHide{visibility: hidden !important;}

    .parallax-header .freequote-container .free-quote{position: absolute; top:30px; right:-60px !important}
    #parallax-world-of-ugg .parallax-header{padding-bottom: 180px !important;}
    .call-section .callBtn{width:100% !important; margin:0 !important}
    .card-list-item .star-rating i{font-size: 1.8rem !important;}
    .card-list-item{padding: 0.650rem 0.5rem !important;}
    .formLpRp{padding:0}

}

@media(min-width:1024.99px){
    .hero-header .freequote-container .free-quote{position: absolute; top:0; right:-250px !important}
    .hero-header{height: auto !important;}

    .freequote-container {position: absolute !important;  top: 0 !important; left: -4.5rem !important;}
    .hero-header{height: 85vh}

    .parallax-header .freequote-container .free-quote{position: absolute; top:0; right:-250px !important}

    .project-section .col-sm-6 { flex: 0 0 50%; max-width: 50%;}
    
    
}

@media(min-width:1280px){
    .hero-header .freequote-container .free-quote{position: absolute; top:0; right:-250px !important}
    .hero-header{height: auto !important;}

    .parallax-header .freequote-container .free-quote{position: absolute; top:0; right:-250px !important}

    .freequote-container {position: absolute !important;  top: 0 !important; left: -8.5rem !important;}
    .hero-header{height: 85vh}
    .parallax-header form .form-control-textarea{background: #fff !important;}
    .project-section .col-sm-6 { flex: 0 0 50%; max-width: 50%;}
    
}

@media(min-width:1280.99px){
    .hero-header .freequote-container .free-quote{position: absolute; top:0; right:-306px !important}
    .hero-header{height: auto !important;}

    .parallax-header .freequote-container .free-quote{position: absolute; top:0; right:-306px !important}

    .freequote-container {position: absolute !important;  top: 0 !important; left: -8.5rem !important;}
    .hero-header{height: 85vh}

    .parallax-header .freequote-container .free-quote{position: absolute !important;  top: 10px !important; 
        left: 6rem !important;}
    
    .parallax-header form .form-control-textarea{background: #fff !important;}
    #parallax-world-of-ugg .parallax-header { padding-bottom: 100px !important; }
    .project-section .col-sm-6 { flex: 0 0 50%; max-width: 50%;}
    .formLpRp{padding:0 !important}

    /* .parallax-header .freequote-container .free-quote{position: absolute; top:70px; left:14rem !important} */
    
}

/* @media(min-width:812px){
    .freequote-container { position: absolute !important;  top: 20px !important; left: -4rem !important;}
    .certificate-section{margin-top: 44% !important;}
} */