/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2020, 10:57:53 AM
    Author     : deepa
*/

.country-language {
  border: 1px solid #000;
  background-color: #4d4d4d;
  position: absolute;
  top: 39px;
  right: 0;
  width: 100%;
  z-index: 99999 !important;
  padding: 2rem 1.5rem 1rem;
  color: #000;
}

.country-language li {
  display: block;
  list-style-type: none;
  padding: 0.5rem 0;
}

.cd-breadcrumb li::after {
  display: inline-block;
  content: '' !important;
  margin: 0;
  padding-right: 1rem;
  color: #646464;
}

.country-language li a {
  font-size: 0.8rem;
}

.wsmenu {
  z-index: 9999 !important;
}

.login-form {
  border: 1px solid #000;
  background-color: #e5e5e5;
  position: absolute;
  top: 11px;
  left: 65%;
  width: 600px;
  z-index: 1000000 !important;
  padding: 2rem 1.5rem 1rem;
  color: #000;
}

.text-right-sm.pr-3 {
  transform: translate(10px, -62px);
}

#google_translate_element {
  position: absolute;
  bottom: calc(53px + 16px);
  right: 16px !important;
}
.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif !important;
  text-transform: uppercase;
}
.goog-te-gadget-simple {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  padding: 8px !important;
  border-radius: 4px !important;
  font-size: 1rem !important;
  line-height: 2rem !important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}
.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {
  color: #fff !important;
  &:before {
    font-family: 'Material Icons';
    content: '\E927';
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
  }
}
.goog-te-menu-value span:nth-child(5) {
  display: none;
}
.goog-te-menu-value span:nth-child(3) {
  border: none !important;
  font-family: 'Material Icons';
  &:after {
    font-family: 'Material Icons';
    content: '\E5C5';
    font-size: 1.5rem;
    vertical-align: -6px;
  }
}

.goog-te-gadget-icon {
  background-image: url(https://placehold.it/32) !important;
  background-position: 0px 0px;
  height: 32px !important;
  width: 32px !important;
  margin-right: 8px !important;
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
.modal-open {
  top: 0px !important;
}

/*=====Naveen Sharma Added the follwong class===============*/
.callerLady {
  position: absolute;
  top: -27px;
  left: 9px;
}
.bhaClient {
  padding-bottom: 1.8rem;
}
.bhaClient .slick-slide {
  width: 160px !important;
  box-sizing: border-box;
}
/*.banner-container{margin-top:0 !important}*/
.banner-container {
  margin-bottom: 0 !important; margin-top:100px !important;
}

.bha_heading_1 {
  height: 95px !important;
}
.bottom-navigation {
  position: absolute;
  /* top: 530px; */
  bottom: 0 !important;
  z-index: 100 !important;
}
.bottom-navigation a{color:#fff !important;}

.socialLink a {
  margin: 0 3px;
}
/* .bha-btn-primary {
  padding: 0.7rem 1.5rem !important;
} */
.broucher-wrapper {
  width: 100% !important;
}
.bha-btn-menu {
  padding: 0.35rem 1rem !important;
  font-size: 0.775rem;
}

.phone-font-size {
  font-size: 0.85rem !important;
}
.email-font-size {
  font-size: 0.9rem !important;
}
.contact-us-form {
  background: #fff;
  padding: 0 1rem 0 1rem;
}
.headerfull {
  z-index: 0 !important;
}
/*.modal {right: 30px; width: 40%;height: 100%;}*/

/*==================Add new Css 17/07/2020==========================*/
/* body{font-family: 'Roboto', sans-serif !important} */
.logIn {
  border: 1px solid #000;
  background-color: #e5e5e5;
  position: absolute;
  top: 1.5%;
  right: 9%;
  max-width: 680px !important;
  z-index: 1000000 !important;
  padding: 2rem 1.5rem 1rem;
  color: #000;
}
.logIn .modal-content {
  border-radius: 0 !important;
  box-shadow: none !important;
  background: transparent !important;
  max-width: 600px !important;
}
.modal-dialog-lg {
  border: none !important;
}
/* .seachbox{display: none; background-color: #fff; position: absolute;top:42% !important;right:1% !important;
width: 30%; z-index: 1000000 !important; padding:0.5rem 1rem;color:#000;} */
.searchbox .modal-content {
  border-radius: 0 !important;
  box-shadow: none !important;
  background: #fff !important;
  margin-top: 0.5rem;
}
.input-group-append {
  margin-left: -7px !important;
}
.btn {
  margin-left: 0 !important;
}
.btn:hover {
  color: #fff !important;
}
.searchbox {
  position: absolute !important;
  top: 1.8% !important;
  right: 3% !important;
  width: 30% !important;
  z-index: 1000000 !important;
  padding: 0 0.5rem !important;
  color: #000;
}
/* .bha_heading_2 {
  font-size: 1.8rem !important;
} */
.caption h1 {
  font-size: 3rem !important;
}

.bha-icon {
  color: #a70e15;
  border: 1.5px solid #a70e15;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  padding: 6px 6px;
  vertical-align: top;
  font-size: 0.6rem !important;
  font-weight: bold !important;
}
h6 {
  font-size: 1rem !important;
  font-weight: 600 !important;
}
.input-group-append .btn {
  border-top-right-radius: 0.4rem !important;
  border-bottom-right-radius: 0.4rem !important;
  padding: 0.62rem 0.85rem !important;
}
.topmenusearch {
  margin: 0.5rem 2.5rem 0 1.5rem !important;
}
.topmenusearch .form-control {
  height: calc(1.5rem + 0.75rem + 2px) !important;
}

#google_translate_element {
  position: absolute;
  bottom: calc(15px + 16px);
  right: 62px !important;
}

/*==============Responsive CSS==============================================*/
@media (max-width: 768px) {
  .headerfull {
    background: transparent !important;
  }
  .top-header {
    z-index: 1000 !important;
  }
  .wsmobileheader > .smllogo {
    width: 180px !important;
    margin-top: 10px !important;
  }
  .carousel-item {
    max-height: 55vh !important;
  }
  .footer-main {
    padding: 0 1rem !important;
  }
  .footer-bottom,
  .copyright {
    padding: 1rem !important;
  }
  .bottom-navigation {
    position: static !important;
    overflow: visible !important;
    margin-bottom: 0 !important;
  }
  .shopNow,
  .request-Quote {
    border-bottom: 1px solid #ddd;
    float: left;
    display: block;
    max-height: 100px;
  }
  .request-Quote a {
    padding: 1.3rem 0 !important;
    color: #000 !important;
    padding-left: 4rem !important;
    font-size: 0.8rem;
  }
  .shopNow a {
    color: #000 !important;
    padding: 1.3rem 0 !important;
    margin-left: 4rem !important;
    font-size: 0.8rem;
  }
  .thumnal-icon {
    float: left;
    margin: 0.6rem 0 1rem 0 !important;
  }
  .pl-0 {
    padding-left: 1rem !important;
  }

  /*===Navigation css=================================================*/
  .wsmenu > .wsmenu-list > li > .navtext {
    text-align: left !important;
  }
  .wsmenu > .wsmenu-list > li > .mbilewsstabing {
    left: 0 !important;
    width: 100% !important;
  }
  .image-holder {
    width: auto !important;
  }
  /*===footer css=================================================*/
  .socialLink {
    width: 100%;
    margin-top: 2.2rem !important;
  }
  .socialLink span {
    padding-right: 10px;
  }
  .call-us {
    font-size: 1.2rem !important;
    font-weight: 700;
    padding-left: 4rem !important;
    float: left;
    text-align: right;
    width: 100%;
    max-height: 100px;
    padding-top: 0.5rem;
  }
  #SearchOpen {display: none !important;}
  .mobPipe {display: none !important;}
}



/*==========Added new css rules for override existing css 16-August-2020=================*/
.wsshoptabing {left: -210px !important;width: 115% !important;}
#brand{border-bottom:0 !important;}
.form-group .form-control {
  height: calc(1.5rem + 0.75rem + 2px) !important;
}
.image-holder {display: block; width: 281px; transition: opacity .5s linear; overflow: hidden !important;}
.wsshopwp .image-holder img{object-filt:cover; object-position:center; width:280px/* width:100%; object-fit:contain !important; object-position: center !important; */
/* width: 100% !important; -o-object-fit: scale-down; object-fit: scale-down !important; object-position: center !important; */}
.wsshopwp .image-holder img { width:100%; height: 185px; background-color: #fff;}
.wsshopwp .image-holder img[class] { width: 100%;}

.wstliststy04 li img{width: 250px !important; height:150px; -o-object-fit: cover; object-fit: cover !important; 
object-position: center !important;}

.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp{background:#fff !important}

.model{top:5px !important;}
.model .login{padding:2rem 1.5rem 0.5rem !important; right:9% !important}
.headerfull{height:auto !important}
.card-body h4{font-weight:600 !important;}
.modal-backdrop{z-index:0 !important}
.item-pro-inner a img{height: 210px; object-fit: contain !important; object-position:center !important;}

.product-card { background: #fff; padding: 0.8rem; border-radius: 0.3rem; border: 1px solid #f1f1f1;
    margin: 0.68rem 0.6rem; width: 94% !important;}
.hvr-float-shadow{display:inline-block !important}

.logo-left { position: relative !important; top: 0% !important;left: 0% !important;   z-index: 0 !important;
    background: #fff;width: 200px !important;height: 40px !important;}
.form-group .btn{margin-left: 0 !important;box-shadow: none !important;background: #23536b !important;}
.form-group .btn.bha-btn-primary:hover{background: #5ea7bd !important;transition: 0.3s;color: #fff;}
.logIn .pwdlink{color: #000 !important;text-transform: none !important;padding: 0 !important;margin: 0 !important;
font-weight:700 !important; font-size:0.875rem}
.modal-dialog .modal-content .modal-body { position: relative; flex: 1 1 auto; padding: 0 !important;}
.modal { position: fixed; top: 0; right: 0; bottom: 0;left: 0; z-index: 10510 !important; display: none; overflow: hidden; outline: 0;}
button.close {padding: 0; background-color: transparent;border: 0;-webkit-appearance: none; -moz-appearance: none;
    appearance: none; text-align: right;}
.close { font-size: 1.5rem; font-weight: 700; line-height: 1; color: #000; text-shadow: 0 1px 0 #fff; opacity: 0.5;
    z-index: 100; position: absolute; right: 2rem; top: 2rem;}
	
/*======Contact Us Page override css rules===============*/
.tab-menu .tablink {font-weight:400; width:25%}
.tab-menu .tablink:hover{background: #23536b; transition: 0.3s; color:#fff !important;}
.tab-menu .tablink.current{color:#fff !important; background:#23536b;}	
body{font-weight: 400;line-height: 1.5;color: #212529;text-align: left;}	 
.seperator { background: rgba(167,14,21,1);
  width: 60px; height: 30px !important; border-radius: 100px;
  line-height: 20px !important; font-size: 1.5rem !important; font-weight: 700 !important;
  position: absolute; top: -15px !important; left: 47% !important; border: 4px solid #ac2b31;
  /* box-shadow: 0 0 2px #000; */}	
#message p, .uxi-widget p, .mission-text p{text-align: left;}
.text-justify{text-align:left !important}	

/*======Added Css On 08 September 2020==================*/
.bha-btn-secondry{padding: 0.3rem 0.6rem;}
.bottom-navigation a{font-size: 1rem;}
::-webkit-input-placeholder { /* Edge */
  color: #afafaf !important; font-size: 0.9rem; font-weight: 400 !important}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #afafaf !important;font-size: 0.9rem; font-weight: 400 !important}
::placeholder {color: #afafaf !important;font-size: 0.9rem; font-weight: 400 !important}
.rc-anchor-normal{width: 280px !important}
iframe{width: 280px !important; border-right:1px solid #ddd; border-radius: 0.2rem}
iframe .rc-anchor-logo-portrait{margin: 10px 0 0 0px !important;}
.tab-menu .tablink{width:33.333% !important;}
.pagewrap-inner{padding:0 1.5rem 2rem !important;}
.news-inner{min-height: 320px;}
.social-share-box{border:none !important;}
.news-inner img.object-fit { width:100%; width: 270px !important; object-fit: cover;
    object-position: center;}
.share-link{margin-bottom: 1rem;}
@media(max-width: 768px)
{
  .news-inner img.object-fit{width:500px !important;}
}
/*.card-description{display: -webkit-box;   
   -webkit-line-clamp: 2;   
   -webkit-box-orient: vertical;     
   overflow: hidden;}*/

.card-description h6{font-size: 0.850rem !important; font-weight: 400 !important;
display: -webkit-box;   
   -webkit-line-clamp: 2;   
   -webkit-box-orient: vertical;     
   overflow: hidden;}	
.sidebar-inner > li{padding: 0.7rem 1rem !important}
.quick-view{padding: 0.35rem !important;}
.figcaption h4 { text-transform: uppercase; font-size: 1.125rem; font-weight: 500 !important;}
.btn{box-shadow: none !important}

	

