.country-language {
  border: 1px solid #000;
  background-color: #4d4d4d;
  position: absolute;
  top: 39px;
  right: 0;
  width: 100%;
  z-index: 99999 !important;
  padding: 2rem 1.5rem 1rem;
  color: #000;
}

.country-language li {
  display: block;
  list-style-type: none;
  padding: 0.5rem 0;
}

.cd-breadcrumb li::after {
  display: inline-block;
  content: '' !important;
  margin: 0;
  padding-right: 1rem;
  color: #646464;
}

.country-language li a {
  font-size: 0.8rem;
}

.wsmenu {
  z-index: 9999 !important;
}

.login-form {
  border: 1px solid #000;
  background-color: #e5e5e5;
  position: absolute;
  top: 11px;
  left: 65%;
  width: 600px;
  z-index: 1000000 !important;
  padding: 2rem 1.5rem 1rem;
  color: #000;
}

.text-right-sm.pr-3 {
  transform: translate(10px, -62px);
}

.modal-open {
  top: 0px !important;
}

/*=====Naveen Sharma Added the follwong class===============*/
.callerLady {
  position: absolute;
  top: -27px;
  left: 9px;
}
.bhaClient {
  padding-bottom: 1.8rem;
}
.bhaClient .slick-slide {
  width: 173px !important;
  box-sizing: border-box;
}
.banner-container {
  margin-bottom: 0 !important; margin-top:100px !important;
}

.bha_heading_1 {
  height: 95px !important;
}

.socialLink a {
  margin: 0 3px;
}

.broucher-wrapper {
  width: 100% !important;
}
.bha-btn-menu {
  padding: 0.35rem 1rem !important;
  font-size: 0.775rem;
}

.phone-font-size {
  font-size: 0.85rem !important;
}
.email-font-size {
  font-size: 0.9rem !important;
}
.contact-us-form {
  background: #fff;
  padding: 0 1rem 0 1rem;
}
.headerfull {
  z-index: 0 !important;
}

/*==================Add new Css 17/07/2020==========================*/
 body{font-family: 'Roboto', sans-serif !important; font-size: 1rem !important;
 font-weight: 400;line-height: 1.5; color:#000;} 
.logIn {
  border: 1px solid #000;
  background-color: #e5e5e5;
  position: absolute;
  top: 1.5%;
  right: 9%;
  max-width: 680px !important;
  z-index: 1000000 !important;
  padding: 2rem 1.5rem 1rem;
  color: #000;
}
.logIn .modal-content {
  border-radius: 0 !important;
  box-shadow: none !important;
  background: transparent !important;
  max-width: 600px !important;
}
.modal-dialog-lg {
  border: none !important;
}
.caption h1 {
  font-size: 3rem !important;
  line-height: 3.5rem;
}

.bha-icon {
  color: #a70e15;
  border: 1.5px solid #a70e15;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  padding: 6px 6px;
  vertical-align: top;
  font-size: 0.6rem !important;
  font-weight: bold !important;
}
h6 {
  font-size: 1rem !important;
  font-weight: 600 !important;
}
.input-group-append .btn {
  border-top-right-radius: 0.4rem !important;
  border-bottom-right-radius: 0.4rem !important;
  padding: 0.62rem 0.85rem !important;
}
.topmenusearch {
  margin: 0.5rem 2.5rem 0 1.5rem !important;
}
.topmenusearch .form-control {
  height: calc(1.5rem + 0.75rem + 2px) !important;
}


/*==============Responsive CSS==============================================*/
@media (max-width: 768px) {
  .headerfull {
    background: transparent !important;
  }
  .top-header {
    z-index: 1000 !important;
  }
  .wsmobileheader > .smllogo {
    width: 180px !important;
    margin-top: 10px !important;
  }
  .carousel-item {
    max-height: 100% !important;
  }
  .footer-main {
    padding: 0 1rem !important;
  }
  .footer-bottom,
  .copyright {
    padding: 1rem 0.5rem !important;
  }
  .bottom-navigation {
    position: static !important;
    overflow: visible !important;
    margin-bottom: 0 !important;
  }
  

  /*===Navigation css=================================================*/
  .wsmenu > .wsmenu-list > li > .navtext {
    text-align: left !important;
  }
  .wsmenu > .wsmenu-list > li > .mbilewsstabing {
    left: 0 !important;
    width: 100% !important;
  }
  .image-holder {
    width: auto !important;
  }
  /*===footer css=================================================*/
  .socialLink {
    width: 100%;
    margin-top: 2.2rem !important;
  }
  .socialLink span {
    padding-right: 10px;
  }
  .call-us {
    font-size: 1.3rem !important;
    font-weight: 700;
    padding-left:0 !important;
    float: left;
    text-align: left;
    width: 100%;
    max-height: 100px;
    padding-top: 5.5rem;
  }
  #SearchOpen {display: none !important;}
}

/*==========Added new css rules for override existing css 16-August-2020=================*/
.wsshoptabing {left: -213px !important;width: 122% !important;}
#brand{border-bottom:0 !important;}
.form-group .form-control {
  height: calc(1.5rem + 0.75rem + 2px) !important;
}
.image-holder {display: block; width: 281px; transition: opacity .5s linear; overflow: hidden !important;}
.wsshopwp .image-holder img{object-fit:cover; object-position:center; width:280px}
.wsshopwp .image-holder img { width:100%; height: 185px; background-color: #fff;}
.wsshopwp .image-holder img[class] { width: 260px;}

.wstliststy04 li img{width: 250px !important; height:150px; -o-object-fit: cover; object-fit: cover !important; 
object-position: center !important;}

.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp{background:#fff !important}

.model{top:5px !important;}
.model .login{padding:2rem 1.5rem 0.5rem !important; right:9% !important}
.headerfull{height:auto !important}
.card-body h4{font-weight:600 !important;}
.item-pro-inner a img{height: 210px; object-fit: contain !important; object-position:center !important;}

.product-card { background: #fff; padding: 0.8rem; border-radius: 0.3rem; border: 1px solid #f1f1f1;
    margin: 0.68rem 0.6rem; width: 94% !important;}
.hvr-float-shadow{display:inline-block !important}

.logo-left { position: relative !important; top: 0% !important;left: 0% !important;   z-index: 0 !important;
    background: #fff;width: 200px !important;height: 40px !important;}
.form-group .btn{margin-left: 0 !important;box-shadow: none !important;background: #23536b !important;}
.form-group .btn.bha-btn-primary:hover{background: #5ea7bd !important;transition: 0.3s;color: #fff;}
.logIn .pwdlink{color: #000 !important;text-transform: none !important;padding: 0 !important;margin: 0 !important;
font-weight:700 !important; font-size:0.875rem}
.modal-dialog .modal-content .modal-body { position: relative; flex: 1 1 auto; padding: 0 !important;}
.modal { position: fixed; top: 3%; right: 0; bottom: 0;left: 0; z-index: 1000005 !important; display: none; overflow: hidden; outline: 0;}
button.close {padding: 0; background-color: transparent;border: 0;-webkit-appearance: none; -moz-appearance: none;
    appearance: none; text-align: right;}
.close { font-size: 1.5rem; font-weight: 700; line-height: 1; color: #000; text-shadow: 0 1px 0 #fff; opacity: 0.5;
    z-index: 100; position: absolute; right: 2rem; top: 2rem;}
	
/*======Contact Us Page override css rules===============*/
.tab-menu .tablink {font-weight:400; width:25%; color:#000 !important;}
.tab-menu .tablink:hover{background: #23536b; transition: 0.3s; color:#fff !important;}
.tab-menu .tablink.current{color:#fff !important; background:#23536b;}	
 
/*======Added Css On 08 September 2020==================*/
.bha-btn-secondry{padding: 0.3rem 0.6rem;}
.bottom-navigation a{font-size: 1rem;}
::-webkit-input-placeholder { /* Edge */
  color: #afafaf !important; font-size: 0.9rem; font-weight: 400 !important}
:-ms-input-placeholder { color: #afafaf !important;font-size: 0.9rem; font-weight: 400 !important}
::placeholder {color: #afafaf !important;font-size: 0.9rem; font-weight: 400 !important}
.rc-anchor-normal{width: 280px !important}
iframe{width: 280px !important; border-right:1px solid #ddd; border-radius: 0.2rem}
iframe .rc-anchor-logo-portrait{margin: 10px 0 0 0px !important;}
.news-inner{min-height: 320px;}
.social-share-box{border:none !important; width: 100%; text-align: right;}
.news-inner img.object-fit { width:100%; width: 270px !important; object-fit: cover;
    object-position: center;}
.share-link{margin-bottom: 1rem;}
@media(max-width: 768px)
{
  .news-inner img.object-fit{width:500px !important;}
}
.card-description h6{font-size: 0.850rem !important; font-weight: 400 !important;
display:-webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;     
   overflow: hidden;}	
.sidebar-inner > li{padding: 0.7rem 1rem !important}
.quick-view{padding: 0.35rem !important;}
.figcaption h4 {text-transform: uppercase; font-size: 1.125rem; font-weight: 500 !important;}
.btn{box-shadow: none !important}

/*=====Added css on 15-sept-2020===================*/
.pagewrap-inner p{padding-right: 2rem !important;}
.pagewrap-inner p span{background: transparent !important;}
.mission-text {padding-top: 1rem !important}
.mission-text p span{color:#fff !important;}
.mission-text p a span{color:#8af4ff !important;}
.padding-0{padding:0 !important;}
.img-caption{bottom:0 !important;}

/*==============Inner page layout fixing css===============*/
.call-for-acton{display: flex !important;}
.call-for-acton img{margin:1.5rem 0 1.5rem;}
.quick-link-btn span{color:#fff !important;}
.carousel-item img{object-fit: cover !important;}
.call-for-action-container ul{padding: 0;margin: 0; margin-top: 0px;
list-style-type: none;display:block; margin-top: 2rem;}
.call-for-action-container ul li{display: none !important}
.call-for-action-container ul ul{padding: 0;margin: 0; margin-top: 0px;
list-style-type: none;display:block; margin-top: 2rem;}
.call-for-action-container ul ul li{margin: 0.5rem 0; display: block !important;}
.call-for-action-container ul li:before:fitst-child{display: none !important}

.ant-affix{ background: rgba(255,255,255,0.950); box-shadow: 0px 10px 5px -10px #d7d7d7;
  height: 70px !important; z-index: 10000 !important;}
#affixed a {
  color: #000 !important;
}
.affixed a {
  line-height: 1.2rem !important;
  font-weight: 500;
  padding-top: 0.7rem !important;
}
#representus-contact {
  z-index: 100;
  float: right;
}
.call-for-action-container li:before{ content:"";background: #ffa800;
border: 3px solid #fff;width: 16px;height: 16px;float: left;margin: 0.2rem 1rem 0 0;}
.call-for-action-container li span{background: transparent !important; 
  color:#fff !important; font-size: 1.2rem !important;}
.bags-promo-caption{padding: 3rem 3rem 0.5rem;width: 100%;text-align: center;
position: absolute;top: 15%;right: 5%;}
.promo-graphic{width: 600px; height: 300px; object-fit: cover; object-position: center;}
.bhaClient .slick-slide{width:160px !important;box-sizing: border-box; margin:15px !important;}

.proService .slick-slide{width: 174px !important;box-sizing: border-box; margin:15px !important;}
.view p{font-size: 1.6rem !important;padding: 2.5rem 1rem !important;}
.view-first .mask{background-color: rgba(15,65,106, 0.8) !important}
.landing-caption-inner p span{font-size: 1.175rem !important; color:#fff !important; 
  background: transparent !important;font-family: 'Roboto', sans-serif !important;}
/*=====About us page============*/
.heading-h4{font-size: 1.42rem !important;font-weight: 600 !important;
  letter-spacing: -0.043rem !important; color:#212529; margin-top: -0.1rem}
.pagewrap-inner p span{font-family: 'Roboto', sans-serif !important; font-size: 1rem !important}
.pro-equipment-section span{color:#212529 !important;}
.mission-section p span{color:#fff;}
.location{margin-top: 0 !important}
/*======Project page==================*/
.promo-caption{text-align: left !important;}
.pagewrap-inner p{padding-right:0 !important;}
.p-right, .p-left{height: 240px; margin-top: -1rem;
    display: -webkit-box;width: auto;-webkit-line-clamp: 7;
    -webkit-box-orient: vertical; overflow: hidden;text-overflow: ellipsis;}

.p-right .heading-h4{padding:0 0 0.6rem !important;letter-spacing: -0.035rem;font-size:1.35rem !important;}
.bha_heading_2 {letter-spacing: -0.035rem !important;font-size: 1.570rem !important;}
.landing-caption-inner .bha_heading_2 {font-size: 2.5rem !important; font-weight: 700;}
.text-blue{font-weight: 600 !important}
.side-menu .tablink:hover{color:#fff !important;}
.sidehoverbar{position: fixed !important}
.side-menu .tablink{width: 290px !important}
/*==========Home page fixing============================*/
.image-holder{
  width:273px !important; height: 200px !important;}
.image-holder img{height: 300px !important; object-fit: cover; 
  object-position: center !important;}
.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp > .wstabitem > li > .wstitemright{
  border-left: 1px solid #ddd !important;}
.wsmenu > .wsmenu-list > li > .wsshoptabing{
  box-shadow: 0px 10px 3px -10px #868686 !important;
  border:0 !important;border-left: 1px solid #f1f4f4 !important; 
  border:1px solid #ddd !important;}

figcaption h4{font-weight: 500 !important}

.wsmenu > .wsmenu-list > li .wstliststy04 { padding: 5px 0px 0px 0px !important;
    margin: 0px !important;}

.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp > .wstabitem > li > .wstitemright{
  padding: 10px 10px 20px 10px !important; overflow: hidden !important;
  height: 380px !important; 
  margin-bottom: 3rem !important;
}
.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp {
    width: 100%; display: block; position: relative; background-color: #fff;
  }

/*=====Top menu section===========*/
.wsmenu{width: auto !important;}
.smllogo {padding: 2px 0px 0 0; margin: 0; float: left; width: 6%;}
.anchor-logo { padding-top: 12px !important; padding-left: 0 !important;
    margin-left: -10px !important;}
.caption-inner .bha_heading_2{font-size: 2.5rem !important; font-weight: 700;}
.caption-inner h6 p{font-weight: 600 !important; font-size: 1.175rem !important}

/*===========Industry page fixing===========================*/
.card-slider__container__list__card__content__title{font-weight: 500; line-height: 22px !important;
overflow: visible !important;}
.card-slider__container__list__card__content__headings h3, .card-slider__container__list__card__content__headings h3 p{font-size: 0.750rem !important;
color:#000 !important; font-weight: 500 !important; }
.card-slide_container { position: absolute; width: 100%; bottom: -6px !important; z-index: 10;}

.card-slider__container__list__card{width: 100% !important; padding:0 2px; overflow: hidden;}
.banner-slider-container{padding:0 !important;}
.banner-container-xxs{overflow: hidden !important;}
.banner-container-xxs .leftControl > i, .leftControl > span, 
.banner-container-xxs .rightControl > i, .rightControl > span{top:40% !important}
/*====Home page layout fixing with menu dropdown========================================*/
/*=====Extra Css For fxing menu ===================================================================*/
.ant-affix{top:120px !important; height: 75px !important;}
.btn{margin:0 0.450rem 0 0}

.banner-img-100{width: 100%; height:550px !important; object-fit: cover; object-position: bottom;}

.freequote-container { position: absolute; top: 5%; right: -80px !important; z-index: 100;}

.img-object-fit{border-radius: 0 !important}
.imgL-container{background: transparent !important;}
.imgB_color{background: rgba(46,49,146,1); position: absolute; bottom:0; left: 0;
width:500px; height: 400px}
.contentDescript{background:transparent; margin-top: 6rem;}
.contentDescript p span{font-family: 'Roboto', sans-serif !important;color:#212529 !important;}
.contentDescript p span strong{font-weight: 600; font-family: 'Roboto', sans-serif !important; 
font-size: 1.2rem !important}
.font-xl{font-size:2.875rem !important;}
.jail_Content_Descrpt {padding: 3rem 3rem 3rem 5rem;font-size: 1.25rem;text-align: justify;color: #fff;
line-height: 2rem}
.seperator{z-index: 1 !important}
.type1 {
    font-weight: normal;
    font-size: 4.5rem !important;
    color: #08118f;
    font-family: 'Oswald', sans-serif !important;
    margin-bottom: -10px;
    font-weight: 700 !important;
    line-height: 5rem !important;
}

.carousel-inner { position: relative; overflow: hidden; width: 100% !important;}
.banner-container-xx{overflow: visible !important;}

.banner-container-xx .carousel-indicators{top:500px !important;}
.item-xs-caption { position: absolute; top: 15% !important; left: 10% !important; width: 40%;}

/*====Home page layout fixing with menu dropdown end========================================*/
.form-control.select_type { padding: 4px 6px !important;}
.map-responsive{
  padding-bottom:16.25%;
  position:relative;
  height:410px;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.errorMsg{margin-bottom: 0 !important;}
.represent_company_brand{margin-bottom:15px; float:left; width:100%}
.map-responsive iframe {position: absolute; top: 0; right: 0; bottom: 0; left: 0;} */

.form-control-textarea {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp > .wstabitem > li > .wstitemright {
    opacity: unset !important;
    visibility: unset !important;
}
.view.view-first.height-auto.indusry-img {
  width: 360px;
  height: 214px;
  margin: 0 auto;
}
.container-fluid.pl-0.pr-0.padding25 {
  padding: 0 25px !important;
}

.side-menu {
    padding-top: 50px !important;
}

.headtoppart a{display: flex; display:-webkit-flexbox; margin-top: 0.2rem !important}
embed{margin-right: 0.5rem;}
.contTactForm{position:absolute;top:2%; right:5%; z-index:10000 !important;}
.innerPageform{position: absolute; top:120%; right:2px; width:320px }
.paddingNo{padding:0 !important;}
.searchbox {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 2%;
    right: 3%;
    width: auto;
    z-index: 1000000;
    padding: 0.2rem 1rem ;
    color: #000;
}
.searchbox .modal-content{box-shadow: none !important; background: none !important}
.input-group-append{margin-left: -1px; margin-top: -2px}
.formPadding{padding:0;}
.downArrowHide{display: none}

/*========New Bug Fixing 01/10/2020============================================*/
.anchor_link_Btn {background: #23536b; width: 100%;color: #fff !important;font-weight: 500;padding: 0.5rem 1.5rem;
border-radius: 0.3rem;text-transform: uppercase;font-size: 0.875rem;font-weight: 600;text-align: center; float:left !important;}
[class^="imghvr-"] a, [class*=" imghvr-"] a{position: relative !important; }

.banner-container .carousel{position: relative;}
.bottom-navigation { bottom: 0 !important; position: absolute;background: rgba(0, 0, 0, 0.1);
background: -moz-linear-gradient(top, rgba(115, 123, 168, 0.1) 0%, rgba(115, 123, 168, 0.1) 22%, rgba(115, 123, 168, 0.1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115, 123, 168, 0.1)), color-stop(22%, rgba(115, 123, 168, 0.5)), color-stop(100%, rgba(252,252,252,1)));
background: -webkit-linear-gradient(top, rgba(115, 123, 168, 0.1) 0%, rgba(115, 123, 168, 0.1) 22%, rgba(115, 123, 168, 0.1) 100%);
background: -o-linear-gradient(top, rgba(115, 123, 168, 0.1) 0%, rgba(115, 123, 168, 0.1) 22%, rgba(115, 123, 168, 0.1) 100%);
background: -ms-linear-gradient(top, rgba(115, 123, 168, 0.1) 0%, rgba(115, 123, 168, 0.1) 22%, rgba(115, 123, 168, 0.1) 100%);
background: linear-gradient(to bottom, rgba(115, 123, 168, 0.1) 0%, rgba(115, 123, 168, 0.1) 22%, rgba(115, 123, 168, 0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0 ); 
padding-top:0.5rem !important; z-index: 10 !important; height: 120px !important}
.bottom-navigation a{color:#fff !important;}
.footerPart{ bottom: 0px !important; position: absolute;background: rgba(115, 123, 168, 0.5); height: 86px !important; 
padding-top:0.5rem !important; z-index: 10 !important; width: 100%}
.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp > .wstabitem > li > .wstitemright{height: auto !important; 
padding:10px !important; margin-bottom: 0 !important}
.iMg_pos{object-fit: cover; object-position: center; height:500px; width: 500px;}
.callUs_lx{position: absolute;left: 2%;}
.logIn { border: 1px solid #000 !important; background: #fff; position: absolute; top: 1.5% !important; 
  right: 110px; width: 600px !important;
z-index: 1000000 !important;  padding: 2rem 1.5rem 1rem !important; color: #000;}

@media(max-width: 768px){
.bottom-navigation {background: #fff !important; float:left !important; height: auto !important;}
.bottom-navigation.affixed{position: static !important;}
.shopNow, .request-Quote { border-bottom: 1px solid #ddd; float: left; display: block; max-height: 100px;}
.bottom-navigation .request-Quote a {padding: 1.3rem 0 !important; color: #000 !important;
 padding-left: 4rem !important; font-size: 0.8rem;}
.bottom-navigation .shopNow a {color: #000 !important; padding: 1.3rem 0 !important;
 margin-left: 4rem !important; font-size: 0.8rem;}
.thumnal-icon { float: left !important; margin: 0.6rem 0 1rem 0 !important;}
.pl-0 { padding-left: 0 !important; }
/* .toplink li{margin:8px 15px !important;} */
.btn{margin:0 !important;}
.pagewrap{margin:0 !important;}
.imgB_color{display: none}
.imgL-container {float:left;}
.imgL-container .inner-wrap{background:transparent; position:relative !important; 
 margin-bottom: 2rem}
.inner-wrap img{width: 100%; height: 100%; margin:0 auto;}
.actionButton{width: 100% !important}
.column_4 img { width: 330px !important;}
.bag_jai_head.font-xl{font-size: 1.875rem !important}
.jail_Content_Descrpt{text-align: left; padding:1rem !important;}
.footer-main { padding: 0 0 0 1rem !important;}
.caption{width:100%; top:0; text-align: center;}
.caption .bha_heading_1{height: auto !important; background: none; text-align: center;
padding-left:0 !important;}
.tab-menu .tablink{width: 100%}
[class*="col-"] { width: 100% !important;}
.border-frame{width: 100% !important; min-height:200px !important}
.p-10{padding:0.5rem 2rem !important; text-align:left !important; }
.item-xxs-caption{width: 95% !important; padding:0.8rem !important;}
/* .mobHide{display: none !important} */
.downArrowHide{display: block !important;}
.formPadding{padding:0.5rem 2.5rem;}
.banner-inner img{height: 300px !important}
.banner-inner::before{width: 100% !important}
.banner-caption{width: 70% !important; left: 7% !important}
.wsmobileheader .wssearch.wsopensearch i.wsclosesearch{position: relative; z-index: 100!important}
.wsmobileheader .wssearchform{padding:0 0.8rem 0 0 !important;}

.wsmenu > .wsmenu-list > li >.navtext:hover{color:#000 !important; background-color: #fff !important;}
.wsmenu > .wsmenu-list > li >.navtext:hover a{color:#000 !important;}
.wsmenu > .wsmenu-list > li > a{display: inline-flex;width: 100%;white-space: nowrap;}
.wsmenu{height: 100vh !important; box-shadow: 0 0 50px 2px #d9d1d1; position: fixed !important; top:0 !important; 
 left: 0 !important;  z-index: 100002 !important;overflow-x: hidden !important;}
.wsmenu>.wsmenu-list>li>.navtext { text-align: left !important;}
.wsmenu > .wsmenu-list > li > .mbilewsstabing{left:0 !important; width:100% !important; display: block !important;}
.image-holder{width: auto !important;}
.wsmenu > .wsmenu-list > li > a{padding: 15px; font-size: 14px;text-align: left;border-right: solid 0px;
color: #666666;}
.bha-btn-secondry{display: block !important; padding:0.5rem !important; background: #a70e15 !important; width: 94% !important;
text-align: center;}
.hotLink{text-align: center !important;}
.bha-btn-menu{display: block !important; padding:0.5rem !important; background: #23536b !important; margin: 1rem 0.5rem;
text-align: center;width: 94% !important;}
.wsshoptabing{width: 100%; left: 0 !important; display: block !important;}
.wsmenu > .wsmenu-list > li > ul.sub-menu { position: static !important;display: block !important; top: 0 !important;  
 z-index: 1000; margin: 0px 0;border: solid 1px #eeeeee;}
.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp > .wstabitem > li > .wstitemright{display: block !important;}
.wsmenu_heading{display: none !important}
.headerfull{position: static !important; z-index: unset !important;}

#representus-contact{position: static; float: none !important;width: 92%;}
.item-description-xs{overflow: visible !important;}
.contTactForm{position:static; margin-top:5%;}
.userContactForm{padding: 1.3rem !important;}
.freequote-container {position: relative !important; top: 0 !important; left: -0.5rem !important;}
.certificate-section{ margin-top: 120% !important}
.awardTag{float: left !important;}
.awardTag img{margin-bottom: 2rem !important; width: 200px !important;}
.justify_center{justify-content: center !important;}
.hero-header{position: static;}
.innerPageform{position: static;width:320px;}
.inner-wrap{top:0 !important;}
.contentDescript{margin-top: 0 !important}
.paddingNo{padding: 0 0.8rem !important;}
.broucher-wrapper{width: auto !important}
.broucher-inner{padding:2rem !important;}
.fa-facebook, .fa-linkedin, .fa-twitter, .fa-youtube-play{border:0 !important;}
.breadcrumb-container{background: transparent !important;position: relative !important; z-index: 0 !important;}
.Toastify__toast { margin-top: 125px;}

.image-holder{width:260px !important; height: 200px !important;}
.image-holder img{height: 300px !important; object-fit: cover; object-position: center !important;}
.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp > .wstabitem > li > .wstitemright{width: auto !important;}
.wsshoptabing{width: 100% !important;}
.wsmobileheader .wssearch i{display: none !important}

}

@media(min-width: 360px){
  .topbar {background: #000; width: 100% !important; padding-left: 0 !important;}
  /*
  .top{margin-left:0 !important; margin-right: 8% !important; margin-top: 0 !important; 
    padding-left:8% !important; padding-right:8% !important;} */
  label{margin-bottom: 0 !important}
  .bha-btn-primary {white-space: nowrap;}
  .logIn{top:0; border:none;}
  .socialLink span{padding-right: 6px;}
  .socialLink a{margin: 0 1.5px;}
  
}

@media(min-width: 375px){
  .logIn{ background: #fff !important; border:none;}
}

@media(min-width: 667px){}

@media(max-width: 768px){
  .topbar {background: #000; width: 100% !important; padding-left: 5% !important; height: 40px !important}
  /*
  .top{margin-left:0 !important; margin-right: 8% !important; margin-top: 0 !important; 
    padding-left:8% !important; padding-right:8% !important;} */
  label{margin-bottom: 0 !important}
  .bha-btn-primary {white-space: nowrap;}
  .logIn{top:18.2% !important;width: 100% !important; right:0 !important; background: #fff !important; border:none;}
  .socialLink{display: flex;}
  .socialLink span{padding-right: 6px;white-space: nowrap;}
  .socialLink a{margin: 0 1.5px;}
  .bha_h_100{width:100%; height: 180px !important;}
  .sidehoverbar{display: none !important}
  .p-right, .p-left{width: 100% !important; display: block !important;}
  .news-inner{background: #fff !important; border:1px solid #d7d7d7 !important;}
  .social-share-box{width: 100% !important;}
  .viewAll{display: none !important}
  .gapTop{overflow-x: hidden; margin-top:110px !important}
  .carousel .carousel-inner .item, .carousel .carousel-inner .carousel-item{overflow: hidden !important;}
  .call-us-mob{display: block !important;}
  .headtoppart{margin-top: 61px !important;}

  .banner-container{margin-top: 142px !important;}
  .banner-container .caption{top:0 !important;}
  .caption-inner{height: auto !important;}
  #representus-contact{margin-top: 30px !important}
  .contTactForm{top: 80% !important; position: absolute; z-index: 0 !important;}
  .banner-container-xxs{overflow: visible !important;}
  .banner-container-xxs{overflow-x: unset !important;}
  .card-slider__container__list__card img{width: 100% !important;}
  .card-slide_container{ top: 0 !important; }
  .hero-img{height: 320px !important}

  .item-xs-caption{width: 90% !important}
  .mObiLe{margin-top: 134% !important}

  .headerfull{height:0 !important;}
  .caption .btn{margin: 0 !important}
  .modal{top:0 !important;}
  .card-slide_container{bottom: -6px !important; width: 101% !important;z-index: 10;left: -4px;}
  .card-slider__container__list__card img{height: 300px !important}
  .card-inner{top: -17px !important;}
  .card-slider__container__list__card__content__button__learn-more{text-align: center !important;}
  .card-slider__container__list__card__content{height: auto !important; padding-bottom: 1rem !important}
  .banner-slider-container .bha_heading_2{margin-top: 20px !important;}
  .padding_news{margin-top: 400px !important}
  .banner-container-xxs .carousel-indicators{display: none;}
  .banner-slider-container{margin-top: 103px !important;}

  .avtar { position: absolute; top: 0px !important;  left: 1rem; width: 80px;}
  .call-us { font-size: 1.5rem !important; font-weight: 700; padding-left: 7rem !important;
    float: left; text-align: left; width: 100%; max-height: 100px; padding-top: 10px;
    line-height: 2.5rem;}
  .socialLink { width: 100%; margin-top: 1.2rem !important;}
  .pt-450{padding-top:450px !important}
  .mt-570{margin-top: 510px !important;}
  .contTactForm{width: 88%;}
}


#root{overflow-x: hidden !important;}
.tab-content{padding:15px 0 10px 15px !important}
.hot-deals-item-wrapper{text-align: center;}
.hot-deals-item-wrapper .item-pro-inner{padding-bottom:2rem !important;}
.hot-deals-item-wrapper.imgwrap{text-align: center !important;}
.filterImg{width:200px !important; height: 200px !important; object-fit: cover !important; 
	object-position: center !important; border:none !important;}

.imgB_color{display: none}
.iMg_pos{height: 850px !important; width: 90% !important; padding:1rem 0 !important}
.contentDescript{margin-top: 6.2rem !important;}
.item-pro-inner{float:left !important; width: 100% !important}
.bg-opeque{float:left !important; width: 100%; padding: 2rem 0 !important;}
.bg-opeque h2{margin: 0 !important}
.banner-container-xxs .carousel-indicators{bottom:110px !important}
.chat-button{display: none}
.caption .btn{margin-top: 30px !important}
.placement-client .slick-slide{padding:12px !important; margin:0 !important}

.news-inner{background: #fff !important; border:1px solid #d7d7d7 !important;}
.call-us-mob{background: #000 !important; padding:0.2rem 0; text-align: center; font-weight: 600; font-size: 1.4rem; 
 
}
.gapTop{overflow-x: hidden; margin-top:101px}
.footer-middle-list{display: none}
.copyright p{padding-top:1rem !important;}

/* ///loader */
.loader-container {
  background-color: rgba(255,255,255,0.7);
  position: fixed;
  width: 100%;
  z-index: 2147483647;
  left: 0;
  top: 0;
  min-height: 100vh;
  
}
.loader {
  position: fixed;
  z-index: 999;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body {
  -webkit-overflow-scrolling: touch;
}

.Toastify__toast-container--top-right { margin-top: 125px !important;}


/*========Banner bottom icon fixes============================*/
.banner-container .bottom-navigation img{width:auto !important;}

/*=======Resolution fixing============================*/
.pagewrap{width:88.2% !important;}
.wsmain{max-width: 100% !important}
.carousel-indicators{z-index: 1 !important}
.z-index{z-index: 1 !important}
.pro-equipment-section .slick-prev, .pro-equipment-section .slick-next{z-index: 1 !important}
@media(max-width: 1280px){
  .pagewrap{width: 98% !important}
  .wsmenu > .wsmenu-list > li > .navtext{font-size: 1.1rem !important;}
  .caption{top:10% !important;}
  .bottom-navigation{bottom:0 !important;}
  .placement-client .slick-slide{ margin:17px;}

}

@media(max-width: 1024px){
  .pagewrap{width: 98% !important}
  .wsmenu > .wsmenu-list > li > .navtext{font-size: 0.750rem !important;padding: 25px 8px !important;}
  .caption{top:10% !important;}
  .bottom-navigation{bottom:0 !important;}
  
  .tab-menu{float: left; margin-bottom:0 !important}
  
  .wsmenu > .wsmenu-list > li > .navtext{padding:25px 3px !important; margin: 0 1px !important;}
  .bha-left img{height:370px}
  .anchor-logo img{width:120px !important; margin-top: 0.2rem;}
  .hotLink{margin-top:1.2rem}
}

.footer-main .title{color:#fff;}

.paddingR-3{padding-right:3rem}

@media(max-width:768px){
  
  .pagewrap{Width:100% !important; padding:1.5rem 1rem}
  .topbar{padding-left:0 !important}
  .bha-tab{position: static; float:left; height:320px !important; bottom:0 !important}
  
  .tablink{padding:10px !important}
  .tab-menu{position:static; margin-top:15px}
  .paddingR-3{padding-right:1rem}
  
  .banner-img-100{height:500px !important}
  .padding_news { margin-top: 500px !important;}
  
  .card-slider__container__list__card img { height: 350px}
  .main-panel{width:100% !important}
  .col-pl-0-mob{padding-left:0}
  .signInBox{width:100% !important}
  .banner-container-xxs{margin-top:40px !important}

  .iMg_pos{height:auto !important; width:100% !important}
  .breadcrumb-container{margin-top:22px }
  .avtar { position: absolute; top: 0px !important;  left: 1rem; width: 80px;}
  .call-us { font-size: 2rem !important; font-weight: 700; padding-left: 7rem !important;
    float: left; text-align: left; width: 100%; max-height: 100px; padding-top: 0;
    line-height: 2.5rem;}
  .socialLink { width: 100%; margin-top: 1.2rem !important;}
  .wsmenu > .wsmenu-list > li > .navtext{padding-left:15px !important}

}

@media(max-width:921px){
  .wsmobileheader > .smllogo { width: 20%; margin: 10px auto 0px auto; }
  /* .rightLink{margin-left: auto; margin-right: auto; width:100%; justify-content: center; display:flex;} */
  .tab-menu{float: left; margin-bottom:102px !important}
  .wsshoptabing{width:100%; left:0 !important}
  .topbar {padding:0 0 0.6rem}
  
}

@media(max-width:921px){
  .col-100{max-width: 100% !important; display:table}
  .nav-pills .nav-item .nav-link{white-space: nowrap !important;}

  
}

@media(max-width:800px){
.call-us{font-weight: 400 !important}
.downArrowHide {display: block !important;}
.wsmenu > .wsmenu-list > li > a { display: inline-flex; width: 100%; white-space: nowrap;}
.wsmenu > .wsmenu-list > li > .navtext{padding-left:15px !important}
.wsmenu > .wsmenu-list > li > .wsshoptabing > .wsshopwp > .wstabitem > li > .wstitemright{display: block !important;}
.wsmenu > .wsmenu-list > li > .bha-btn-secondry, .bha-btn-primary{width:90% !important}
}

.bha-left { background: #ddd; width: 100%; position: relative; overflow: visible; padding-bottom: 0;
   height: auto !important;}
.banner-img-100{height: auto}
.card-slide_container{bottom:0 !important}


#represent-us-map-div{height:38vh}
#representus-contact .form-group label{color:#fff !important}
.footer-main .broucher-inner .form-group label{color:#fff}
.footer-main .broucher-inner .btn{margin: 0.450rem 0 !important;}

/*=====New css for fixing UI-19/10/2020=================================*/
.errorMsg{font-weight: 600; margin-bottom: 0 !important; font-size: 0.875rem; color:#d60b15 !important}
.item-xs-caption .item_heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
  color: #0f416a;
}

.ant-popover-inner-content form{padding:1rem 1rem 1rem 1rem}
.signInBox{width:550px;}
.ant-popover-inner-content .login-heading{border-bottom: 0; padding:1rem 0 !important}
.pwdlink { color: #000 !important; text-transform: none !important; padding: 0 !important;
   margin: 0 !important; font-weight: 500;}

/*=======New css for fixing UI issues 12-Nov-2020=================*/
.avtar { position: absolute; top: -27px; left: 9px;}
.call-us { font-size: 2rem; font-weight: 700; padding-left: 7rem !important;}
.socialLink { text-transform: uppercase; font-size: 1.2rem; font-weight: 500; padding: 0;
  text-align: right; margin-top: 0.4rem;}

@media(max-width:640px){
  .call-us { font-size: 1.5rem !important;
    font-weight: 700 !important;
    padding-left: 7rem !important;
    margin-top:0;}
    .avtar { position: absolute; top: -20px !important; left: 9px;}
    .socialLink {margin-top: 0.3rem !important;}
}

@media (min-width: 576px){
  .col-sm-6 {flex: 0 0 100%; }
  
}


.user-setting{background:rgb(255, 255, 255); margin:0;padding:0; list-style-type: none;
   position:absolute; top:1rem; right:0; box-shadow: 0 0 10px #ddd;}
.user-setting li{color:rgb(105, 105, 105);font-weight: 500; font-size: 0.8rem; text-transform: uppercase;
border-bottom:1px solid #f2f2f2; width: 100%;
margin: 0;padding:0.650rem 1rem;cursor: pointer; transition: 0.3s;}
.user-setting li:hover{background-color: #f8f8f8;}
.user-setting li a{color:rgb(105, 105, 105) !important; font-weight: 500 !important;}

.user-setting:before, .user-setting:after {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 19px;
  border: 8px solid transparent;
  border-bottom-color: #dddddd;
}

.user-setting:after {
  right: 20px;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
.wsmenu > .wsmenu-list > li > .navtext {
    line-height: 16px; text-align: right; padding: 25px 8px;
    margin: 0;}
/*----New Css Fixing 29/11/2020---------*/
.anchor-logo{padding-top:5px !important;}
.call-us{font-size: 2rem; font-weight: 700;padding-left: 7rem;}
.avtar{position: absolute; top:-27px; left: 9px}
.socialLink{text-transform: uppercase; font-size: 1.2rem; font-weight: 500;padding:0;
text-align:right;margin-top: 0.4rem;}
.socialLink a{padding:0; background:#000;width: 35px; height: 35px; text-align: center; 
  display: inline-block; transition: 0.3s; transform:scale(1); margin:0 0.2rem;}
.socialLink a:hover{background: #1573b1; transform:scale(1.1)}
.project-section{width:100%;}
/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 575.98px) 
{ 
  
  .promo-caption:after{display: none !important;}
  .col-sm-6 {flex: 100% !important; max-width: 100% !important; }
 
  #represent-us-map-div {
    margin-bottom: 0rem;
    margin-top: 0px !important;
    width: 100%;
    height: 53vh !important;
    float: left;}
    .tab-menu{top: 0;}
    .bha-tab{bottom: 0px;}
    .banner-about img{height: 350px;}
    .seperator{position: relative; top:-15px; left:0 !important}
    .pt-450{padding-top:450px !important}
   
}

@media (max-width: 640px){

.map-responsive { height: 100vh !important; width:110%}
}

/* // Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) 
{
  .hero-img { width: 100%; object-fit: cover; height: 320px;}
  .col-sm-6 {flex: 100% !important; max-width: 100% !important; }
  .contTactForm{width:87%}
  .broucher-wrapper{width:100% !important}
  .tab-menu{top: 0;}
  .bha-tab{bottom: 0px;}
  .pagewrap-inner p{width:100%;overflow-wrap: break-word;}
  .downArrowHide{display: block !important;}
  .pt-450{padding-top:450px !important}
  .mt-570{margin-top: 510px !important;}
  .map-responsive{
    overflow:visible;
    padding-bottom:16.25%;
    position:relative;
    height:40vh;
  }
}

@media (min-width: 812px) {
.header-logo{top:120px;}
.banner-container-xx .carousel-inner img{height:800px !important}
.proj-object-fit{max-width:100%;}
.promo-caption-left::before{left:-10px;}
.wsmobileheader > .smllogo {display: block; width: 200px; margin: 7px auto 0px auto; float: none; 
  padding-left: 0px;}
  
.bha-tab{bottom: -50px;}
.wsmenu > .wsmenu-list > li > .navtext{text-align: left;}
.downArrowHide{display: block !important;}
  
}

/* // Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) 
{
 .hero-img { width: 100%; object-fit: cover; height: 320px;}
 .call-us-mob{padding:1rem 0 !important}
 .wsmenu > .wsmenu-list > li >.navtext:hover{color:#000 !important; background-color: #fff !important;}
 .wsmenu > .wsmenu-list > li >.navtext:hover a{color:#000 !important;}

}

/* // Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1199.98px){
  .hero-img { width: 100%; object-fit: cover; height: 320px !important;}
  .card-slide_container{top:0 !important;}
  /* #represent-us-map-div {height:100% !important; background: #f00 !important;} */
  
}
.morebtnR button {background: #235168; color: #fff; border: none; box-shadow: none;
  padding: .5rem 2rem; border-radius: .2rem;}
.morebtnL button { background: #235168; color: #fff; border: none;
  box-shadow: none; padding: .5rem 2rem; border-radius: .2rem;}
.morebtnL { position: absolute; bottom: 10px; left: 15px;}
.morebtnR { position: absolute; bottom: 25px; left: 65px;}

/*-------Card details setting-------------------------*/
#msform .form-group .form-control{font-size: 0.850rem !important;}
.form-group .text-small{font-size: 0.850rem !important; margin-bottom: 0.5rem !important;}
form iframe{ width: 100% !important; padding-left:10px !important}

form.form-group div iframe body input{border:none !important;
    border-style: inset !important;}

#ccnumber, #ccexp, #cvv{ font-size: 0.850rem; padding:10px 4px !important;
  box-shadow:0 0 8px rgb(243, 243, 243) !important;}
#nameonCard{padding-left:4px !important; box-shadow:0 0 8px rgb(243, 243, 243) !important;}

#ccnumber:focus{outline: 0 !important; box-shadow: none !important;}
#CollectJSInlineccnumber:focus{outline: 0 !important; box-shadow: none !important;}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /*
  border: 1px solid green !important;
  -webkit-text-fill-color: green !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important; */
  transition: background-color 5000s ease-in-out 0s !important;
}


/* input:valid {
 border: 1px solid green !important;
}

input:invalid {
  border: 1px solid green !important;
} */

input:focus, textarea:focus, select:focus{outline: none !important; box-shadow: none !important;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: groove;
background-color: #eee;}


body input:focus{outline: 0px transparent !important;}
input[type=text]:focus {border: 1px solid #555;}
form.form-group .form-control:focus{outline: 0 !important;}

form #ccnumber{position: relative;}
form .form-group .font-icon{position: absolute; top:2.650rem; right:1rem; color:#888}
form .form-group .font-icon-info{color:#888}

.paymentCard{margin:0; padding:0}
.paymentCard i{font-size: 2.3rem; margin:0.180rem}
.paymentCard i.visa{color:#01579f}
.paymentCard i.mastercard{color:#eb001b}
.paymentCard i.amex{color:#60c7ee}
.paymentCard i.discover{color:#f76e20}
.paymentCard i.dinerClub{color:#009fda}
.paymentCard i.JcbCard{color:#ca4638}


/* css by mohit verma */

.ac-container {
  max-width: 100%;border: 1px solid #ccc;border-top: none;}
.ac-container label {
  height:52px;line-height: 1.8;font-size: 20px; padding: 8px 20px 8px 45px; display: block; cursor: pointer; color: #666; background: #f8f8f8; border-top: 1px solid #ccc;margin-bottom:0;position:relative;}
.ac-container {
  width: 100%;margin: 0px auto 10px;}
.ac-container .main-div-ac{position: relative;
}
.ac-container label:hover { background: rgb(236, 236, 236);
}
.ac-container .main-div-ac .radio-btn-clickable {-webkit-appearance: none;background-color: #fafafa;border: 1px solid #cacece;box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);padding: 8px;border-radius: 50px;display: inline-block;left: 15px;top: 15px;position: absolute;cursor: pointer;
}
.ac-container .main-div-ac input{
  display: none;cursor: pointer;
}
.ac-container .main-div-ac input:checked + label {
	background-color: #f2f2f2;
}
.ac-container .main-div-ac input:checked + label:after {
content: '';width: 12px;height: 12px;border-radius: 50px;position: absolute;top: 18px;left: 18px;background: #0079bf;box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);text-shadow: none;font-size: 32px;
}
/* Contents */
.ac-container article {overflow: hidden;height: 0;
}
.ac-container .form-new .form-group {position: relative;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;
}
input[type=number] {-moz-appearance:textfield;
}
.ac-container .form-new .form-group .accordian-input-box{outline: none;display: block;position: relative;width: 100%;padding: 0.375rem  2.15385rem 0.375rem 1rem;min-height: 45px;margin: 5px 0px 15px 0px;font-size: 1rem;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;
}
.ac-container .form-new .form-group .lock-icon-main-box {position: relative;
}
.ac-container .form-new .form-group .lock-icon-main-box i{position: absolute;top: 15px;right: 15px;font-size: 20px;color:#999
}
.ac-container .form-new .form-group p{ margin-bottom:0.5rem;
}
.ac-container .form-new .form-group p span i{color:#999;
}
.ac-container input:checked ~ article { min-height: 235px;border-top: 1px solid #ccc;padding:1rem;
}
.creditCardTypes-list {list-style: none;margin-left: 0;
}
.float-right{float:right;}
.float-right img{margin:0.1875rem;}
.paymentProviderHeader-img {height: 1.92308rem;}
.cart-total-items{font-size: 0.8475rem;color:#666666;margin-bottom: 5px;margin-left: 0.9375rem;}

.product-detail-quantity{border-bottom: 1px dashed #555;border-top: 1px dashed #555;
  padding:.75rem .9375rem;font-size: .85rem;color: #555;font-weight: 600;}
.product-cart-detail .about-product{padding:1.6875rem 0.9375rem 0.625rem 0.9375rem;}
.product-cart-detail .about-product .product-specification{padding:0 0 1.25rem 0;font-size: .75rem;}
.card-thumbnail {float: left;margin: 2px 8px 0 0;border: 1px solid #eaeaea;object-fit: cover;object-position: center;width: 55px;height: 55px;
}
.product-subtotal{border-bottom: 1px dashed #555 ;border-top: 1px dashed #555;padding: 0.75rem 0.9375rem ;}
.product-subtotal .row > div{font-size: .85rem;color: #666;margin-bottom: 10px;}
.apply-coupon{padding:.75rem 0.9375rem;}
.apply-coupon a{font-size:.85rem;color: #4496f6;}

.total-product-price{background-color:#f1f1f1;border-bottom: 1px dashed #555 ;border-top: 1px dashed #555;padding: .75rem .9375rem;
  font-size: 1rem;color: #444;
}
.total-product-price div span{font-size: 1.8534rem;font-weight: 700;color:#333;
}

.cart-actions{
margin: 0.75rem auto;text-align: center;
}
.cart-actions .down-arrow-icon{
  color:#999;
}
.btn-see-all {
  font-size: 1rem;padding: 0.3rem 0.7345rem;background-color: #fff;border:1px solid #ebebeb;border-radius: 2px;color: #4496f6;cursor: pointer;outline: none;transition: 0.3s;
}
.btn-see-all:hover {
    border:1px solid rgb(214, 214, 214);outline: none!important;
}
.btn-see-all:focus,.btn-see-all:active {
  outline: none!important;
  
}

/* mohit 8-feb checkout css*/

.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header > .pannel-header > .col-md-8 .float-left{color:#666;font-weight: 400;}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box .form-group .form-control {border:1px solid #aaa!important;color:#222; background-color: #fff!important;}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box .form-group .form-control:focus {color:555;background-color: #fff!important;}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{border:1px solid #aaa!important;color:#222; background-color: #fff!important;}
.ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-arrow {color:#000!important;}

.ant-collapse > .ant-collapse-item > .ant-collapse-header{background: #f7f7f7!important;border-bottom:1px solid #b3b3b3!important;border-right:1px solid #b3b3b3!important;border-left:1px solid #b3b3b3!important;}
.ant-collapse > #stepp1 > .ant-collapse-header:nth-child(1){border-top:1px solid #b3b3b3!important;}
.ant-collapse > .ant-collapse-item > .ant-collapse-header:nth-child(5){border-bottom:1px solid #b3b3b3!important;}

.ant-collapse-content > .ant-collapse-content-box{background:#fff !important;}
.ant-collapse-content > .ant-collapse-content-box {margin: 0 0.1rem !important;}


.ant-collapse-ghost > #stepp6 > .ant-collapse-content > .ant-collapse-content-box{padding: 0;margin:0!important;}
.ant-collapse-ghost > #stepp6 > .ant-collapse-content .ant-collapse-item .ant-collapse-header{background:rgb(250, 250, 250)!important;}
.ant-collapse-ghost > #stepp6 > .ant-collapse-content > .ant-collapse-item .ant-collapse-header > .ant-collapse-content .ant-collapse-content-box{margin:0!important;}



.bha-btn-new{
  background: #a70e15;color: #fff !important;padding: 0.5rem 1.5rem;border-radius: 0.3rem;text-transform: uppercase;
    font-size: 0.875rem;font-weight: 600;text-align: center;box-shadow: none !important;border:0 !important;vertical-align: bottom;}
.bha-btn-new:hover{background: #8f070e !important; transition: 0.3s}
.bha-btn-new-blue{
  background: #23536b;color: #fff !important;padding: 0.5rem 1.5rem;border-radius: 0.3rem;text-transform: uppercase;
    font-size: 0.875rem;font-weight: 600;text-align: center;box-shadow: none !important;border:0 !important;vertical-align: bottom;}
.bha-btn-new-blue:hover{background: #5ea7bd !important;transition: 0.3s;color: #fff;}

.order-summary .product-cart-detail .product-specification .ant-image{width:90%;}


@media (max-width: 576px){
.bha-btn-new-blue, .bha-btn-new {width: 100% !important;margin-top: 5px;}
.total-product-price div span {font-size: 1rem;padding-right:5px;}
}
@media (max-width: 768px){
  .topPadding{padding-top:8rem !important;}
  .call-us-mob {padding: 1rem 0 0 0 !important;}
  .total-product-price div span {font-size: 1.285rem;}
  .order-summary .product-cart-detail .product-specification .ant-image{width:100%;}
}
@media (max-width: 921px){
/* .rightLink {margin-left: auto;margin-right: auto;width: 100%;justify-content: center;display: flex !important;} */
.total-product-price div span {font-size: 1rem;}
}


/*===== added Login setting css on 15/02/21===================*/

#myModalView .modal-dialog .modal-content{border-radius: 0 !important;}
.leftWrap{width: 100%; height: 100%; position: relative;}
.leftWrap::before{content:''; position: absolute; top:0; left:0; right:0; bottom:0; background:rgba(4,10,87,0.75);}
.LoginLeft{position: absolute; top:15%; left:0; text-align: center;}
.login-heading{ padding:2rem 0 1rem; font-weight: 600; font-size: 1.2rem; text-align: center;}
.LoginLeft p{font-size: 1rem; width: 100%; line-height: 25px; padding:0  2rem 1rem; text-align: center;
text-transform: none; font-weight: 400;}
.Img-object-fit{width:100%; height:100%; object-fit: cover; object-position: center;}

.LoginReft{ padding:3rem 2rem; background-color: #fff; height: 100%;}
.LoginReft .popup-decscription .form-group .form-control{width: 100%;}
.LoginReft .popup-decscription{padding:0}
.LoginReft .popup-decscription .form-group .errorMsg{margin:0.75rem 0; font-weight: 400;
text-align: left; text-transform: none;}
.LoginReft .popup-decscription .form-group .pwdlink{color:#000 !important;display: block;text-align: right;}
.LoginReft .loginFooter{background:transparent; width:100%; padding:1rem; text-align: center;}
.LoginReft .loginFooter a{color:#444 !important; text-transform: none;font-weight: 400; font-size: 0.875rem; 
  display: block;}
.top-nav-link .LoginReft .loginFooter a span{color:#153e52;margin-top: 0 !important; padding:0 0.5rem;font-weight: 600;
float:none !important;font-size: 0.875rem !important; }

.LoginReft .loginFooter a span:hover{ text-decoration: underline;}
.LoginReft .loginFooter a:hover{text-decoration: none;}
.popup-decscription #loginformpopup .form-group{padding:1rem 0 0 !important}
.forgotPwd{position: absolute; right: 12px; top: 24px; }
.popup-decscription #loginformpopup .form-group .pwdlink{color:#153e52 !important}
.LoginReft .popup-decscription .form-group .btn{padding:0.750rem}
.Privacy{padding:1rem 0 0; font-size:0.750rem;color:#666; text-align: left;text-transform: none;}
.LoginReft .popup-decscription .form-group .form-control:focus{border:1px solid #2a8cbe !important}
.login-warning-div .ant-message-notice-content {
  display: inline-block; padding: 18px 30px !important; background: #000; border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: all; color: #fff; font-size: 1rem; font-weight:600;
  line-height: 1.5rem; z-index: 10000 !important;}
  .login-warning-div .ant-message-notice-content i{margin-top: 3rem !important;}

.user-setting-menu{list-style-type: none; background: #fff; margin:0; padding:0;}
.user-setting-menu li{font-weight: 500; font-size: 0.875rem; text-transform: none;
  border-bottom:1px solid #f2f2f2; width: 100%;
  margin: 0;padding:0.650rem 3rem;cursor: pointer; transition: 0.3s;}
.user-setting-menu li a{color:rgb(105, 105, 105);}
.user-setting-menu li:hover{background:#e6f7ff}

.search-bar-popup{left:1030px !important}
.seachbox-top-bar {padding: 10px;}
.seachbox-top-bar span .ant-input{border:1px solid rgb(209, 209, 209); box-shadow: none;}

.results { max-height: 300px; overflow-y: scroll; border:none !important; box-shadow: none !important;}
.results li{margin-right: 8px;}
.results li a:hover{background:#e6f7ff !important; color:#000}
.results li .media{padding:0 !important}
.results li .media .ant-image{margin:0 0 1rem !important; width: 60px; object-fit: cover;
object-position: center}
.results li .media .media-body{margin-left:0.750rem;}

.ant-rate-star.ant-rate-star-full {color: gold;}
.login-warning-div .ant-message-notice-content i{margin-top: 3rem !important;}
.ant-input-group-addon .ant-btn-primary{background: #23536b; border-color:#23536b}



.compare-collaspe-div {
  width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
}
/*=======View Details added======================*/
.productbadges ul{padding:0; width:100%;margin-left: -15px;}
.productbadges ul li{margin:1rem 1rem 1rem 0; display: inline-block;}
.productbadges ul li img{width:110px; height:80px; object-fit: contain; object-position:top center;}
.detail-breadcrumb{padding:1rem  !important; display: block; width: 100%;}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{background:#2d698b !important;}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left 
.ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, 
.ant-menu-inline .ant-menu-item::after{border-right: none !important;}

/*============Category page css========================*/
.breadcrumbTop{padding:0.6rem 0 1rem  !important; display: block; width: 100%;
border-bottom:1px solid rgba(0, 0, 0, 0.05)}
.ant-breadcrumb span span a{font-family: 'Roboto', sans-serif;color: #6c757d; font-weight: 700;
font-size: 0.850rem;}
.ant-breadcrumb .ant-breadcrumb-link{color:#000; font-weight: 700;}
.ant-breadcrumb .ant-breadcrumb-link a:hover{color:#044c72}
/* .pro-equipment-section span a{font-weight: 700;} */
.product--heading{margin-bottom: 1.4rem; box-shadow: 0 0 10px #f9f9f9;}
.noprodct{float:left; padding:1.5rem; text-align: center; box-shadow: 0 0 10px #f9f9f9;
border-radius: 0.2rem; font-size: 2rem; width: 100%;}

.seeAlllink{float: right; font-size: 0.875rem; text-transform: none; font-family: 'Roboto'; color: #0b3146;
  padding: 0.5rem 0 0; font-weight: 600;}
.seeAlllink:hover{color:#044c72}


/* mohit 17 feb */

.top-nav-link{width:100%; margin:0; padding:0; list-style-type: none;margin-top: 0.5rem;}
.top-nav-link li{display: inline-block; margin:0;font-weight: 700; font-size: 0.8rem; text-transform: uppercase;vertical-align: middle;}
.top-nav-link li a{margin-top:0 !important}

/*
.top-nav-link li li a{margin-top:0.650rem !important}
.mobHide a{margin-top:0 !important}
.top-nav-link li:last-child{margin-right:0; margin-top: 11px !important; float: right;}
*/

.results li .compare-widget__title{margin-top:0px !important} 

.side-bar-menu .ant-menu-light .ant-menu-item{align-items: center;display: flex;}
.ant-menu-inline .ant-menu-item:not(:last-child) {margin-bottom:0px!important;}
.sidebar-inner > li {margin: 0 !important;box-shadow:none !important;}
.ant-menu-inline .ant-menu-item{width:100% !important;}
.ant-menu-inline .ant-menu-item-selected a{color: #fff !important;}

.form-group-new{margin-bottom: 0.5rem;position: relative;padding:2px 10px 0 0 !important;}
.input-control:focus {border: 1px solid #8db8ce;}

@media(max-width: 640px){
  .form-group-new{padding:2px 0 0 0 !important;}
}

@media(max-width: 768px){
  .top-nav-link{text-align: center;}
}

@media(min-width: 360px){
  .top{margin-left:0 !important; margin-right: 0% !important; margin-top: 0 !important; 
    padding-left:8% !important; padding-right:8% !important;}
}

@media screen and (max-width: 992px){
.icon-content {
    width: 25%;font-size: 0.8756rem;
}
.top{margin-left:0 !important; margin-right: 0% !important; margin-top: 0 !important; 
  padding-left:8% !important; padding-right:8% !important;}

  .top{margin-left:0 !important; margin-right: 0% !important; margin-top: 0 !important; 
    padding-left:8% !important; padding-right:8% !important;justify-content: center !important;}
  }


/*----Added last child------------------*/
.top-nav-link li:last-child{margin-right:0; cursor: pointer;}
.top-nav-link li span{margin:0; cursor: pointer;}
.top-nav-link span{margin:0 1rem}

.add-address{position: absolute;right: 3.8%;top: 0.8%;}
.tabs span.add-address:hover {color: #fff !important;}


  @media (max-width: 45em) {
    .add-address{position: static; margin:0.5rem 0 !important;}
  }
        
.tab .card{box-shadow: none;}
  
