/*========Costom layout css ==============*/
body{background: #fff; font-family: 'Roboto', sans-serif !important; font-size: 1rem;
overflow-x: hidden; padding-right: 0 !important;}
/*======================================*/
.headtoppart {background: #000 !important;color: #fff;}
.toplink span {border-right: 1px solid #fff;float: left;height: 12px;
    margin-top: 15px;}
.topbar{background: #000; width: 100%}
.headerwp > * { z-index: 100;position: relative;}
.headtoppart a{color:#fff !important; font-weight: 700; font-size: 0.8rem; text-transform: uppercase;}
.address span{border-left:2px solid #fff; margin:0 1rem;}
.address a img{margin:0 0.6rem;}

.form-outer{background: #111 bottom left no-repeat; 
  background-position: center; background-size: cover; width: 100%; position: relative; float:left; padding: 1rem 15px 0 0;}
.form-outer label{color:#fff; margin:0 0 0.2rem 0; padding:0; font-size: 0.850rem}
.form-outer .form-control{padding:0.350rem; font-size: 0.850rem}

.broucher-fixed {top: 56px; z-index: 1000 !important; position: fixed !important;width: 100%;transition: top 0.3s;}
.btn-bha-primary{background: #23536b; color:#fff;}
.btn-bha-primary:hover{background: #296583; transition: 0.3s; color:#fff;}
.right-section{float: right;width:auto;text-align: right;height: 80px;}
.hotLink{display: inline; margin-top: 1.5rem;}
.hotLink a{text-decoration: none;}
.hotLink a:hover{text-decoration: none; color:#fff;}
.call_us{font-weight: 700; font-size: 1.2rem; width:auto; text-align: center; float: left;line-height: 1.3rem;
padding-top: 1.2rem}

@media(max-width: 901px){ /* For mobile phones: */ [class*="col-"] {width: 100%;}
  .topbar{position: absolute; left: 0; right:0;}
  .address{width:100%; margin: 0 !important; background:#000 !important; padding:0.5rem !important;}
  .address span{border-color:#fff !important; margin:0 0.5rem !important;}
  .address a{color: #fff !important; font-size: 0.575rem}
  .mobile{display: none}
  .right-section{height: 100%; margin-bottom: 1rem; margin-top: 3rem;
    border-top:1px solid #ddd;}
  .hotLink{width: 100%; margin-top:1rem;}
  .call_us{width:100%; text-align: center; font-size: 1rem !important}
  .hotLink a{width:100%; display: block; text-align: center; float:left;}
  .form-outer {padding-bottom: 2rem}
  .location{width: 100%; display: block;}
  .pr-5{padding:0 !important;}
  
  .float-right-sm{float:left;}
  .modal{top:66px !important; margin:0 15px !important;}
 }
/*=====Login/Signup Css================*/
.loginBtn:hover{background: #214aa8 !important}
.wrapper { min-height: 100vh;position: relative;top: 0;height: 100vh;}
.wrapper.wrapper-login {display: flex;justify-content: center; align-items: center;
    height: unset;padding: 15px;}
/*===Model box CSS====*/
 #myModal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 58% !important;
    margin: 0 auto;}
#signUpModal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50% !important;
    margin: 0 auto;}
.modal-content{border-radius: 10px !important; font-family: 'Roboto', sans-serif !important;}
.modal-dialog {
    max-width: 400px;
    margin: 1.75rem auto;
}
.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    z-index: 100;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.social-login{width: 100%; float:left; margin-bottom: 1.5rem; position: relative; z-index: 1}
.facebook{padding:0.6rem 0; border:1px solid #313f99; text-align: center; float:left; width: 49%; margin-right: 2%;
text-decoration: none; color:#000; font-weight: 600; transition: 0.5s ease-in-out}
.facebook:hover{background: #313f99; text-decoration: none; color:#fff;}
.google{padding:0.6rem 0; border:1px solid #eb3a3a; text-align: center; float:left; width: 49%;
text-decoration: none; color:#000; font-weight: 600;transition: 0.5s ease-in-out}
.google:hover{background: #eb3a3a; text-decoration: none;color:#fff;}
.facebook, .google{display: block; text-decoration: none; color:#000; font-weight: 600}
.blue{color:#313f99;font-weight: 700},.red{color:#eb3a3a; font-weight: 700}
.horz-divider{width: 100%; background: transparent; float:left; margin-bottom: 1rem; position: relative;}
.sliping-ling{width:100%; height:0.1rem; background: #ececec ;}
.slipingText{position: absolute;top: -14px;left: 46%; background: #fff;padding: 0px 10px;}
.sign-up{font-size: 1rem; color:#00366c; text-transform: uppercase; font-weight: 700}
.sign-up:hover{text-decoration: none;}
/*---- Material Design css -----*/
/*textarea { resize: none;}*/
.input-label{font-size: 1.1rem; font-weight: 600;}
.input-control{ background: none; color: #000; font-size: 18px; display: block; width: 100%;
 border: 1px solid #8db8ce; border-radius:0.3rem;}
.loginInner{padding:2rem; background:transparent; box-shadow: 1px 1px 2rem 0.1rem #5c5c5c;}
.loginInner .form-control{padding:0.7rem 0.5rem; background: transparent;}
.loginInner .form-control:focus{background:#fcfcfc; outline: none; box-shadow: none;}
::-webkit-input-placeholder { /* Edge */
  color: #afafaf !important; font-size: 0.9rem}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #afafaf !important;font-size: 0.9rem}
::placeholder {color: #afafaf !important;font-size: 0.9rem;}
.loginInner .btn-blue{padding:0.5rem 3rem;}
.loginInner .btn-blue:focus{box-shadow: none; outline: 0; transition: 0.5s}

.login-heading{text-transform: uppercase; font-size: 1.5rem; padding-bottom:1rem;}
.center p{padding:0.5rem 1rem; color:#fff; font-size: 1.1rem}
.center h1{padding:1.6rem 0 0 0; font-size: 1.3rem; color:#fff; font-weight: 600;}
.imgContainer img{  display: block; margin: 0 auto 0 auto; /* Centred */ width: 100%;}
.form-group{margin-bottom: 0.5rem; position: relative;}
.errorMessage{color:#f00; padding:0.2rem 0; position: absolute; bottom:-1.7rem; left: 0; font-size: 0.9rem}
.forgotpwd{color:#bebebe; white-space: nowrap;}
a.forgotpwd:hover{text-decoration: none;color:#888; transition: 0.3s}
.btn-blue  {background: #214aa8; /* Old browsers */
            background: -moz-linear-gradient(-45deg,  #10275c 0%, #121883 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  #10275c 0%,#121883 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  #10275c 0%,#121883 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10275c', endColorstr='#121883',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            padding:0.7rem 1rem !important; border-radius: 0.3rem; font-family: 'Roboto', sans-serif !important; 
            text-transform: uppercase; font-weight: 500; border:none;}

/*==== Login screen Layout css end ========================================*/
.top-header{position: fixed; top:0; z-index: 10001 !important; width: 100%; padding:0; background: #fff; 
  border-bottom:2px solid #255a74;}
.banner-container{float:left; width:100%; margin-top: 100px}
/*========Start CSS for carosuel (24-03-2020)==========*/
.banner-section { float: left; width: 100%; margin-top: 0 !important;}
.container-fluid{width: 100%;}
.caption{position: absolute; top:40%; left: 2.5%; z-index: 1;padding:3rem 2.5rem;
 width: 70%}

.caption h1{ font-size:2.6rem ; color:#fff;font-family: 'Oswald', sans-serif !important;font-weight: 600;}
.speText{color:#e6e305; font-weight: 600}
.caption h2{width: 100%; font-size:1.5rem; color:#fff; font-weight: 300;font-family: 'Oswald', sans-serif !important; padding-top:2rem;}

@media only screen and (max-width: 991px) {
.caption{width: 70%;right: 10% !important;top: 18%;}
.topmenusearch{display:none}
.headertopleft{float:left;display: block !important;}
.address{ display: block;}
.smllogo{padding:0 !important;}
}
 
@media only screen and (max-width: 640px) {
.caption{width:90% !important; top: 10% !important; padding:1rem; left: 5%}
.carousel-item picture img{height: 60vh;}
}
/*========//Carosuel CSS==========*/
.carousel-inner img {width: 100%;height: 100%;}
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
.content-container{ width:100%; float:left;}
.heading{font-size: 1.8rem; color:#000; font-weight: 700;font-family: 'Roboto', sans-serif !important;}
.nav-tabs2{border-bottom:3px solid #f1f2f3; padding-bottom:0.3rem;}
.nav-item .nav-link-nr{border-bottom:2px solid #f1f2f3; color:#555656; font-size: 1.2rem; padding:0.5rem 0; 
margin:0 2rem 1rem 0;font-weight: 500; text-decoration: none}
.nav-item .nav-link-nr.active{border-color: #077680; color:#000;}

/*=====Thumbnail carosuel=====*/
.item-container{background:#fff;  font-family: 'Roboto', sans-serif !important; position: relative;
 display: block; cursor: pointer;}
.item-container img{ border-radius:4px;border-top-left-radius: 4px; border-top-right-radius: 4px; 
  border-bottom-left-radius: 0; border-bottom-right-radius: 0 }
.item-container a{text-decoration: none;}
.item-container a:hover{color: #000}
.description{ padding:0.5rem 1.5rem 1rem 0; float:left; border-radius:4px;}

.item-caption{font-size: 0.925rem; line-height: 1.3rem; font-weight: 700; color:#000;;}
.priceTag{font-size: 1rem; font-weight: 700;}
.subScript{font-size: 0.8rem}
.priceTag .font-bolder{font-size: 1.1rem;}
.enroll-Btn{border-radius:3px; line-height: 1.8rem;height: 2rem; background: #3a6cb5; width: 50%; text-align: center; transition: 0.3s}
.enroll-Btn a{color:#fff; text-decoration: none; font-size:1rem;font-weight: 600;}
.enroll-Btn a:hover{color:#fff; text-decoration: none;}
.enroll-Btn:hover{background:#1656b2;}
.text-blue{color:#235168; font-weight: 700; font-size: 1rem}
.subscribe{padding:0.5rem 1.1rem; color:#444; font-size: 0.7rem; text-transform: uppercase; font-weight: 400; 
  border-top:1px solid #e7e7e7; float:left; width: 100%;}
.subscribe a{text-decoration: none;color:#444;}

.portfolio .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(147, 209, 238, 1);
  border-radius: 4px; box-shadow: 1px 1px 10px 3px #dbdbdb;
}

.portfolio .portfolio-hover:hover {
  opacity: 1;
}

.portfolio .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  margin-top: 0; z-index: 1000;
}


.box-content {width: 100%; padding: 0 1rem 2rem; position: absolute; z-index: 1000 !important; left:0; top:0px;
border-radius:10px; color:#000;}

.lastUpdate{color:#4b4b4b; font-size: 0.825rem; padding:0.8rem 0rem 0.4rem;}
.content-caption{font-weight: 700; padding-bottom:0.8rem; font-size: 1rem;display: block;}
.key-list{float:left; width: 100%; margin:0; padding:0;}
.key-list li{float:left; font-size: 0.8rem;  margin:0 0 0.5rem 0.6rem;}
.cartBtn{
  background: #3a6cb5; /* Old browsers */
  background: -moz-linear-gradient(left,  #3a6cb5 0%, #028ace 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #3a6cb5 0%,#028ace 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #3a6cb5 0%,#028ace 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6cb5', endColorstr='#028ace',GradientType=1 ); /* IE6-9 */
  border-radius: 2px !important; text-align: center; color:#fff; margin-top: 2rem; 
  padding:0.6rem 2.2rem; width: 100%; border:none; font-weight: 700;}
.cartBtn:focus{background: #3a6cb5 !important; outline-color: none !important; outline: 0 !important; box-shadow: none !important;}
.info{font-size: 0.9rem; color:#4b4b4b}
.description-x{font-size: 0.9rem; line-height: 20px; margin: 0.5rem 0}
.thumbnail{display: block; width: 100%; border:1px solid #ddd;}
/*=====tool tip css===*/



/*==========Tool Tip CSS end=======*/
* {box-sizing: border-box; }

.slider { width: 100%; margin: 0 auto;}

/*.slick-slide {margin: 10px}*/
.slick-slide img {width: 100%;border: 0px solid #fff; object-fit: cover;}

.placement-client{width: 100%; float:left; padding:0;}
.placement-client section button{display: none !important;}
.client-brand{ box-shadow: none !important}

.placement-client .item-container img {width:100%; max-width: auto;
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .3s ease-in-out; opacity: 0.4; 
    }
.placement-client .item-container .filterNone {width: 100%;max-width: auto;
  filter: none; opacity: 1; -webkit-transition: all .3s ease-in-out;}
  
.placement-client .item-container img:hover {
    filter: none; opacity: 1;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
    }

.testimonial-container{float:left; width: 100%;}
.testimonial-heading{font-size: 1.4rem; font-weight: 700; color:#000; padding:0 0 2.5rem;
position: relative;}
.testimonial-heading::before{content: ''; height:2px; background: #e6e6ec; width: 90%; position: absolute; 
top:15px;:left:0;bottom:0;right:0; z-index: -1;}

.client-info{width: 100% ; font-family: 'Roboto', sans-serif !important;}
.cl--overview{background: #fff; padding:2rem; margin:0 10px 0 0;border:1px solid #f3f3f3;}
.cl--overview:last-child{margin-right:0 !important;}
.rounded{border-radius: 0.8rem !important;}
.profile{margin:0 0 0 1.5rem;}
.pro-Name{ font-size: 1.5rem; font-weight: 500;white-space: nowrap;}
.pro-Desig{font-size: 1rem; font-weight: 300}
.overview{font-size: 17px;line-height: 25px;padding: 2rem 0 0 0;}
.client-info:last-child{border:none;}
.control-btn{width:100%; padding:3rem 0; text-align: center;}
.btnLeft, .btnRight{background: #3a6cb5; /* Old browsers */
  background: -moz-linear-gradient(left,  #1646bc 0%, #357edb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #1646bc 0%,#357edb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #1646bc 0%,#357edb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1646bc', endColorstr='#357edb',GradientType=1 ); /* IE6-9 */
  padding: 0.3rem 1rem; border-radius: 0.3rem; margin: 2rem 0.2rem;transform: scale(1); transition: 0.3s}
.btnLeft:hover, .btnRight:hover{transform: scale(1.2);padding: 0.5rem 1.2rem;}

@media only screen and (max-width:768px){
.rounded{width:100%; display: block;}
.profile{float:left; width: 100%; margin-top:0}
}

/****** Style Star Rating Widget *****/
.item-container a{color:#000;}
.list-inline span{padding:0 0 0 0.5rem}
.star-rating i {color: #ff9c00; font-size: 1rem;}
.list-inline-item:not(:last-child) { margin-right:0;}
.rating { 
  border: none;
  float: left; margin: 0 0.8rem 0 0;
}

.rating > input { display: none; } 
.rating > label:before {
  content: "\f005"; 
  padding:0 5px 0 0;
  font-size: 1rem;
  font-family: FontAwesome;
  display: inline-block;
  
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #ff8a00; } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #ff8a00;} 


/*====Footer-section==*/
.footer{float:left; width: 100%;}
.footer-top{ padding:0; background: #171717;}
.footer-top a{text-decoration: none; color:#fff; background: #444; padding:1rem; border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;}
.footer-section {background:#171717; padding:0; width: 100%; font-size: 1rem; color:#fff; 
  float:left;}
.footer-main{padding:0 0 2rem 0;}

.middle-container{position: relative; width: 100%; padding:3rem 0 0;}
.middle-content-container{width:100%;position: relative; top:0;right:0; bottom: 0;left:0; margin:0 auto;}
.left-container{float:left; width:45%; line-height: 45px;text-align: right;}

.right-container{float:left; width:50%; margin-left:3rem;}
.footer h3{text-transform:uppercase; font-size: 0.875rem; font-weight:700}
.breathing{padding-top:2rem; float:left; width: 100%}
.foote-link{width: 100%; margin-top: 1.2rem; padding:0;}
.foote-link li{display: block; list-style-type: none; width: 100%;float:left; margin: 0.2rem 0; line-height: auto;}
.foote-link li a{float:left; display: block; font-size: 0.8rem; text-decoration: none; color:#999; font-weight: 400;transition: 0.3s}
.foote-link li a:hover{color:#cecece; transition: 0.3s;}

.foote-link li ul{padding:0; margin-top:1.5rem;}
.foote-link li ul li{background:url('../images/bullet.png') 0 9px no-repeat; padding-left: 1rem}

.foote-link.inlineBlock li{display: inline-block; width: auto; padding:0 1rem 0 0; margin:0;}
 
.footer-middle{ background: #263385; border-top:1px solid #2d4ca5; margin-top: 1.5rem}

.footer-middle-list{padding:0.3rem 0;}
.footer-middle-list li span{padding:0.6rem;}
.footer-middle-list li:last-child span{display: none}
.footer-middle-list li{float:left; display: inline-block; list-style-type: none;}
.footer-middle-list li a{text-decoration: none; color:#cecece; float:left;}
.footer-middle-list li a:hover{color:#989696; transition: 0.3s;}

.form-select:focus{background: #fff; color:#000; box-shadow: none;-webkit-appearance: none;  /*Removes default chrome and safari style*/
            -moz-appearance: none; /* Removes Default Firefox style*/
             background:#fff url('../images/dropdown_arrow.png') no-repeat;  /*Adds background-image*/
             background-position: right 10px;  /*Position of the background-image*/
             color:#a3a3a3 !important;}
 
.form-select {/*border: 0 !important;*/  /*Removes border*/
            -webkit-appearance: none;  /*Removes default chrome and safari style*/
            -moz-appearance: none; /* Removes Default Firefox style*/
             background:#fff url('../images/dropdown_arrow.png') no-repeat;  /*Adds background-image*/
             background-position: right 10px;  /*Position of the background-image*/
             width: 100px; /*Width of select dropdown to give space for arrow image*/
             text-indent: 0.01px; /* Removes default arrow from firefox*/
             text-overflow: "";  /*Removes default arrow from firefox*/
             width:100% !important; border:1px solid #8a91bd !important;
             height: 40px !important; line-height: 30px;color: #a3a3a3;font-size:1.2rem}

.footer-bottom{padding:1rem 0 0.8rem; background: #23536b;}
.call-us{font-size: 2rem; font-weight: 700;padding-left: 8rem;}
.socialLink{text-transform: uppercase; font-size: 1.3rem; font-weight: 500;padding:0.4rem 0 0 0}
.socialLink a{padding:0; background:#000;width: 40px; height: 40px; text-align: center; 
  display: inline-block; transition: 0.3s; transform:scale(1)}
.socialLink a:hover{background: #26759d; transform:scale(1.1)}
.footer-bottom ul li{line-height: 0.9rem}
.copyright{padding:2rem 0 2rem; background: #000; border-top:1px solid #293688; color:#d4d4d4; font-size: 0.875rem}

.fa-facebook, .fa-linkedin, .fa-twitter, .fa-youtube-play{color:#dfdfdf; font-size: 1rem; 
  padding:0; margin: 0 1.5rem; transition: 0.3s}
.fa-facebook:hover, .fa-linkedin:hover, .fa-twitter:hover, .fa-youtube-play:hover{color:#374dd8;}


/*======Footer Free Brouchers section====*/
.broucher-wrapper{background:#373737; float: left; margin:0; color:#fff;}
.broucher-inner{padding:2rem 1.5rem;}
.broucher-inner p{font-size: 0.8rem}
.broucher-inner .form-control{padding:0.4rem;}
/*======Footer Free Brouchers section End====*/

@media only screen and (max-width:768px){
  .textL{text-align:left !important; margin-bottom: 2rem}
  .form-select{width:91% !important;}
  .left-container{text-align: center; margin-bottom: 1rem}
  .right-container {text-align: center; margin-left:14px;}
  .foote-link{margin-bottom: 2rem; float:left;}
  .socialLink{text-align: left !important; padding-left:0; margin-top: 1rem ;}
  .fa-facebook, .fa-linkedin, .fa-twitter, .fa-youtube-play{border:1px solid #fff; padding:0.6rem 1rem; margin:1rem 0.2rem 0 1rem;}
}

/* Added By Abhijeet on 5 August */ 
@media(max-width: 768px){
  #shortOption{width: 100% !important}
}
.rightPanle{padding:0 1.5rem 2rem 1.5rem; float: left; width: 100%}
.plr{padding:0.3rem 0.8rem !important;}

.btn-bha-paypalcontainer{ margin: 0px 0px;}
.btn-bha-paypalcontainer ul{ margin: 0 auto; padding: 0; list-style: none; display: inline-block; width:100%;}
.btn-bha-paypalcontainer li{padding: 0; list-style: none; float:left; width: 23.2% !important; display: block; margin-right: 4px;}
.btn-bha-paypalcontainer li:last-child{ margin-right:0px;}
.btn-bha-paypalcontainer p{ font-style: 16px; text-align: center; margin: 0px; padding: 42px 0px 0px 0px;}
.btn-bha-paypalcontainer h1{ text-align: center; font-weight: normal; margin: 0px; padding: 0px 0px 2px 0px;}
.btn-bha-paypal{background: #ffc43a; color:#333; width: 75%; display: block; border-radius: 30px; height: 42px; padding:0 0 0.2rem 0;}
.btn-bha-paypal img{padding: 0px 20px; width:100%;}

.margin-top10 {margin-top: 10px;}
.margin-top20 {margin-top: 20px;}
.margin-top30 {margin-top: 30px;}

.mt-mob20{margin-top:0px;}
.margin-btm10 {margin-bottom: 10px;}
.margin-btm20 {margin-bottom: 20px;}
.margin-btm30 {margin-bottom: 30px;}

.margin-left10 {margin-top: 10px;}
.margin-left20 {margin-top: 20px;}
.margin-left30 {margin-top: 30px;}

.margin-left-mobile15 {margin-left:0px;}

.padding-top10 {padding-top: 10px;}
.padding-top15 {padding-top: 15px;}
.padding-top20 {padding-top: 20px;}
.padding-top30 {padding-top: 30px;}

.pt-mob20{padding-top:0px;}

.pa{padding: 15px !important;}
.pa0{padding:0px !important;}

.padding-btm10 {padding-bottom: 10px;}
.padding-btm20 {padding-bottom: 20px;}
.padding-btm30 {padding-bottom: 30px;}

.padding-left0 {padding-left:0px !important;}
.padding-left20 {padding-left: 20px;}
.padding-left30 {padding-left: 30px;}

.padding-lr0 {padding-left:0px !important; padding-right: 0px !important;}
.padding-lr20 {padding-left: 20px; padding-right: 20px;}
.padding-lr30 {padding-left: 30px; padding-right: 30px;}

/* Checkout - Order Summary CSS starts */
.order-summary{width:100%; height: auto; }
.order-summary .Heading{ padding: 15px; font-size: 0.950rem; font-weight: 600; border-bottom: 1px solid #f1f1f1; margin-bottom: 15px;}
.order-summary .Heading span a { float: right; width: 60px; display: block; font-size: .850rem; font-weight: normal; line-height: 30px; text-decoration: underline;}
.bha-btn-apply { background: #23536b; color: #fff!important;font-weight: 500;
    padding: 0.5rem 1rem; border-radius: 0.3rem;text-transform: uppercase;
    font-size: 0.875rem; font-weight: 600;}

.order-summary table.table th{ font-size: .85rem; color: #666; font-weight:600; }
.order-summary table.table tr{ font-size: .85rem; color: #666; font-weight: normal; }
table.table tr td.no-border { border-bottom: 0 !important;}
table.table tr td.total-bg {background-color: #f1f1f1; font-size: 1.25rem;color: #333;}
.my-order-border{border: 1px solid #e0e0e0; overflow: hidden;}
.my-order-status{ color:#a70e15 !important; font-style: italic; font-size: 1rem }
#horizontalTab span.cancel-order a{ width: 120px; text-align: center; display: inline-block; float: right; font-size: 1rem; padding: 5px 10px; border-radius: 0.3rem; background: #23536b; color: #ffffff; }
.location_head span.edit-address a{ width: 80px; float: right; font-size: 1rem; padding:0px; color: #a70e15; text-decoration: underline; font-size: .75rem; font-weight: normal;}
#accordion .card .card-header a.btn-link{font-weight: bold; color: #333; text-decoration: none; padding-left:none !important; font-size: 0.950rem}
#accordion .card-header { padding: 5px 0px !important; border-bottom: 0px !important;
border-bottom:2px solid #ccc !important;}
/*.card {margin-bottom:0rem;}*/
.card-header:first-child{border-radius: 0 !important;}
/* Progress Bar Style starts*/
#accordion .card {background-color: #ECEFF1;}
.tab .container .card{background: #ECEFF1; border: 1px solid rgba(0,0,0,.125) !important;}
.card {margin-top: 0px; border:0 !important; margin-bottom:0px; border-radius:0px !important; }
.top {padding-top:10px;padding-left: 13% !important; padding-right: 13% !important}

#progressbar { margin-bottom: 30px; overflow: hidden; color: #455A64;
    padding-left: 0px; margin-top: 10px}
#progressbar li { list-style-type: none; font-size: 13px;width: 25%;float: left;
    position: relative; font-weight: 400}
#progressbar .step0:before { font-family: FontAwesome; content: "\f10c";
    color: #fff}
#progressbar li:before { width: 40px; height: 40px; line-height: 45px; display: block;
    font-size: 20px; background: #C5CAE9; border-radius: 50%; margin: auto;
    padding: 0px; position: relative; z-index: 1}
#progressbar li:after { content: ''; width: 100%;height: 12px; background: #C5CAE9;
    position: absolute;left: 0;top: 16px; z-index: 0}
#progressbar li:last-child:after { border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; position: absolute; left: -50%}
#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after { left: -50%}
#progressbar li:first-child:after { border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;position: absolute;left: 50%}
#progressbar li:last-child:after { border-top-right-radius: 10px;
    border-bottom-right-radius: 10px}
#progressbar li:first-child:after { border-top-left-radius: 10px;
    border-bottom-left-radius: 10px}
#progressbar li.active:before,
#progressbar li.active:after {background: #3D7693}
#progressbar li.active:before {font-family: FontAwesome; content: "\f00c"}
.icon { width: 60px; height: 60px; margin-right: 15px}
.icon-content {padding-bottom: 20px}
.Procced-to-Checkout {width:100%; margin: 10px 0;}
@media screen and (max-width: 992px) {
  .icon-content { width: 50%}
}

/*==========Radio button tabs=====================*/
.tabContainer{margin:0 0.5rem 2rem 0.5rem}
.add-address{position: absolute;right: 3%;top: 0;}
.tabs span.add-address a {
    text-align: center;
    display: inline-block;
    float: right;
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    background: #23536b;
    color: #fff;}
.tabs { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;
  display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tabs label { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1;
  order: 1; display: block; padding: 0.5rem 0; margin-right: 2rem ; cursor: pointer;
  background: transparent; font-weight: 500; -webkit-transition: background ease 0.2s;
  transition: background ease 0.2s; margin-bottom:0; position: relative; top:0.12rem;
color:#6c757d;}

.tabs .tab { -webkit-box-ordinal-group: 100; -webkit-order: 99; -ms-flex-order: 99;
  order: 99; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1;
  flex-grow: 1; width: 100%; display: none; padding:0.5rem 0; background: transparent;
 border-top: 1px solid #e6e2e2;}

.tabs input[type="radio"] { position: absolute; opacity: 0;}

.tabs input[type="radio"]:checked + label { background: transparent;
border-bottom: 2px solid #24546c !important;color:#23536b;}

.tabs input[type="radio"]:checked + label + .tab { display: block; }

@media (max-width: 45em) {

.tabs .tab,  .tabs label { -webkit-box-ordinal-group: NaN; -webkit-order: initial;
  -ms-flex-order: initial; order: initial;}
.tabs label { width: 100%; margin-right: 0; margin-top: 0.2rem;
background: #f9f9f9; color:#000; padding:0.5rem;}
.tabContainer{margin:0}
.tabs input[type="radio"]:checked + label { background: #24546c; color:#fff !important;
border-bottom: 2px solid #24546c !important;}
.add-address{position: static; margin:0.5rem 0 !important;}
}
/*====Compare panel design====================*/
.compare-widget__products {
    overflow: hidden;
    margin:0;
    float:left;
    padding:0 0 1.5rem 0.4rem; list-style-type: none;
}
.compare-widget__product {
    position: relative;
    padding-right: 55px;
    text-align: left; border-bottom:1px solid #f4f4f4;
}
.compare-widget__product:last-child{border:none;}
.compare-widget__image {
    float: left;
    width: 70px;
    height: auto;
    max-height: none;
    margin-right: 17px;
    border: 1px solid #888;
}
.compare-widget__title {
    font-size: 12px;
    font-size: .8rem;
    font-family: Roboto,sans-serif !important;
    font-weight: 400;
    line-height: 1.5;
    overflow: hidden;
    margin-top: 10px;
    text-align: left;
}
.compare-widget__product-remove-trigger {
    position: absolute;
    top: 20px;
    right: 10px;
    bottom: 0;
    padding: 29px 19px;
    cursor: pointer;
    text-indent: -9999px;
    background-color: transparent; border:0;
}
.compare-widget__product-remove-trigger:after {
    font-size: 1.6rem;
    position: absolute;
    top: -5px;
    right:0;
    display: block;
    content: "+";
    transform: rotate(45deg);
    text-indent: 0;
}
.compare-widget__product:after {
    display: table;
    clear: both;
    zoom: 1;
    content: "";
}
.compare-widget__product:first-child .compare-widget__product-remove-trigger {
    top: 9px;
}

/*=================Search Result=====================*/
/*.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}
*/
/*.search input:focus + .results { display: block }*/
.results{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 0.02rem;
    padding: 0;
    margin: 0;
    border:1px solid #ddd;
    /*border-radius: 3px;*/
    background-color: #fdfdfd;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.results li { display: block; }

.results li:first-child:hover:before, .results li:first-child:hover:after { display: none }

.results li a:last-child { margin-bottom: -1px; border:0;}

.results li a{
    display: block;
    position: relative;
    margin: 0;
    padding:0.8rem 2rem 0.3rem 0.8rem !important;
    color: #555;
    font-weight: 500;
    /*text-shadow: 0 1px #fff;*/
    border-bottom: 1px solid #f2f2f2 !important; transition: 0.1s;
    /*border-radius: 3px;*/
}
.results a img{width: 50px; border-color:#ddd;}
.results a h3{margin-top:-2px;}
.results a span { font-weight: 200}

.results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
}

.results li a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #589bb0;
    
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }

.apply_representation_heading {
    letter-spacing: -0.035rem !important;
    font-size: 1.170rem !important;
}

.react-confirm-alert-body {
    background: #fff !important;
}

.react-confirm-alert-overlay {
    z-index: 9999 !important;
}
