.news-events-banner{float:left; width: 100%;position: relative; top:100px;}
.news-events-inner{background: transparent;}
.news-section{background: #fff; width: 50%; float: left; height: 400px;position: relative;}
.news-section::before{content: ''; position: absolute; top:0 ;
    right: 0; bottom:0; top:0; width: 100%;
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(90deg, #fff 50%, #f1f1f1 60%); /* FF3.6-15 */
    background: -webkit-linear-gradient(90deg,#fff 50%,#f1f1f1 60%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(90deg,#fff 50%,#f1f1f1 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.news-caption{position: absolute; left: 13%; top: 12%;right: 12%;
    bottom: 12%; margin: 0;}
.news-caption h1{font-family: 'Oswald',sans-serif;line-height: 2.5rem;
    padding:0.8rem 0;}
.news-caption h6{font-weight: 400; font-size: 1rem;line-height: 1.5rem}
.news-caption h4{font-family: 'Oswald',sans-serif;color: #083e70}
.btn-readmore{padding:0.5rem 2rem; margin-top: 1.5rem;
    border-radius: 5px !important; color:#fff; position: relative; z-index: 1;
    background: #083e70;}
.btn-readmore:hover{background:#0e5da6;color:#fff;}
.banner-section{float: right; width:50%;}
/*.banner-section img{width: 100%;height: 400px}*/
.news-events-inner .carousel-inner .carousel-item {height: 400px}
.news-events-inner .carousel-inner .carousel-item .banner-section img{width: 100%;height: 400px;position: static;}
.banner-controls{position: absolute;bottom:20%; text-align: center;width: 100%;}
.banner-controls i{width: 25px;height: 25px; background:rgba(255,255,255,0.8);
    line-height: 25px; color:#000;}
@media (max-width: 768px){
    .caption-right, .caption-inner{width: 100% !important}
}

.caption-right{position: absolute; top:0; right: 0; width: 100%;color: #fff;
    background:transparent;z-index: 1;height: 400px;padding:3.5rem 2rem 2rem 3rem;}
.caption-right::be fore{content: ''; position: absolute; top:0 ;
    right: 0; bottom:0; top:0; width: 100%;
    background:rgba(0,0,0,0.4);}
.caption-inner{width: 50%;position: absolute; top:0; right: 0;
    padding:3.5rem 4rem 2rem 4rem;background:rgba(0,0,0,0.1);
    height: 400px;}
.caption-inner h1{font-family: 'Oswald',sans-serif;line-height: 2.5rem;
    padding:0.8rem 0;}
.caption-inner h6{font-weight: 400; font-size: 1rem;line-height: 1.5rem}
.caption-inner h4{font-family: 'Oswald',sans-serif;color: #fff}
.filter{width: 200px !important;padding-right: 25px; padding-left: 10px;
    font-size: 14px; border-radius: 0.1rem;cursor: pointer;float: left;}
.news-inner{box-shadow: 0 0 20px #f4f4f4;margin: 2rem 0.6rem 0 0.6rem; border:0;
    overflow: hidden;position: relative;
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(180deg, #fff 50%, #edf5ff 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(180deg,#fff 50%,#edf5ff 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(180deg,#fff 50%,#edf5ff 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#edf5ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.date-tag{background:rgba(210,0,27, 0.8); color: #fff;position: absolute; top:0;left: 0;
    padding:0.2rem 0.6rem;z-index: 1}
.month{font-weight: 500;font-size: 0.8rem; text-align: center;
    text-transform: uppercase;}
.news-inner a{color: #000;}
.news-inner a img{color: #000;transform: scale(1); transition:all 0.3s; overflow: hidden;}
.news-inner a:hover img{transform: scale(1.1); transition:all 0.3s;}
.filter-description.content-gap{padding:1.5rem 1.5rem 0 1.5rem; font-size: 0.875rem;
    border:1px solid #f1f1f1;}
.social-share-box{border:1px solid #f2f2f2 !important; border-top:0 !important;
    padding:1.5rem 1rem 1.5rem 1.5rem;}
.social-share-box span{color:#083e70; font-size: 0.8rem}
.object-fit{width:100%;height: 160px; object-fit: cover;}
.share-icon{border:1px solid #ddd;padding:0.3rem; margin: 0 0.2rem;
    width: 25px; height: 25px;text-align: center; background: #3b5998;color: #fff}
.share-icon.twitter-bg{background: #00acee}
.share-icon.twitter-bg:hover{background:#058dc2}
.share-icon:hover{color: #fff; background: #0c4172}
.viewAll{font-family: roboto; font-weight: 600; font-size: 0.8rem;
    padding:0.5rem 1.5rem;/*border:1px solid #f2f2f2;*/ transition: 0.3s;
    text-transform: uppercase;position: absolute; top:42%; right: 2%;
    background: #23536b; border-radius:0.3rem}
.viewAll a{color: #fff}
.social-share-link{position: absolute; bottom:10%; right:2%; /*z-index: 100*/}
.social-share-link i{width: 30px;height: 30px; text-align: center;
    line-height: 25px; margin:0;}
.social-share-link a{text-transform: uppercase; padding:0.5rem; color:#fff;
    border:1px solid #fff; }
.social-share-link span{color:#fff; text-transform: uppercase; padding-right:1rem;}
.loadMorebtn{padding:3rem 0 2rem 2rem; text-align: center; width: 100%;float: left;}
/*.loadMorebtn a{border:1px solid #0c4172;padding:0.6rem 1.5rem; border-radius: 4px}*/

/*============Load More Content css===========================*/