
/*@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic|Playfair+Display:400,400italic|Old+Standard+TT");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Martel:200,300,400,600,700,800,900|Noto+Serif:400,400i,700,700i|PT+Serif:400,400i,700,700i|Scope+One|Source+Serif+Pro:400,600,700|Tinos:400,400i,700,700i|Vollkorn:400,400i,600,600i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Questrial");*/
@import url("https://fonts.googleapis.com/css?family=Taviraj:300,300i,400,400i,700,700i");
/*@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Lato:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Unna");
@import url("https://fonts.googleapis.com/css?family=Suranna");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");*/

/*======Layout component reset css rules=======
button reset==*/
/*.full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}*/

.zoom {
  animation: scale 5s linear infinite;
}
  
@keyframes scale {
  50% {
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
  }
}
.content-wrapper{background:#fff url(../images/Pipe-Texture.jpg);
background-position:center; background-size: cover; width: 100%; float: left; /*padding-bottom:3rem;*/}
.bottom-navigation{background:rgba(255,255,255, 0);width: 100%; float: left; padding:0; margin-bottom: 1rem;
overflow: hidden; /*border-bottom: 1px solid #ddd;*/ position: absolute; bottom:-2px}
.bott-nav-fixed{top: 121px; z-index: 10000 !important; position: fixed !important;
/*background: rgba(35,83,107,0.950);*/ height: 70px; padding-top:0.4rem;
background: rgba(255,255,255,0.950); box-shadow: 0px 10px 5px -10px #d7d7d7; 
}
.bott-nav-fixed .thumnal-icon{margin: 0rem 2rem;}
.bott-nav-fixed a{color:#000 !important;line-height: 1.2rem !important; font-weight: 500;}

.callNo{background:transparent; color:#000; font-size: 1.3rem; font-weight: 700;}
.request-Quote{background:transparent;font-size: 1rem; font-weight: 700;}
.request-Quote a{color:#fff; display: block;padding:0.3rem 0; text-transform: uppercase; padding-left:6rem;} 
.request-Quote a:hover{background:transparent; transition: 0.3s}

.shopNow{background:transparent; font-size: 1rem; font-weight: 700}
.shopNow a{color:#fff; display: block;padding:0.3rem 0;text-transform: uppercase;border-right:1px solid #ddd;
margin-left:6rem;}
.shopNow a:last-child{border:0;}
.shopNow a:hover{background:transparent; transition: 0.3s}
.thumnal-icon{float: left; margin:0.4rem 2rem; position: relative; width: 50px; height:50px;}

/*.fader { display: inline-block; }*/
.request-Quote img,  .shopNow img, .callNo img{position: absolute; top: 0; left:inherit; display: block;}
.logo-left{position: absolute; top:0%; left:0%; z-index: 1000000; background: #fff; width:200px !important; 
  height: 40px;}
.logo-fixed{top:2%; z-index: 1000 !important; position: fixed !important;width: 100%;transition: top 0.3s;
border-bottom:2px solid #255a74; height:auto;}
.anchor-logo{padding-top:12px !important; padding-left: 50px !important}
.wsshoptabing{left:-210px !important; width: 115% !important}
/*.web-wsshoptabing{left:-210px !important; width: 115% !important}*/
.carousel-item { /*height: 530px;*/ height:86.6vh;}
.carousel-item img {  position: absolute;  top: 0; left: 0; min-height: 470px; 
  object-fit: cover !important;}
.newscontainer{display: none}
/*.carousel-item.h_50{height: 300px}*/
.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; 
  z-index: 81 !important;
  background-color: #000;}
.modal-open{overflow:auto !important;}
.modal-open .modal{overflow-y: hidden;}
/*.modal { z-index: 10000 !important;}*/
.pl-pr{padding:0.7rem 2.5rem !important}
.bha-btn-primary{background:#23536b; color:#fff !important; font-weight: 500; padding:0.5rem 1.5rem;
  border-radius: 0.3rem;text-transform: uppercase; font-size: 0.875rem; font-weight: 600; text-align: center;}
.bha-btn-menu{ padding:0.32rem 1.5rem; font-size: 0.775rem}
.bha-btn-primary.w-100{width:100%;}
.bha-btn-primary:hover{background: #5ea7bd !important; transition: 0.3s; color:#fff;}
.bha-btn-secondry{background:#a70e15; color:#fff !important; font-weight: 600; 
  padding:0.450rem 0.6rem;  border-radius: 0.3rem;  text-transform: uppercase; text-align: center;}
.bha-btn-secondry:hover{background: #8f070e !important; transition: 0.3s}
figcaption{padding:5rem 3.2rem !important;}

.wsshopwp{position: relative; z-index: 100!important;}
@media only screen  and (min-width : 1224px){
.topmenusearch{width: 100% !important; float: right}
.wsmenu > .wsmenu-list > li.wsshopmyaccount > a{text-transform: uppercase;}
.bha-client li img{width: 213px !important}
/*.tab-menu .tablink{width: 24.826% !important}*/
/*.carousel-item { height: 460px;}*/
.carousel-item img {  position: absolute;  top: 0; left: 0;/* min-height: 370px; */
  object-fit: fill !important; width: 100% !important}
.product-card-inner{height: 360px !important}
.caption{top:30% !important;}
.bha_h_50{height:50vh !important; width: 100%; object-fit:cover;}
.bha_h_25{height:40vh !important; width: 100%; object-fit:cover;}
li a span{font-size: 0.7rem !important}
/*.wsmenu > .wsmenu-list > li > .navtext{line-height: 29px !important; font-weight: 500 !important;
color:#4a4a4a; font-size: 0.750rem !important;}*/

.wsmenu > .wsmenu-list > li > .navtext{line-height: 29px !important; font-weight: 500 !important;
color:#4a4a4a; font-size: 0.870rem !important;}
.navtext i {color:#fff !important; margin-top:-2px;border-radius:0.3rem; font-size: 0rem;
vertical-align: middle;padding: 0 0.1rem 0 0.1rem;}
/*.navtext i.black{color:#fff !important;}*/
.wsmenu_heading{font-weight: 700 !important; font-size: 1rem !important; 
  padding:0.4rem 0.2rem !important; color:#000; width:100%}
}
.nav-right{text-align: center; border-radius: 0.3rem;
height: 45px;
border-right: 1px solid #ccc;
float: right;
/*background: #2c5e79;*/
margin-left: 2rem;
margin-top: 1.1rem;
margin-bottom: 1rem;}
.inner-item{display: inline-block; line-height: 20px; padding:0.750rem 1rem; border-right:1px solid #4e829e;
overflow: hidden;}
.inner-item:last-child{border:none;}
.inner-item a{color:#000;}
.bha-client li img{width: 245px !important}
/*======Typography setting==*/
.bha_heading_1{background:url(../images/bha-sm-icon.png) -2px -13px no-repeat; padding-left:8rem;
  font-family: 'Oswald', sans-serif; font-size: 3rem; text-transform: uppercase; color:#000;
text-shadow: 0 0 3px #000 }
.cursive_head{font-family: 'Satisfy', cursive; text-transform: none; font-size: 2.5rem;}
.bha_heading_2{font-family: 'Oswald', sans-serif; font-size: 1.5rem; text-transform: uppercase; color:#fff;}
figcaption h4{text-transform: uppercase; font-size: 1.125rem}
.headtoppart span ul{margin:0; padding:0;}
.headtoppart span ul li a{color:#000 !important; padding:0.5rem 0; border-bottom: 1px solid #f2f2f2;width: 100%;
display: block; text-decoration: none; font-size: 0.750rem !important}
.headtoppart span ul li a:hover{text-decoration: none; background: #f1f1f1}

.dropdown-menu { margin-top: 10px !important; border-top-left-radius: 0; border-top-right-radius: 0;
 display: block; transform: scale(0); transition: ease-out 0.3s;  min-width:98px !important;
 text-align: center; box-shadow: 2px 2px 20px #666;z-index: 10000 !important}
.dropdown:hover .dropdown-menu { transform: scale(1);}
.dropdown-menu1{ border:none; display: block; transform: scale(1)!important; height: 0px; overflow: hidden;
  padding: 0px; top: 180px; transition: all .3s;}
.dropdown:hover .dropdown-menu1{ display: block; top: 100%; height: inherit;}
/*=====mega gallery css=====*/
/*.wstheading{background: #f4f6f7; border:0 !important;}*/
.wstheading{background: #555; border:0 !important;}
.wstheading > a{color:#fff !important;font-family: 'Roboto', sans-serif; 
text-transform: none; display: block;font-size: 0.750rem !important;
font-weight: normal; padding:0 0.6rem; white-space: nowrap; text-transform: capitalize !important;}
.wstliststy04 img > li{background: red;}
.wsmenu > .wsmenu-list > li .wstliststy04 li.wstheading:hover{background: #232323 !important; 
  color:#000; transition: 0.4s}
.wstheading > a i{font-size: 0.750rem !important}
.wstliststy04 img{object-fit: cover; width: 200px !important; height: 100px !important;}
.custom-gutter > [class*='col-'] { padding-right:2px; padding-left:2px;}
.custom-gutter-wsmenu > [class*='col-'] { padding-right:2px; padding-left:2px;}

/*======OEM Section Css==========*/
.bha_oem_container{float:left; width: 100%; padding:2rem 0; background: #000 url(../images/oem_bg.jpg) bottom left no-repeat;
background-size: cover; background-position: center center; position: relative; color:#fff;}
/*.bha_oem_container::before{content: ""; position: absolute; top:0; left:0; right:0; bottom:0; background: rgba(0,0,0,0.8);}
.bha_oem_container > * { z-index: 100;position: relative;}*/
.bha_oem_container h2{font-size: 2rem;}
/*.bha-product-section{background:#000 url(../images/bha_pro_bg.jpg) bottom left no-repeat;
background-position: center; background-size: cover; 
  float:left; width:100%; position: relative;}
.bha-product-section::before{content: " "; background:rgba(0,0,0,0.8);position: absolute; top:0; 
left:0; right:0; bottom:0;}*/
.product-card-wrapper{background:transparent;}
.product-card-wrapper a{text-decoration: none;}
.product-card-wrapper a:hover{text-decoration: none;}
.product-card{background: #fff; padding:0.8rem; border-radius: 0.3rem;border:1px solid #f1f1f1;
margin:0.68rem 0.6rem;}
.product-card-inner{background: transparent; border:1px solid #a6dae8; padding:0.6rem; height: 400px;position: relative; }
.product-description{padding:1rem 0 0.8rem 0.3rem; text-align: center;color:#000; font-weight: 500; font-size: 0.875rem}
.product-tag{color:#888; text-transform: uppercase; text-align: center;}

.prod-details-link{margin-top: 1.5rem;  position: fixed; bottom:25px; width: 82%}
.prod-details-link a{border-radius: 0.1rem !important;}
.z-index{position: relative; z-index: 100}
.view-all{width:20%; border-radius: 0.1rem !important; margin-top: 1rem}
.link{background:#fff; padding:0.2rem 2rem; margin-bottom: 10px; border:none; border-radius: 2px}
.link:hover{background:#fff; text-decoration: none; cursor: pointer;}
/*.tab-container{width:100%;background: url(../images/top-bar-bg-m.jpg); background-size:cover;
  background-position:center; float:left; width: 100%; position: relative;}*/
.tab-outer-container{background: #23536b}
.tab-container{width:100%;background:#23536b; float:left; width: 100%;}
/*.tab-container:before{content: ''; background: rgba(0,0,0,0.8); position: absolute; top:0; left:0; 
right:0; bottom:0;}*/

.item-wraper{padding:2rem 0;}
.tab-inner{display: block; margin:0; padding:0; list-style-type: none; position: relative;}
.tab-inner .tablink{float:left; display: inline-block; /*margin: 0 2rem 0 1rem; */color:#fff;  transition:0.5s;
  text-transform: uppercase;text-decoration: none; font-size: 0.875rem; padding:0.875rem 2.480rem; width: auto; text-align: center; }
.tab-inner .tablink:hover{background:#356b86; display: block; transition:0.5s }
.left-control{font-size: 0.875rem; padding:0.875rem 0; text-align: center; background: #000; color:#fff; 
  float:left; width: 38px}
.right-control{font-size: 0.875rem; padding:0.875rem 0; text-align: center; background: #000; color:#fff; 
  float:left; width: 41px}
.left-control i, .right-control i{color:#fff;}
.tab-inner .tablink.current{background:#356b86;}
.brands-head{float:right; color:#fff; font-size: 1.5rem; text-transform: uppercase; width: 11%; text-align:center; font-family: 
'Oswald', sans-serif;  padding:0.4rem 1.2rem;background:#000; font-weight: 700; }
/*.tab-inner .tablink.current:after {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #23536b;
  content: " ";
  position: absolute;
  bottom: -8px;
  left: 7.5%;}*/

/*=====Header-section===*/
.certificate-header{background:transparent;text-align: center; padding: 1.8rem 0 1.5rem 0; width: 100%; 
  position: relative; bottom:129px; left:0; right:0; opacity: 0.9}
.tranparent-bg{background: #000; opacity: 0.9;padding: 1.5rem 0 1rem 0;}
/*.certificate-header::before{content:''; top:0; left:0; right:0; bottom:0; position: absolute; background: rgb(0,0,0,0.9);}*/

.header-section{background: #fff;text-align: center; float:left; padding: 1.8rem 0 1.5rem 0; width: 100%; 
    position: relative;}

.header-section::before{content:''; top:0; left:0; right:0; bottom:0; position: absolute; 
background: rgb(255,255,255,0.950);}

.header-section.client{background: #fff url(../images/bg_black.jpg) bottom left no-repeat}
.header-section.client::before{content:''; top:0; left:0; right:0; bottom:0; position: absolute; 
background: rgb(255,255,255,0.8);}

.bg-opeque{background: transparent !important;text-align: center; float:left; 
  padding: 2rem 0 0 0; width: 100%; 
    position: relative;}
/*=====Pro-equipment-section======*/
.pro-equipment-section{width: 100%; float:left; margin:0; padding:0;}
.product-item-wrapper{background:transparent; position: relative; }
.pro-equipment-section .slick-slide{margin:0 !important; }
.product-item-wrapper .card{/*width:378px !important;*/ margin:6px 10px; border:0;}

.product-item-wrapper .card img{object-fit: cover; height: 210px !important;}
.card-title{background:#23536b; color:#fff; font-size: 0.935rem; text-align: center; padding:1rem; margin:0;
  display: block; width:100%; float:left;}
.pro-equipment-section .slick-dotted.slick-slider{margin-bottom: 0}
.bha-client{margin:0; padding:3rem 0; float: left;width: 100%}
.bha-client li{float:left; display: inline-block; list-style-type: none; margin: 1rem 0.6rem;}
.bha-client li img{border:1px solid #ddd; object-fit: scale-down; width: 245px;}

/*.chat-button{position: fixed; right:1rem; top:80%;border:1px solid #585757; background:#444; border-radius: 100px; 
  padding:0.5rem 1rem; z-index: 100; transform: scale(1);transition: 0.3s;}*/
  .chat-button{position: fixed; right:-10px; top:50%; background:#555; 
    border-radius: 10px; border-top-right-radius: 0;border-bottom-right-radius: 0;
      padding:0.5rem; z-index: 100; transform: scale(1);transition: 0.3s;}
/*.chat-button:hover{background: #555;  transform: scale(1.1);}*/

.chat-button a{text-decoration: none; color:#fff100; font-size: 1.2rem; font-weight:700; text-align: center;}
.carousel-indicators li{width:10px; height: 10px; border-radius: 100px; background: #fff}
.carousel-indicators li.active{background: #4280fe}

.pulse {
  animation: chat-pulse 1s infinite;
}

@keyframes chat-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*=========tabs=============*/
.product-card__ribbon-wrapper { position: absolute; z-index: 3; top: 11px; left: 11px; overflow: hidden; width: 118px;
 height: 118px;}
.product-card__ribbon--is-new { font-size: 0.875rem; font-weight:700; padding-top: 4px; text-indent: -8px;
    font-style: normal;}
.product-card__ribbon { font-size: 0.6rem; font-weight: 700; line-height: 1;  position: absolute; top: 11px;
    left: -37px; display: block; width: 160px; height: 22px; /*padding-top: 2px;*/ padding-right: 62px;
    padding-left: 39px;  transform: rotate(-45deg); text-align: center; text-transform: uppercase; color: #fff;
    background-color: #1f32c4;}


/*=========About us section css====================*/

.pagewrap{width: 1190px !important; margin: auto;}
@media(max-width: 768px){
  .pagewrap{width:100% !important; padding:1rem !important}
  .mission-section{height: 41vw !important}
}
.bgWhite{background: #fff; float:left; width: 100%; box-shadow: 0 0 10px #ddd;}
.pagewrap-inner{padding:0 1.5rem;}
.mission-text{background: #043852; color:#fff; border-top:1px solid #0d4f70; padding-top:1rem;}
.banner-about{width:100%; position: relative;overflow: hidden; height: 360px;}
/*.banner-about::before{content:''; position: absolute; top:0; left: 0; background: rgba(34,76,114,0.7);
 width: 60%; transform-origin: bottom left; left:-200px; bottom:0; z-index: 1;
-ms-transform: skew(-30deg, 0deg); -webkit-transform: skew(-30deg, 0deg); transform: skew(-30deg, 0deg);}*/

.banner-about img{transform: scale(1); transition: all 0.4s;}
.banner-about img:hover{transform: scale(1.04);}
.banner-about img{object-fit:cover; height:auto; width: 100%;}

.banner-about:hover img {
    opacity: 0.9;
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
     transform: scale(1.025); 
}

.seperator{background: rgba(167,14,21,1); width:60px; height:30px; border-radius: 100px; line-height: 25px;
font-size: 1.5rem; font-weight: 700;position: absolute; top:-15px; left: 47%;  border:4px solid #ac2b31;
/*box-shadow: 0 0 2px #000*/}

.bha-tab{position: absolute; bottom:-50px;left:0; right:0}
.block-ellipsis { display: block; display: -webkit-box; max-width: 100%; margin: 0 auto; line-height: auto;
  -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}

.caption.v_middle{top:15% !important; left:1%; color:#fff; padding:1.8rem;}
.caption.v-xx_middle{top:6% !important; left:1%; color:#fff; padding:1.8rem;}
.carousel-item.height-50{height:350px !important; object-fit: cover !important; overflow: hidden !important;}
.carousel-item.height-50 .caption{position: absolute; top:12%; left:0; z-index: 1; background: rgba(0,0,0); padding:3rem 2.5rem;
 width: 37%;}
.text-black-dark{color:#fff !important; text-shadow: 1px 1px 30px #666}
.tab-menu{list-style-type: none; float:left; width: 100%; margin:0; padding:0; position: relative; 
  box-shadow: none;top: -3.1rem;z-index: 1;}
.tab-menu .tablink{float:left; display: inline-block;color:#000; position: relative;
  text-transform: uppercase;text-decoration: none; font-size: 0.875rem; padding:0.860rem 5.174rem; 
  text-align: center;white-space: nowrap; border-bottom: 1px solid #23536b;
  background: rgba(255,255,255,0.9); margin:0;}
.tab-menu .tablink:hover{background: #23536b; transition: 0.3s; color:#fff;}
.tab-menu .tablink.current{color:#fff; background:#23536b;}

/*.tab-menu .tablink.current:after {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #23536b;
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 45%;}*/
/*.js-scroll-menu{background: #fff; width:100%; float:left; padding:0; margin:0;box-shadow: 0 0 10px #ddd;}*/
.right-control.orange, .left-control.orange{background: #6995b1}
.content-section{float:left; width:100%; padding:1rem; background: #fff url(../images/c_bha_pro_bg.jpg);background-size: cover; background-position: center;/* box-shadow: 0 5px 10px #000*/
margin-bottom: 10px;}
.menu-fixed {top: 116px; z-index: 100 !important; position: fixed !important; }
.wsmenu{z-index: 10000 !important}
.heading-h4{font-family: 'Oswald', sans-serif; font-size: 1.3rem; font-weight:normal;
padding:1.5rem 0; width:100%;}
.mv-section{background: #fff url(../images/c_bha_pro_bg.jpg); background-size: cover; background-position: center; padding:1rem; float:left; width: 100%; color:#000; position: relative;}
.quote{font-size: 1.6rem; font-weight: 300; padding:1.5rem 0;}
.font-xx{font-size: 1.2rem; font-weight: 600}
.bha_heading_2.text-black{color:#000;}
.text-blue{color:#235168;}
.border-left{border-left:4px solid #6995b1 !important; padding-right:30px !important;}
.mission-section{background: #043852 url(../images/mission_bg.jpg);height: 500px; width: 100%; float:left;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;}
.location-section{float:left;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;}
/*.heading{
  background:#6995b1;
  position:relative;
  top:32px;
  margin-bottom:2rem;
  height:32px;
  width:100px;
}
.heading:after,.heading:before {
  height: 0;
  width: 0;
  content: "";
  display: block;
  position: relative;
}
.heading:before{
  border-bottom: 32px solid #6995b1;
  border-left: 12px solid transparent;
  left: 12px;
}
.heading:after{
  border-bottom: 32px solid #6995b1;
  border-right: 12px solid transparent;
  left: 100px;
  top:-32px;
}*/

.border-frame{/*border:10px solid #fff; *//*box-shadow:0 0 30px #ddd;*/ object-fit: cover; min-height: 345px; 
  position: relative;}
.img-caption{position: absolute; bottom:35px; left: 0; right:0; background: #23536b; padding:0.5rem 1rem;
color:#fff;}
.bha-name{font-weight: 600; font-size: 1.2rem}
.bha-designation{font-size: 0.8rem; font-weight: normal;}

/*======Contact us page==================*/
.text-small{font-size: 0.875rem}
textarea{box-shadow: none;}
textarea:focus{box-shadow: none !important;}
.bha-icon{ color: #a70e15; border: 1.5px solid #a70e15;  border-radius: 100px;  width: 24px; height: 24px; 
  padding:7px 6px; vertical-align: top; font-size: 0.6rem; font-weight: bold;}
.location{float:left; width: 100%;}
.location a{color:#000; text-decoration: none;}

.bha-flag{float:left;width:80px !important; height: 80px !important; object-fit: cover; margin-right: 1rem;}

.bha_h_50{height:40vh; width: 100%; object-fit:cover;}
.image-holder {display: block; width: 350px; transition: opacity .5s linear; 
  overflow: hidden;}
.image-holder img{object-fit: cover; object-position: center;}

.chat-button.free-signup{position: fixed; top:40%; right:0; background: #a70e15;
font-size: 1rem !important; color:#fff !important; cursor: pointer; font-weight: bold}
.signup-fixed{top:-58px; z-index: 100 !important; position: fixed !important;}
.action-btn{ position: absolute; bottom: -3%; left:50%; width:10%;/*box-shadow: 0 0 1px #999;*/ 
transform: translate(-50%,-70%); color:#fff;text-align: center; width:80px; background: rgba(255,255,255,0.8);
padding:0.5rem 0; border:2px solid #f3f3f3; cursor: pointer; border-radius: 50px; transition: all 0.5s}
.action-btn a{text-decoration: none; outline: 0;}
.action-btn i{font-size: 30px; color:#000; display: block;}
.action-btn i:hover{color:#000;}

.nav-pills{border-radius: 0 !important; background:#fff !important; height:auto; border:1px solid #d6e4f0;
border-right:none;}
.nav-pills .nav-item .nav-link{background: #fff !important; color:#000 !important; /*border:1px solid #f1f1f1;*/
border-radius: 0 !important; margin:0 !important; padding:0.8rem !important; border-right: none !important}
.nav-pills .nav-item:hover{background: #347799 !important; color:#fff !important; transition: 0.3s}
.nav-pills .nav-link:hover{background: #347799 !important; color:#fff !important; transition: 0.3s}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{border-radius: 0 !important; 
  background:#23536b !important; color:#fff !important; border:none; }
.tab-content{border:1px solid #d6e4f0; padding:1rem 0.6rem 1rem 1.5rem; height:auto; background: #fff}
.location_head{color:#0e415a; font-size: 0.975rem; font-weight: 700;max-height: 257px}
.bha-left{background: #ddd; width: 100%; position: relative;  overflow: hidden; padding-bottom:0rem;
max-height: 257px}
.bha-left:before{ content: ""; position: absolute; top:0; left: 0; bottom: 0; right:0; background: rgba(17,63,89,0.9) }
.bha-left-head{position: absolute; top:22%; right: 1%; z-index: 1; padding:1rem; text-align:center;color:#fff;
font-family: 'Oswald', sans-serif; font-size: 1.5rem}
.tab-pane a{color:#000; font-size: 0.875rem}
/*hr{background: #f0eeee; height: 2px}*/

/*=====Login hover ===========*/
.toplink{display: block; margin:0; padding: 0; list-style-type: none;}
.toplink li{float:left; display: inline-block; margin:8px 15px;/* background: #e5e5e5*/}/*
.toplink li:hover{ background: #e5e5e5}*/
.toplink li a img{margin:0 10px;}
.toplink span{ border-right:1px solid #fff; float:left; height: 12px; margin-top: 15px}

#theBox_2{
display: none;
border: 1px solid #000;
background: #fff;
position: absolute;
top: 32%;
right: 110px;
width: 600px;
z-index: 1000000 !important;
padding:2rem 1.5rem 1rem;
color:#000;
}

.theBox_2{
display: none;
border: 1px solid #000;
/*width: 380px;*/
/*height: 200px;*/
background-color: #e5e5e5;
position: absolute;
top:30%;
right:30%;
width: 600px;
z-index: 1000000 !important;
padding:2rem 1.5rem 1rem;
color:#000;
}

.seachbox{
display: none; /*border-top:1px solid #ddd;*/
background-color: #fff;
position: absolute;
top:42%;
right:1%;
width: 30%;
z-index: 1000000 !important;
padding:0.5rem 1rem;
color:#000;
}

@media(max-width: 768px){
.mOb_bha{width:100%; background: #000; padding:0.5rem 0 !important; margin:0 !important;}
.headerwp{padding-left:0 !important; padding-right:0 !important; margin: 0 auto !important; width: 100%;}
.view-all{width: auto;}
#theBox_2{width:100% !important; right:0 !important;}
}
#theBox_country{display: none;
border: 1px solid #000;
/*width: 380px;*/
/*height: 200px;*/
background-color: #3b3838;
position: absolute;
top: 0;
right: 0;
width: 100%;
z-index: 1000000 !important;
padding:1.5rem 1.5rem 1.5rem;
color:#000;/*margin: 0 6.5rem;*/}
#theBox_2 .pwdlink{color:#000 !important; text-transform: none !important; padding:0 !important; margin:0 !important;}
#StayOpen, #CountryOpen {
 background-color: transparent;           
}

.benefits-of-registering{border:1px solid #ddd;padding:1.5rem 2rem;}
input[type=text]:focus, input[type=password]:focus{box-shadow: none !important;}

.bha-contry-list{margin:0; padding:0;}
.bha-contry-list li{display: inline-block; list-style-type: none; padding:0.5rem; border:1px solid #595858; 
  text-align: center; margin:0.45rem ; width: 15%}
.bha-contry-list li:hover{background:#5ea1b4;transition: 0.3s;}
.bha-contry-list li a{display:inline-block; color: #fff !important; font-size: 0.8rem;
 text-decoration: none; text-transform: none; font-weight: normal;}
.bha-contry-list li a:hover{text-decoration:none;  color:#000;}
.bha_h_100{height:411px !important; width: 100%; object-fit:cover; border-bottom:1px solid #255a74;}

/*===========Inner page Css============*/
* {box-sizing: border-box;}
.bha-item-align-center{background:transparent; text-align: center;}
.page_link_item {
  position: relative;
  overflow: hidden;
  border:1px solid #f2f2f2; height: 350px;
  margin-bottom: 2.5rem; display: inline-grid;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  width:260px; height: 260px;
  
  /*transition: 0.3s;
  transform: scale(1);*/
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background:#23536b;
  font-size: 0.750rem;
  /*background: rgba(36, 83, 107, 0.9);*/ /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: all .4s;
  opacity:1;
  color: white;
  padding: 10px 30px 17px 30px;
  text-align: center;
  transform: scale(1.1);
}

.page_link_item:hover .overlay {
  opacity: 1;
  background:#000; color:#0aa9f8;
  transform: scale(1.1); 
}
.page_link_item:hover .image {
  /*transform: scale(1.3);*/
}

.bha_category_head{background: #fff; text-align: center; float:left; padding: 2.5rem 0 1.5rem 0; width: 100%; position: relative;}
.item-pro-inner{background: transparent; border:1px solid #a6dae8; padding:0.6rem; float:left;}
.outer-wrpper{position: relative; background:transparent; border-radius:4px;  
  margin-bottom: 2rem; width: 100%}
 .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.section-wrapper{background:#000; float:left;width: 100%;}
.bottom-banner-capation{
 width: 100%; height: 100%; padding:3.5rem 2.5rem; color:#fff;}
.bottom-banner-capation .bha_heading_1{font-weight: 700; font-size: 2.5rem}
.bha-graphic-section{background: #000}
.bha-graphic-section img{transition: all 0.4s; opacity: 1}
.bha-graphic-section img:hover{background:rgba(0,0,0); opacity: 0.8; transition: all 0.4s}
.spacer-right{padding-right:1.15rem;}

/*==========Accordian css============*/
.card.border-lrtb{border-color:#edeaea; border-width: 0; border-radius: 2px !important;}
.margin-top{border:1px solid #f2f2f2; margin-top: -9px; margin-bottom: 10px;}
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

#accordion .panel{
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}

#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 3px;

}

#accordion .panel-title a{
    display: block;
    padding: 12px 15px;
    background: #23536b;
    font-size: 0.950rem;
    color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    position: relative;
    transition: all 0.5s ease 0s;
}

#accordion .panel-title a.collapsed{
    box-shadow: none;
    color: #fff;
}

#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: url('../images/left-arrow-white.png');
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 15px;
    transform: rotate(-90deg);
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before{
    color: #fff;
    transform: rotate(180deg);
}

#accordion .panel-title a:after{
    content: "";
    width: 1px;
    height: 100%;
    background: #3b80a2;
    position: absolute;
    top: 0;
    right: 55px;
}

#accordion .panel-body{
    padding: 10px 15px 15px;
    border: none;
    font-size: 15px;
    color: #615f5f;
    line-height: 27px;
}

/*=========================================================,0.6==============*/
/*=========Inner Page layout desing CSS==================================*/
.banner-inner-no-caption{width:100%; position: relative;overflow: hidden; height: 260px}
.banner-inner-no-caption img{transform: scale(1); transition: all 0.4s;}
.banner-inner-no-caption img:hover{transform: scale(1.04);}

.banner-inner-no-caption img{object-fit:scale-down; height:auto; width: 100%;}


.banner-inner{width:100%; position: relative;overflow: hidden; height: 260px}
.banner-inner::before{content:''; position: absolute; top:0; left: 0; background: rgba(34,76,114,0.7);
 width: 60%; transform-origin: bottom left; left:-200px; bottom:0; z-index: 1;
-ms-transform: skew(-30deg, 0deg); -webkit-transform: skew(-30deg, 0deg); transform: skew(-30deg, 0deg);}

.banner-inner img{transform: scale(1); transition: all 0.4s;}
.banner-inner img:hover{transform: scale(1.04);}

.banner-inner img{object-fit:cover; height:auto; width: 100%;}
.banner-caption{position: absolute; bottom:8%; left: 1.5%; color:#fff; width: 41%; padding-right: 0; z-index: 100}
.banner-caption .bha-inner-heading{font-family: 'Oswald', sans-serif;font-size: 2.5rem;
text-transform: uppercase;color: #fff; font-weight: 700}
.text-size-medium{font-size: 1.2rem;}
.breadcrumb{background:transparent; margin-top: 0.6rem; padding-left: 0; font-weight: 500}
.breadcrumb-bar .breadcrumb-item+.breadcrumb-item::before {content: "/";}
.breadcrumb-item a{color:#000;}
.display-head-2{color:#23536b; font-weight: 600; font-size: 1.7rem; font-family: 'Oswald', sans-serif;}
.description{padding:1rem 0; line-height: 28px}
.img-wrapper{width:366px; height:247px; overflow: hidden;}
.media-body a{color:#000;}
.media-body h6{font-size: 0.875rem;}
.text-light-gray{color:#a2a2a2;}
.mrg-top{margin-top: -2px;font-size: 0.875rem}
.card-wrapper{background: #fff; padding:0.6rem; box-shadow: 0 0 20px #eee; width: 260px; text-align: center;}
.card-wrapper img{object-fit: cover; height: 300px;}

.pro-item-section{width: 100%; float:left;}
.pro-item-wrapper{background: #d9d9d9; padding:1rem 1.5rem 0; margin:0 0.3rem 0 0.1rem; float: left;}
.pro-item-wrapper.bg-white{background: #fff; border:1px solid #ececec;}
.item-description{padding:1.5rem 2.5rem; color:#000;}
.item-heading{color:#23536b; font-weight: 600; font-size: 2rem; font-family: 'Oswald', sans-serif;
 padding:0 7rem 0 0;}
.item-description a:hover{color:#fff;}
.prod-item{padding:1rem; width:100%; text-align: center;}
.prod-item img{width: 300px; display: inline-block !important;}

.portfolio .portfolio-hover {
  position: absolute;
  width: 260px;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0px; box-shadow: 0 0 40px #f6f6f6; border:1px solid #ececec;
}

.portfolio .portfolio-hover:hover {
  opacity: 1;
}

.portfolio .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  margin-top: 0; z-index: 1000;
}

.callToAction{
  height: 300px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-view{background:transparent;color:#23536b; border:2px solid #23536b; padding:0.5rem 1.8rem; 
  border-radius: 6px; text-transform: uppercase; font-size: 0.875rem; font-weight: 600; cursor: pointer;}

.literature{background:transparent;font-size: 1rem; font-weight: 700;}
.literature a{color:#000; display: block; padding:0.3rem 0; text-transform: uppercase;
 padding-left:5rem; background:transparent; transition: all 0.4s}  
.literature a:hover{/*background:#a70e15; */transition: all 0.4s; color:#000;}
.literature-icon{ margin:0.4rem 2rem; position: relative; width: 50px; height:50px;}

/*.advertisement{background:transparent; font-size: 1rem; font-weight: 700}
.advertisement a{color:#fff; display: block;padding:0.3rem 0;text-transform: uppercase; 
  margin-left:5rem;  background:transparent; transition: all 0.4s} 
.advertisement a:hover{background:#a70e15; transition: all 0.4s}
.advertisement-icon{ margin:0.4rem 2rem; position: relative; width: 50px; height:50px;}*/

/*.brochures{background:transparent; font-size: 1rem; font-weight: 700}
.brochures a{color:#fff; display: block;padding:0.3rem 0;text-transform: uppercase;   margin-left:5rem;}
.brochures a:last-child{border:0;}
.brochures a:hover{background:transparent; transition: 0.3s}*/

.literature img,  .advertisement img, .brochures img{position: absolute; top: 0; left:-16px; display: block;}

.media{ padding:1rem;}
/*.media:hover{background: #f00; padding:1rem;}*/

/*==============Increase/Decrease-input=================*/
.inc_value {
  width: auto;
  /*margin: 0 auto;*/
  text-align: left;
  padding-top: 40px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0;
  width: 40px;
  color:#000; font-weight: 700;
  text-align: center;
  vertical-align: middle;
  padding:6px;
  background: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
  background: #ddd;
  color:#000;
  border:1px solid #ccc;
  transition: 0.4s;
}

.inc_value .decrease {
  margin-right: -4px;
  border-radius: 1px 0 0 1px;
}

.inc_value .increase {
  margin-left: -4px;
  border-radius: 0 1px 1px 0;
}

.inc_value #input-wrap {
  margin: 0px;
  padding: 0px;
}

input.number {
  text-align: center;
  border:1px solid #ddd;
 /* border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;*/
  border-right:none;
  margin: 0px;
  width: 40px;
  height: 38px;
  padding-bottom: 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*===============Auto Popup Css============================*/
.instructions {
  text-align:center;
  font-size:20px;
  margin: 15vh;
}  

/* ============== // overlay ============ */

.backgroundOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #555;
  opacity: .75;
  filter: alpha(opacity=75);
  -moz-opacity: .75;
  z-index: 10002;
  display: none;

}
/*This is the Popup Window   */
.delayedPopupWindow {
  display: none;
  position: fixed;
  width: auto;
  width: 700px;/*--width: 864px; height:604px;*/
  height:400px;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  margin:auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  background: #fff;
  z-index: 999999;
}

/*This is the closing button  */
#btnClose {
  position: absolute;
  top:10px; right: 10px;z-index: 100;
  color: #BCBCBC;
}
@media(max-width: 768px){
#btnClose {
  position: absolute;
  top:75px; right: 25px;z-index: 100;
  color: #BCBCBC;
}
}
/*This is the closing button hover state  */
#btnClose:hover {
  color: #c90c12;
}


.img-cover{width:423px;max-width: 100%; height:400px; max-height: 100%; 
  object-fit:cover; overflow: hidden;}

.popup-brand{padding:1.5rem 1.5rem 1.5rem 0.5rem; width:300px; text-align:left;}
.popup-decscription{padding:0 1.5rem; font-weight: 500;font-size: 1rem;}
.popup-decscription .small{font-size: 60%; margin-top: 0rem; color:#444;}
.popup-display{font-size: 1.5rem; font-weight: 400; line-height: 1.5rem; margin-top: 0.8rem; 
  margin-bottom: 0.8rem;font-family: Taviraj,Times,serif;}
.popup-input{width:100%; border:1px solid #555; padding:0.5rem; font-weight: 300; font-size:0.875rem;
border-radius:0.1rem; box-shadow: 0 0 10px #f7f7f7}
.popup-btn{width:40%; background: #23536b; color:#fff; text-transform: uppercase; padding: 0.5rem 1rem; 
  border:0; margin-top: 0.5rem;letter-spacing: 0.150rem;}
.popup-input::-webkit-input-placeholder { /* Edge */
  color: #000 !important; font-size: 0.9rem; text-transform: uppercase;}
.popup-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000 !important;font-size: 0.9rem; text-transform: uppercase;}
.popup-input::placeholder {color: #000 !important;font-size: 0.9rem; text-transform: uppercase;}
.text-underline{text-decoration: underline;color:#555; font-size:0.775rem; font-weight: 400; font-family: Roboto, sans-serif}
.popup-decscription a{color:#444;font-size:0.750rem;} 
.popup-decscription a:hover{text-decoration: underline;}



@media (min-width: 768px) {
  .panel-heading {
    display: block;/*--display:none;*/
  }
  .panel {
    border: none;
    box-shadow: none;
  }
  .panel-collapse {
    height: auto;
  }
  .panel-collapse.collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  .tab-content .tab-pane {
    display: block;
  }
  .nav-tabs {
    display: none;
  }
  .panel-title a {
    display: block;
  }
  .panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    margin-top: -2px;
  }
  .tab-pane:first-child .panel {
    border-radius: 5px 5px 0 0;
  }
  .tab-pane:last-child .panel {
    border-radius: 0 0 5px 5px;
  }
}

/*====================Wishlist like button css=================================*/

.like-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:#fbfbfb;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
 
  text-decoration: none;
  overflow: hidden; z-index: 80!important;
  position: absolute; top:2%; right:10%;
}
.like-button.zIndextop{z-index: 1000 !important;}
/*.like-button.Indextop{position: relative; z-index: 100501 !important}*/
.like-button .like-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff4f8f;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 0;
}
.hover-hotdeal{position: absolute; top: 20%;
right: 4%;
width: 30px;
height: 30px}
.hover-hotdeal .like-overlay{display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background: #ff4f8f;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 0;}
.hover-btn{position: absolute; top: 1.5%;
right: 3%;
width: 30px;
height: 30px}
.hover-btn .like-overlay{display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background: #ff4f8f;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 0;}


.like-button i.not-liked {
  display: block;
  color: #a6a6a6;
  position: relative;
  z-index: 1;
}
.like-button i.is-liked {
  display: none;
  color: #fff;
  position: relative;
  z-index: 1;
}
.like-button.is-active .like-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.like-button.is-active i.not-liked {
  display: none;
}
.like-button.is-active i.is-liked {
  display: block;
}

@-webkit-keyframes bouncy {
  from, to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
}
@keyframes bouncy {
  from, to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05);
  }
}
.bouncy {
  -webkit-animation: bouncy 0.6s;
  animation: bouncy 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.link-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #6dacff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.link-button img {
  width: 32px;
  height: 32px;
  display: block;
}
.link-button:hover {
  -webkit-transform: scale(1.1) rotate(180deg);
          transform: scale(1.1) rotate(180deg);
  background: #ff4f8f;
}

.compare-link{color:#000;}
.compare-link.link-active {color:#0cd65d !important;
  -webkit-transform: scale(1);
          transform: scale(1);
}


/*==================================*/

.sidebar{ height:auto; padding:0 0 15px 15px;}
.stick { position: fixed;width:19.6%; top: 120px;}
.abs { position: absolute; bottom: 0px; width:89.5%;}


.sidebar-lft{ height:auto; padding:0 0 15px 15px;}
.stick-lft { position:fixed;width:21.8%; top: 120px;}
.abs-lft { position: absolute; bottom: 0px; width:89.5%;}


/*======Thumbnails css=========================================*/
.thumbnails{margin:0; padding:0; float: left; width: 100%;margin-top: -8px}
.thumbnails li{list-style: none; margin-bottom: 10px; display: inline-block;
  text-align: center; text-align: center; line-height: 60px;margin:0 0.8rem 0 0}
.thumbnails li a{color:#000; text-decoration: none;}

.prod_gallery-sm{float:left;margin:0; padding: 0; margin-left:0;margin-bottom: 1rem}
.prod_gallery-sm img{object-fit: cover; width:395px !important; height: 320px !important; 
  min-height: 100%;}
/*.w-xl-100{width: 1200px !important}*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100001 !important;
    display: none;
    overflow: hidden;
    outline: 0;
}
/* ------------------------------------
  cart box
------------------------------------ */
#myCart{display: none;border: 1px solid #000;background-color: #e5e5e5;position: absolute;
top: 40%;right: 210px; width: 300px; z-index: 1000000 !important;padding:2rem 1.5rem 1rem;
color:#000;}

.cart-link { text-align: center; position: relative; z-index: 99; }
.cart-link li> a { display: inline-block; line-height: 1.5; font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 12px; color: #FFFFFF; text-transform: uppercase; }
.cart-link li> a .fa { font-size: 18px; display: inline-block; vertical-align: middle; margin-right: 8px; color: #fff; }
.cart-link li> a:hover { text-decoration: none; }
.cart-box { background: #fff; position: absolute; top: 34%; right: 280px;width: 325px; 
  padding: 0; border: 1px solid #c4c4c4; border-top: 0; box-shadow: 0 0 10px rgba(0,0,0,0.2); text-align: left; 
  font-size: 14px; line-height: 1.4; color: #7f7f7f; z-index: 999990 !important;
display: none}
.cart-box:before { content: ''; width: 0; height: 0; 
border-bottom: 8px solid #fff; border-top: 6px solid transparent; 
border-left: 10px solid transparent; border-right: 10px solid transparent; 
position: absolute; bottom: 100%; right: 155px; }
.cart-box .button { margin: 0 5px 0 0; }
.cart-box .button:last-child{margin-right:0;}
.item-list { margin: 0; list-style: none; padding: 15px 15px 0 15px; }
.item-title{display: -webkit-box; margin: 0 auto; line-height: auto; -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis; padding-right:0.5rem;}
.item-list .item { padding: 0; margin: 0 0 10px 0; border-bottom: 1px solid #f3f3f3;  
  transition: all 0.4s}
.item-list .item:hover{background: transparent; border-color:#ddd;}
.item-list .item .cart-thumbnail { float: left; margin: 0 10px 0 0; border:1px solid #eaeaea;}

.item-list .item .cart-thumbnail img{object-fit: cover; object-position: center;
  width:70px;height: 70px;}

.corner-close { width:70px;height:0;top: 14px; left: 42px; position: relative;}
.corner-right {width: 0; height: 0;border-bottom: 28px solid #23536b;
border-top: 28px solid transparent;border-left: 28px solid transparent; transition: 0.4s}

.item-list .item:hover .corner-right{width: 0; height: 0;border-bottom: 28px solid #e80f19;
border-top: 28px solid transparent;border-left: 28px solid transparent;}

.corner-right span {text-transform: uppercase; line-height: 0.8rem;
  position:absolute;font-weight: 700; font-size: 0.650rem;top: 41px;width: 42px;
  left:0;text-align: center;transform: rotate(-180deg);display:block; color:#fff;
cursor: pointer;}

.mobPipe{padding:0 .8rem 0 0;}
.item-list .item .details { float: right; width: 70%; }
.item-list .item .details a { font-weight:400; color:#333 !important; text-transform: none; }
.item-list .item .details .sp-price.quantity{color:#888; font-weight: 300;}
.item-list .item .details .sp-price{color:#0b5076; font-weight: 400; font-size: 0.750rem;
  padding:0.8rem 0 0.8rem 0; width: 49%;display: inline-block;}
.item-list .item .details span { display: block; }
.item-list .item .delete-item { margin-top:0; float:right; position: relative;}
.item-list .item .delete-item i {width: 10px; height: 10px; position: absolute; 
  bottom:0; right:0; text-align: center; cursor: pointer; }
.cart-footer{ padding:0 15px; width: 100%;}
.cart-summary { padding:0; font-weight: bold; }
.cart-summary .summary-left { float: left; width: 50%; color:#000; }
.cart-summary .summary-right { float: right; width: 50%; text-align: right; color:#000; }
.button {display: inline-block; vertical-align: middle; line-height: 1;
    border: 0; color: #fff; text-transform: uppercase; padding: 0.650rem 2.3rem !important;
    border-radius: 4px; transition: all 0.3s;}
.modal-btn{margin-top: 1.8rem; float:left;}