/*======Layout component reset css rules=======
button reset==*/
.carousel-item { height: 470px; overflow: hidden;}
.carousel-item img {  position: absolute;  top: 0; left: 0; min-height: 470px; 
  object-fit: cover !important;}

/*.carousel-item.h_50{height: 300px}*/
.input-group-append {
    margin-left: -6px !important;
}
.modal { z-index: 10000 !important;}
.pl-pr{padding:0.5rem 2rem !important}
.bha-btn-primary{background:#23536b; color:#fff; font-weight: 500; padding:0.6rem 1.5rem;
  border-radius: 0.3rem;text-transform: uppercase;}
.bha-btn-primary.w-100{width:100%;}
.bha-btn-primary:hover{background: #2c6e8f; transition: 0.3s; color:#fff;}
.bha-btn-secondry{background:#a70e15; color:#fff; font-weight: 500; padding:0.6rem 1.5rem;
  border-radius: 0.3rem;  text-transform: uppercase}
.bha-btn-secondry:hover{background: #8f070e; transition: 0.3s}
figcaption{padding:5rem 3.2rem !important;}
.headerfull{box-shadow: none !important}
.wsmenu{text-align: center !important; background: #000; width: 100% !important;}
.wsmenu > .wsmenu-list > li > .wsshoptabing {
    width: 78% !important;
    text-align: left;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 60px;
    background-color: #f8f8f8;
    left: 175px !important;
    border-bottom: solid 2px #376cb7;
    border-top: solid 0px;
    z-index: 101;
}
/*.carousel-item picture img{object-fit:scale-down; width: 1520px; height: 768px}*/
/*.wsmenu > .wsmenu-list > li.wsshopmyaccount > a{padding:0 50px !important; text-transform: uppercase;}*/
.wsshopwp{position: relative; z-index: 100!important;}
@media only screen  and (min-width : 1224px){
.topmenusearch{width: 44% !important}
.wsmenu > .wsmenu-list > li.wsshopmyaccount > a{padding:0 40px !important; text-transform: uppercase;}
.bha-client li img{width: 213px !important}
/*.tab-inner .tablink{width: 155px !important}*/
.tab-menu .tablink{width: 24.850% !important}
.carousel-item { height: 370px;}
.carousel-item img {  position: absolute;  top: 0; left: 0; min-height: 370px; 
  object-fit: cover !important;}
.product-card-inner{height: 360px !important}
.caption{top:8% !important;}
}

/*@media only screen and (max-width:1360px){
.topmenusearch{width: 44% !important}
.wsmenu > .wsmenu-list > li.wsshopmyaccount > a{padding:0 40px !important; text-transform: uppercase;}
.bha-client li img{width: 213px !important}
.tab-inner .tablink{width: 155px !important}
.tab-menu .tablink{width: 23.360% !important}
}*/

/*@media only screen and (max-width:1280px){
.topmenusearch{width: 40% !important}
.wsmenu > .wsmenu-list > li.wsshopmyaccount > a{padding:0 45px !important; text-transform: uppercase;}
.bha-client li img{width: 213px !important}
.tab-inner .tablink{width: 155px !important}
.tab-menu .tablink{width: 15% !important}
.bha_heading_2{font-size: 1.5rem !important}
}*/

@media only screen  and (min-width : 1920px) {
.topmenusearch{width: 49% !important}
.wsmenu > .wsmenu-list > li.wsshopmyaccount > a{padding:0  50px !important}
.product-card-inner{height: 400px !important}
}

.bha-client li img{width: 245px !important}
/*======Typography setting==*/
.bha_heading_1{font-family: 'Oswald',sans-serif !important; font-size: 3rem; text-transform: uppercase; color:#fff}
.bha_heading_2{font-family: 'Oswald',sans-serif !important; font-size: 1.8rem; text-transform: uppercase; color:#fff;}
figcaption h4{text-transform: uppercase; font-size: 1.125rem}
.headtoppart span ul{margin:0; padding:0;}
.headtoppart span ul li a{color:#000 !important; padding:0.5rem 0; border-bottom: 1px solid #f2f2f2;width: 100%;
display: block; text-decoration: none; font-size: 0.750rem !important}
.headtoppart span ul li a:hover{text-decoration: none; background: #f1f1f1}

.dropdown-menu { margin-top: 10px !important; border-top-left-radius: 0; border-top-right-radius: 0;
 display: block; transform: scale(0); transition: ease-out 0.3s;  min-width:98px !important;
 text-align: center; box-shadow: 2px 2px 20px #666;z-index: 10000 !important}
.dropdown:hover .dropdown-menu { transform: scale(1);}
.dropdown-menu1{ border:none; display: block; transform: scale(1)!important; height: 0px; overflow: hidden;
  padding: 0px; top: 180px; transition: all .3s;}
.dropdown:hover .dropdown-menu1{ display: block; top: 100%; height: inherit;}
/*=====mega gallery css=====*/
.wstheading{background: #000;}
.wstheading > a{color:#fff !important;font-family: 'Roboto', sans-serif; text-transform: none; font-size: 0.875rem !important;
font-weight: normal;}
.wstliststy04 img{object-fit: cover; width: 250px; height: 120px;}
.custom-gutter > [class*='col-'] { padding-right:2px; padding-left:2;}


/*======OEM Section Css==========*/
.bha_oem_container{float:left; width: 100%; padding:2rem 0; background: #000 url(../images/oem_bg.jpg) bottom left no-repeat;
background-size: cover; background-position: center center; position: relative; color:#fff;}
/*.bha_oem_container::before{content: ""; position: absolute; top:0; left:0; right:0; bottom:0; background: rgba(0,0,0,0.8);}
.bha_oem_container > * { z-index: 100;position: relative;}*/
.bha_oem_container h2{font-size: 2rem;}
.bha-product-section{background:#000 url(../images/bha_pro_bg.jpg) bottom left no-repeat;
background-position: center; background-size: cover; 
  float:left; width:100%; position: relative;}
.bha-product-section::before{content: " "; background:rgba(0,0,0,0.8);position: absolute; top:0; left:0; right:0; bottom:0;}
.product-card-wrapper{background:transparent;}
.product-card-wrapper a{text-decoration: none;}
.product-card-wrapper a:hover{text-decoration: none;}
.product-card{background: #fff; padding:0.8rem; border-radius: 0.3rem}
.product-card-inner{background: transparent; border:1px solid #a6dae8; padding:0.6rem; height: 400px;position: relative; }
.product-description{padding:1rem 0 0.8rem 0.3rem; text-align: center;color:#000; font-weight: 500; font-size: 0.875rem}
.product-tag{color:#888; text-transform: uppercase; text-align: center;}

.prod-details-link{margin-top: 1.5rem;  position: fixed; bottom:25px; width: 82%}
.prod-details-link a{border-radius: 0.1rem !important;}
.z-index{position: relative; z-index: 100}
.view-all{width:20%; border-radius: 0.1rem !important; margin-top: 1rem}

.tab-container{width:100%;background: url(../images/top-bar-bg-m.jpg); background-size:cover;
  background-position:center; float:left; width: 100%; position: relative;}
.tab-container:before{content: ''; background: rgba(0,0,0,0.8); position: absolute; top:0; left:0; right:0; bottom:0;}

.item-wraper{padding:2rem 0;}
.tab-inner{display: block; margin:0; padding:0; list-style-type: none; position: relative;}
.tab-inner .tablink{float:left; display: inline-block; /*margin: 0 2rem 0 1rem; */color:#fff;  transition:0.5s;
  text-transform: uppercase;text-decoration: none; font-size: 0.875rem; padding:0.875rem 0; width: 140px; text-align: center; }
.tab-inner .tablink:hover{background:rgba(49,83,129,0.5); display: block; transition:0.5s }
.left-control{font-size: 0.875rem; padding:0.875rem 0; text-align: center; background: #000; color:#fff; 
  float:left; width: 38px}
.right-control{font-size: 0.875rem; padding:0.875rem 0; text-align: center; background: #000; color:#fff; 
  float:left; width: 41px}
.left-control i, .right-control i{color:#fff;}
.tab-inner .tablink.current{background:#23536b;}
.brands-head{float:right; color:#fff; font-size: 1.5rem; text-transform: uppercase; width: 11%; text-align:center; font-family: 
'Oswald', sans-serif;  padding:0.4rem 1.2rem;background:#000; font-weight: 700; }
/*.tab-inner .tablink.current:after {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #23536b;
  content: " ";
  position: absolute;
  bottom: -8px;
  left: 7.5%;}*/

/*=====Header-section===*/
.header-section{background: #000 url(../images/header_bg.jpg) bottom left no-repeat; background-size: cover;
    background-position: center; text-align: center; float:left; padding: 1.8rem 0 1.5rem 0; width: 100%; position: relative;}
.header-section::before{content:''; top:0; left:0; right:0; bottom:0; position: absolute; background: rgb(0,0,0,0.9);}

.header-section.client{background: #000 url(../images/bg_black.jpg) bottom left no-repeat}
.header-section.client::before{content:''; top:0; left:0; right:0; bottom:0; position: absolute; background: rgb(0,0,0,0.8);}

/*=====Pro-equipment-section======*/
.pro-equipment-section{width: 100%; float:left; margin:0; padding:0;}
.product-item-wrapper{background:transparent;
  position: relative; }
.pro-equipment-section .slick-slide{margin:0 !important; }
.product-item-wrapper .card{/*width:378px !important;*/ border-right:2px solid #fff;}
.product-item-wrapper .card img{object-fit: cover; height: 210px !important}
.card-title{background:#23536b; color:#fff; font-size: 0.935rem; text-align: center; padding:1rem; margin:0;
  display: block; width:100%; float:left;}
.pro-equipment-section .slick-dotted.slick-slider{margin-bottom: 0}
.bha-client{margin:0; padding:3rem 0; float: left;width: 100%}
.bha-client li{float:left; display: inline-block; list-style-type: none; margin: 1rem 1.6rem;}
.bha-client li img{border:1px solid #ddd; object-fit: scale-down; width: 245px;}

.chat-button{position: fixed; right:1.5rem; top:80%;border:1px solid #585757; background:#444; border-radius: 100px; 
  padding:0.6rem 1rem; z-index: 100; transform: scale(1);transition: 0.3s;}
.chat-button:hover{background: #555;  transform: scale(1.1);}

.chat-button a{text-decoration: none; color:#fff100 !important; font-size: 1.2rem; font-weight:700; text-align: center;}
.carousel-indicators li{width:10px; height: 10px; border-radius: 100px; background: #fff}
.carousel-indicators li.active{background: #4280fe}

.pulse {
  animation: chat-pulse 1s infinite;
}

@keyframes chat-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*=========tabs=============*/
.product-card__ribbon-wrapper { position: absolute; z-index: 3; top: 0; left: 0; overflow: hidden; width: 118px;
 height: 118px;}
.product-card__ribbon--is-new { font-size: 0.875rem; font-weight:700; padding-top: 4px; text-indent: -8px;
    font-style: normal;}
.product-card__ribbon { font-size: 0.6rem; font-weight: 700; line-height: 1;  position: absolute; top: 11px;
    left: -37px; display: block; width: 160px; height: 22px; /*padding-top: 2px;*/ padding-right: 62px;
    padding-left: 39px;  transform: rotate(-45deg); text-align: center; text-transform: uppercase; color: #fff;
    background-color: #1f32c4;}


/*=========About us section css====================*/
.caption.v_middle{top:8% !important; left:1%; color:#fff; padding:1.8rem;}
.carousel-item.height-50{height:350px !important; object-fit: cover !important; overflow: hidden !important;}
.carousel-item.height-50 .caption{position: absolute; top:12%; left:0; z-index: 1; background: rgba(0,0,0); padding:3rem 2.5rem;
 width: 37%;}
.text-black-dark{color:#fff !important; text-shadow: 1px 1px 30px #666}
.tab-menu{background: #d8d8d8 !important; list-style-type: none; float:left; width: 100%; margin:0; padding:0; 
box-shadow: 1px 1px 10px #ddd; position: relative;}
.tab-menu .tablink{float:left; display: inline-block;color:#000; position: relative;
  text-transform: uppercase;text-decoration: none; font-size: 0.875rem; padding:0.875rem; 
  text-align: center;white-space: nowrap;/* width: 23.56% !important;*//* border-right:1px solid #ddd; */background: #f8f8f8;
  margin:0 1px; }
 .tab-menu .tablink:hover{background: #23536b; transition: 0.3s; color:#fff;}
.tab-menu .tablink.current{color:#fff; background:#23536b;}

.tab-menu .tablink.current:after {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #23536b;
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 45%;}

.right-control.orange, .left-control.orange{background: #6995b1}
.content-section{float:left; width:100%; padding:1rem; background: #fff url(../images/c_bha_pro_bg.jpg);background-size: cover; background-position: center;/* box-shadow: 0 5px 10px #000*/
margin-bottom: 10px;}
/*.inner-wrapper{background: #f00}*/
.menu-fixed {top: 58px; z-index: 100 !important; position: fixed !important;width: 100%;transition: top 0.3s;}
.wsmenu{z-index: 10000 !important}
.heading-wrapper{position: relative; width: 100%; margin-bottom: 2.5rem;border-bottom: 1.5px solid #6995b1;}
.heading-h4{font-family: 'Oswald', sans-serif; font-size: 1.3rem; font-weight:normal; /*padding-left: 70px;*/
padding-bottom:5px; position: absolute; bottom:-9%; left: 9%}
/*.heading-h4::before{content:""; background: #f9b82e; position: absolute; top:0; left: 0; width: 100px; height: 32px }*/


.mv-section{background: #fff url(../images/c_bha_pro_bg.jpg); background-size: cover; background-position: center; padding:1rem; float:left; width: 100%; color:#000; position: relative;}
/*.mv-section:before{content:url('../images/mv-bg.png'); overflow: hidden; object-fit: cover; background-size: cover;
 position: absolute; top:0; left: 0; right:0; bottom: 0; opacity: 0.05}*/
.quote{font-size: 1.6rem; font-weight: 300; padding:1.5rem 0;}
.font-xx{font-size: 1.2rem; font-weight: 600}
.bha_heading_2.text-black{color:#000;}
.border-left{border-left:4px solid #6995b1 !important; padding-right:30px !important;}

.heading{
  background:#6995b1;
  position:relative;
  top:32px;
  margin-bottom:2rem;
  height:32px;
  width:100px;
}
.heading:after,.heading:before {
  height: 0;
  width: 0;
  content: "";
  display: block;
  position: relative;
}
.heading:before{
  border-bottom: 32px solid #6995b1;
  border-left: 12px solid transparent;
  left: 12px;
}
.heading:after{
  border-bottom: 32px solid #6995b1;
  border-right: 12px solid transparent;
  left: 100px;
  top:-32px;
}

.border-frame{border:10px solid #fff; box-shadow: 1px 1px 10px #ddd; object-fit: cover; height:400px}

/*======Contact us page==================*/
.bha-icon{ color: #000; border: 1.5px solid #000;  border-radius: 100px;  width: 28px; height: 28px; padding:6px 7px;
    vertical-align: top; font-size: 0.8rem; font-weight: bold;}
.location{float:left; width: 100%;}
.location a{color:#fff; text-decoration: none;}
.bha-flag{float:left;width:132px; height: 132px; object-fit: cover; margin-right: 2rem; border:1px solid #ccc; padding:1rem;
position: relative;z-index: 100}
.bha_h_50{height:40vh !important; width: 100%; object-fit:cover;}
.image-holder {
  /*float: left;*/
  /*margin-right: 100px;*/
  display: block;
  width: 350px;
  transition: opacity .5s linear;
}

.chat-button.free-signup{position: fixed; top:40%; right:1%; background: #a70e15;
font-size: 1rem !important; color:#fff !important; cursor: pointer; font-weight: bold}
.signup-fixed{top:-58px; z-index: 100 !important; position: fixed !important;}
.action-btn{ position: absolute; bottom: 0%; left:50%; width:10%; 
transform: translate(-50%,-70%); color:#fff;text-align: center; width:80px; background: rgba(255,255,255,0.8);
padding:0.5rem 0; border:2px solid #f3f3f3; cursor: pointer; border-radius: 50px; transition: all 0.5s}
.action-btn a{text-decoration: none; outline: 0;}
.action-btn i{font-size: 30px; color:#000; display: block;}
.action-btn i:hover{color:#000;}

.nav-pills{border-radius: 0 !important; background:#fff !important; height:auto; border:1px solid #f1f1f1;}
.nav-pills .nav-item .nav-link{background: #fff !important; color:#000 !important; border:1px solid #f1f1f1;
border-radius: 0 !important; margin:0 !important; padding:0.8rem !important; border-right: none !important}
.nav-pills .nav-item:hover{background: #347799 !important; color:#fff !important; transition: 0.3s}
.nav-pills .nav-link:hover{background: #347799 !important; color:#fff !important; transition: 0.3s}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{border-radius: 0 !important; 
  background:#23536b !important; color:#fff !important; }
.tab-content{border:1px solid #f1f1f1; padding:1rem 0.6rem 1rem 1.5rem; height:80vh; background: #fff}
.location_head{color:#0e415a;}
.bha-left{background: #ddd; width: 100%; position: relative;  overflow: hidden;}
.bha-left:before{ content: ""; position: absolute; top:0; left: 0; bottom: 0; right:0; background: rgba(17,63,89,0.9) }
.bha-left-head{position: absolute; top:22%; right: 1%; z-index: 1; padding:1rem; text-align:center;color:#fff;
font-family: 'Oswald', sans-serif; font-size: 1.5rem}
.tab-pane a{color:#000; font-size: 0.875rem}
/*hr{background: #f0eeee; height: 2px}*/
/*=====Login hover ===========*/
.toplink{display: block; margin:0; padding: 0; list-style-type: none;}
.toplink li{float:left; display: inline-block; margin:8px 15px;/* background: #e5e5e5*/}/*
.toplink li:hover{ background: #e5e5e5}*/
.toplink li a img{margin:0 10px;}
.toplink span{ border-right:1px solid #fff; float:left; height: 12px; margin-top: 15px}
#theBox_2{
display: none;
border: 1px solid #000;
/*width: 380px;*/
/*height: 200px;*/
background-color: #e5e5e5;
position: absolute;
top: 96%;
right: 110px;
width: 600px;
z-index: 1000000 !important;
padding:2rem 1.5rem 1rem;
color:#000;
}

.theBox_2{
display: none;
border: 1px solid #000;
/*width: 380px;*/
/*height: 200px;*/
background-color: #e5e5e5;
position: absolute;
top:30%;
right:30%;
width: 600px;
z-index: 1000000 !important;
padding:2rem 1.5rem 1rem;
color:#000;
}

@media(max-width: 768px){
.mOb_bha{width:100%; background: #000; padding:0.5rem 0 !important; margin:0 !important;}
.headerwp{padding-left:0 !important; padding-right:0 !important; margin: 0 auto !important; width: 100%;}
.view-all{width: auto;}
#theBox_2{width:100% !important; right:0 !important;}
}
#theBox_country{display: none;
border: 1px solid #000;
/*width: 380px;*/
/*height: 200px;*/
background-color: #4d4d4d;
position: absolute;
top: 92%;
right: 0;
width: 100%;
z-index: 1000000 !important;
padding:2rem 1.5rem 1rem;
color:#000;}
#theBox_2 .pwdlink{color:#000 !important; text-transform: none !important; padding:0 !important; margin:0 !important;}
#StayOpen, #CountryOpen {
 background-color: transparent;           
}

.benefits-of-registering{border:1px solid #ddd;padding:1.5rem 2rem;}
input[type=text]:focus, input[type=password]:focus{box-shadow: none !important;}

.bha-contry-list{margin:0; padding:0;}
.bha-contry-list li{display: block; list-style-type: none; padding:0.5rem 0;}
.bha-contry-list li a{display: block; color: #fff !important; text-decoration: none; text-transform: none; font-weight: normal;}
.bha-contry-list li a:hover{text-decoration: underline;  color:#f3f3f3;}
.bha_h_100{height:80vh !important; width: 100%; object-fit:cover;}

