
/*========================Shop Now page layout CSS===============================*/
@media screen and (max-width: 1920px) {
/* .wsshoptabing { left: -352px !important; width: 136% !important;} */
.container{max-width: 1280px;}
/* .rightLink{float:right} */
}

@media screen and (max-width: 1366px) {
/* .wsshoptabing { left: -207px !important; width: 121% !important;} */
.container{max-width: 1140px;}
/* .rightLink{float:right; display: block;} */
}

/*.slick-slide{margin:15px !important;}*/
.main-header{margin-top: -5px;}
.shopnow-pagewrap{width:100% !important;}
.shop-now-page-inner{padding: 0.3rem 1.5rem 0 2rem;}
.bha-mb .view .mask{width: 100%;}
.card-description { font-size: 0.850rem !important; font-weight: 400 !important; display: -webkit-box;
    -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}

.toolTipContainer span .tooltip-hover-text{color:#fff !important;}
.pro_Price .currecny span.strike{color:#afafaf !important}
.pro_Price .currecny span.sp-price{ color: #30373b !important;}
.bg-opeque { padding: 2rem 0 2rem 0 !important; float: none !important; display:flex}
/* .placement-client .bhaClient {margin-bottom: 0;} */
.slick-track{margin-left: 0 !important;}
/* .pro-equipment-section .productitem-auto .slick-slide{width: 25% !important; } */

a.lp-pom-button {
  text-decoration: none;
  color: #fff !important;
  border-radius: 0.3rem;
  width: auto;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem; padding:0.2rem 0.7rem;
  line-height: 1rem; vertical-align: middle;
}
.lp-element {
  background-image: linear-gradient(to right, #3621c0, #3025bf, #2928be, #222abd, #192dbc, #142cbb, #0e2ab9, #0629b8, #0624b6, #061eb3, #0818b1, #0910ae);
  background-color: rgb(46, 49, 146);
}
.list-inline .list-inline-item { 
  border: none;
  margin: 0 0.2rem 0 0;
}
@media(max-width:768px){
.shop-now-page-inner{padding:0 !important;}
.shop-now-page-inner .pro-equipment-section{padding:1rem}
.pro-equipment-section .productitem-auto .slick-slide{width: 100% !important; }
/* .product-card-wrapper .slick-slide{width: 100% !important; } */
.shorting-box{margin-top: 1.5rem;}
.short-items, #shortOption{width: 100% !important;}
.ant-pagination { float: left !important; border-radius: 0; padding: 0 !important;}
.shorting-box{padding-bottom: 1rem !important;}
.w-100{text-align: left;}
a.lp-pom-button{width:auto; margin-left: 0 !important;}
.ant-select{width: 100% !important;}
.main-header .logo-header{width: 75px !important;}
.login-heading{padding-top:1rem !important}
.LoginReft{padding:1rem;overflow-y: scroll !important; height: 300px;}
/* .LoginLeft img{display: none;} */
.LoginReft .loginFooter{padding:0}



}

/*=============================================================*/

/*==============New css for shop now innerpage========================*/
.ant-pagination{float: right; margin-top: 0.2rem !important; border-radius: 0;}
.ant-pagination-simple .ant-pagination-prev, .ant-pagination-simple .ant-pagination-next{
line-height: 0 !important;vertical-align: middle !important;background: #fff;border-radius: 100%;
border: 1px solid #dee2e6; height: auto !important; padding:0.2rem 0 !important;}
.ant-pagination-simple .ant-pagination-simple-pager input{border-radius: 100px !important;
border: 2px solid #23536b !important; color:#fff !important; height: auto !important;
background:#23536b !important;width: 30px;
height: 30px !important;}
.anticon svg{margin-top:-2px !important}
.toolTipContainer{padding: 0.2rem 0;height: 50px;}
.product-xs-item .hot-deals-item-wrapper{padding-bottom: 0;}
.product-xs-item .outer-wrpper{margin-bottom: 0;}
.hot-deals-item-wrapper .card{box-shadow: none;}
.media a.like-button{margin-top:5rem !important}
/* .strike.red{color:#e63232 !important; background:transparent !important} */
.pro_Price .currecny span.strike.red{color:#e63232 !important; background:transparent !important}
.brand_name, .pro_Id{float:left; width: 100%;}
/*===added css for left menu 14-10-2020===============================*/
.ant-menu-submenu > .ant-menu{background:#074359 !important}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{border-right:none !important}
.ant-menu-submenu-arrow::before{background:#fff !important; position: relative; z-index: 0 !important;}
.ant-menu-submenu-arrow::after{background:#fff !important; position: relative; z-index: 0 !important;}
.ant-menu-item, .ant-menu-submenu-title{background:none !important}
.ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow, .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow
{right: 5px !important;}
.ant-menu-inline .ant-menu-submenu-title {width: calc(100% + 1px) !important;}
.anticon{position: relative;z-index: 10 !important;margin-left:0 !important}
.anticon svg {margin-top: -2px !important;}

/*==============New css for shop now innerpage end here========================*/
.topPadding { padding-top: 7.5rem; margin-top: 48px;}
.banner-container-xs {
  height: 400px;
}
.banner-container-xs .carousel-indicators {z-index: 1000; bottom: 15px}
.banner-container-xs .carousel-indicators li {
  width: 20px !important;
  border-radius: 0 !important;
  background: #b9b9b9 !important;
  height: 6px;
}
.banner-container-xs .carousel-indicators li.active {
  background: #6e7173 !important;
}

.banner-container-xs .carousel-inner .carousel-item img {
  height: 400px !important;
}
.item-xs {
  max-width: 100% !important;
  height: 400px !important;
  object-fit: contain !important;
}
.banner-item-xs-caption {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 40%;
}
.banner-item-xs-caption .item_heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
  color: #0f416a;
}
.item-description-xs {
  color: #9d9d9d;
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}
.item-price {
  color: #0f416a;
  font-size: 2rem;
}
.priceTag {
  font-weight: 600;
  font-size: 2rem;
  padding-left: 0.6rem;
}
/*----Sidebar navigation---*/
.side-bar-menu {
  width: 100%;
}
.sidebar-head {
  background: #234c63;
  color: #fff;
  text-transform: uppercase;
  padding: 0.7rem 1rem;
  font-weight: 500;
}

.sidebar-inner {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}
.sidebar-inner {
  width: 100%;
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  position: relative;
  padding: 0 0 0 4px;
  margin: 0;
  background-color: #fff;
}
.sidebar-inner a,
.sidebar-inner a:link,
.sidebar-inner a:visited,
.sidebar-inner a:focus {
  color: #000;
  text-decoration: none;
}
.sidebar-inner a:hover {
  color: #000;
  text-decoration: none;
}
.sidebar-inner > li {
  display: block;
  margin-left: -4px;
  border-left: 1px solid rgba(255, 255, 255, 0.11);
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 0.885rem 1rem;
  list-style-type: none;
  border-bottom: 1px solid #e8e8e8;
  transition: 0.4s;
}
.sidebar-inner > li > a {
  display: block;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 0.875rem;
}
.sidebar-inner > li:hover > a {
  color: #000;
}
.sidebar-inner > li:hover {
  background: #f3f3f3;
}
/* Megadrop width dropdown */
.sidebar-inner > li > .megadrop {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  list-style: none;
  top: 0px;
  left: 295px;
  width: 300px;
  /*min-height: 100%;*/
  text-align: left;
  margin-top: 0;
  padding: 0;
  z-index: 99;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 10px #ddd;
}
.sidebar-inner > li:hover .megadrop {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}
.sidebar-inner ul li:hover:after {
  color: #000;
}
.sidebar-inner .col {
  width: 100%;
  float: left;
  color: white;
  padding: 0 !important;
  /*margin: 0 0 0 2.2%;*/
}
.sidebar-inner .col ul {
  padding: 0;
  margin: 0;
}
.sidebar-inner .col ul li {
  padding: 0;
  list-style: none;
  font-size: 0.875rem;
}
.sidebar-inner .col h3 {
  font-size: 0.85rem;
  padding: 0.6rem 15px;
  font-weight: 500;
  margin: 0;
  color: #666;
  background: #f8f8f8;
}
/*.sidebar-inner .col h3:hover{background: #f8f8f8;color: #000;}*/
.sidebar-inner .col ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #666;
}
.sidebar-inner .col ul li a:hover {
  color: #000;
  text-decoration: none;
  background: #f8f8f8;
}
.sidebar-inner > li > ul li ul,
.sidebar-inner li > ul li,
.sidebar-inner > li > .megadrop,
.sidebar-inner > li > ul,
.sidebar-inner > li {
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

/*----Sidebar navigation---*/
.padding-0 {
  padding: 0;
}
.box-shadow {
  box-shadow: 0 0 20px #eeeeee;
}
.hot-deals-item-wrapper {
  background: transparent;
  position: relative;
  padding-bottom: 0.875rem;
  height: 100%;
  float:left;
  width:100%; text-align: left;
}
.deals-border-right {
  border-right: 1px solid #ddd;
}
.hot-deals-item-wrapper .card {
  margin: 0 !important;
  border: none !important;
}
.hot-deals-item-wrapper .card:focus {
  border: none !important;
}
.hot-deals-item-wrapper .card img {
  object-fit: cover;
  height: auto !important;
}
.hot-deals-item-wrapper .card .svg-icon img {
  width: 20px !important;
  height: 20px !important;

}
.slick-slide img {
  display: inline-block;
}
.hot-deals-item-wrapper .card a {
  color: #4e4c4c;
  font-size: 0.875rem;
}
/*.slick-slide{margin:15px 8px;}*/
.bha-mb {
  margin-bottom:1.8rem;
}
.view.height-auto {
  height: auto;
}
.brand-label {
  position: absolute;
  bottom: -100px;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2rem 0.8rem;
  color: #fff;
}
.padding-bottom {
  padding-bottom: 2rem;
}
.border-right {
  border-right: 1px solid #ddd !important;
}
.card-description {
  background:#fff;
  width: 60%;
  float: left;
  padding: 1.5rem 1rem 1rem;
  text-align:left;
}
.card-description h6 {
  font-size: 0.9rem;
  color: #000;
}
.card-item {
  width: 35%;
  float: right;
  margin-right: 0.5rem;
}
.pro_Price {
  margin:0;
  padding: 0 0 0;
}
.pro_Price .currecny {
  font-size: 1.2em;
}
.currecny {
  font-weight: 500;
  font-size: 1em;
}
.strike {
  text-decoration: line-through;
  margin-right: 6px;
  color: #afafaf;
}
.sp-price {
  color: #0b5076;
}
.hot-tag {
  width: 65%;
  position: relative;
  overflow: hidden;
  height: 22px;
  padding: 0.1rem 0.4rem;
}
.innertag {
  background: #1fc11e;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 0 0.4rem;
  top: 0;
}
.discount {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  position: absolute;
  right: 50%;
  z-index: 1;
  padding: 0 0.4rem;
  top: 0;
}
.hot-tag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #c9111b;
  width: 60%;
  transform-origin: top left;
  left: 0px;
  bottom: 0;
  z-index: 1;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}
i.wishList {
  position: absolute;
  top: 20%;
  right: 3%;
  font-size: 1.2rem !important;
  color: #81827f;
  /*border: 1px solid #c6c4c4;*/
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
}
i.wishList-hover {
  position: absolute;
  top: 2%;
  right: 2.6%;
  font-size: 1.2rem !important;
  color: #81827f;
  /*border: 1px solid #c6c4c4;*/
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
}
.portfolio-item .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 80%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  z-index: 10;
  /*background: #000;*/
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0px; /*box-shadow: 0 0 40px #f6f6f6;*/
  box-shadow: 0px -10px 10px -10px black;
  border: 1px solid #ececec;
  border-bottom: 0;
}

.portfolio-item .portfolio-hover:hover {
  opacity: 1;
}
.portfolio-item .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
  margin-top: 0;
}


.hot-deals-item-wrapper .item-pro-inner {
  border: 0;
  border-right: 1px solid #f2f2f2 !important;
  text-align: center !important;
}
.hot-deals-item-wrapper i.wishList {
  position: absolute;
  top: 5%;
  right: 3%;
  font-size: 1.2rem !important;
  color: #81827f;
  /*border: 1px solid #c6c4c4;*/
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
}
.hot-deals-item-wrapper .item-pro-inner .svg-icon img {
  width: 20px !important;
  height: 20px !important;
  margin-left:0 !important;
}
.hot-deals-item-wrapper .item-pro-inner a {
  color: #4e4c4c;
  font-size: 0.875rem; vertical-align: middle;
}
.product-description {
  color: #000;
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem 1rem;
}

.product-xs-item .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 48.5%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0px; /*box-shadow: 0 0 40px #f6f6f6;*/
  box-shadow: 0px -5px 10px -5px #ddd;
  border: 1px solid #ececec;
  border-bottom: 0;
}
.product-xs-item .portfolio-hover:hover {
  opacity: 1;
}
.product-xs-item .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 56%;
  margin-top: 0;
}
.callToAction-xxs {
  height: 100px;
  width: auto;
  display: block;
  padding: 2.5rem 2rem;
  text-align: center;
}
.quick-view {
  background: transparent;
  color: #23536b !important;
  display: block;
  border: 2px solid #23536b;
  padding: 0.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0.6rem;
}
i.wishList-hover-xs {
  position: absolute;
  top: -18%;
  right: 2.6%;
  font-size: 1.2rem !important;
  color: #81827f;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
}
.mask p {
  text-transform: normal;
  font-size: 1.6rem;
  padding: 4rem 1rem 0 1rem;
  font-weight: 400;
  font-style: normal;
}

/*================Category page layout css=============================================*/
/*----Filter-Css---*/
.collapsed-icon-toggle.collapsed .on-closed {
  display: initial;
}
.collapsed-icon-toggle.collapsed .on-opened {
  display: none;
}
.collapsed-icon-toggle .on-closed {
  display: none;
}
.collapsed-icon-toggle .on-opened {
  display: initial;
}
.scroll-v-250px {
  max-height: 250px;
  overflow-y: scroll;
}
.padding-v-xs {
  padding-top: 2px;
  padding-bottom: 2px;
}
.btn.ico span.icon {
  opacity: 0;
}
.btn.ico.active span.icon {
  opacity: 1;
}

/*-----------------------Main Css Filter---------------------------------*/
.filter-heading {
  padding: 0.8rem 1rem;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
.category-filter {
  background: #fff;
  float: left;
  width: 100%;
  margin: 0;
  box-shadow: 0px 15px 9px -21px #111;
  border: 1px solid #d8d8d8;
}
.brand_head {
  padding: 1rem;
  background: #23536b;
  color: #fff;
}
/*.noMargin{margin: 0;} .lftpadding{padding:0 0 0 15px ;}*/
  /*border-bottom:1px solid #f8f8f8;*/
.category-inner h3 {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 1.3em;
  font-weight: 600;
  border-bottom: 1px solid #f8f8f8;
}
.inner-list {
  padding: 0;
  list-style-type: none;
  padding: 8px 0 0 0;
}
.inner-list li {
  display: block;
  width: 100%;
}
.inner-list li a {
  display: block;
  color: #000;
  font-size: 0.875rem;
  font-weight: normal;
  padding: 10px 15px;
  transition: 0.4s;
}
.inner-list li a:hover {
  display: block;
  color: #000;
  text-decoration: none;
}
/*.inner-list li a:hover{display: block; color:#fff; text-decoration: none; background: #23536b}*/
.inner-list li a.active {
  background: #23536b;
}

.inner-list li a span.badge-light {
  transition: 0.5s;
  padding: 0.5rem;
}
.inner-list li a i {
  margin-right: 0.8rem;
}

.inner-list li:hover span.badge-light {
  background: #23536b;
  transition: 0.5s;
  color: #fff;
}
.inner-list h3 {
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight: 600;
}
a.bha-btn-secondry:hover {
  color: #fff;
  text-decoration: none;
}
.modal-content {
  background: #f3f3f3 !important;
}
.category_list {
  margin: 0;
  padding: 0;
}
.category_list li {
  list-style: none;
  display: block;
  margin: 5px 0;
  position: relative;
}
.category_list li a {
  text-decoration: none;
  color: #979797;
}
.category_list li a:before {
  content: '\f105';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 18px;
  margin-right: 0.5em;
  top: 0;
  left: 0;
}
.category_list .cat-list-name {
  margin-left: 12px;
}
.category_list .cat-list-child-name {
  margin-left: 24px;
}
.category_list .cat-list-child-name a {
  color: #000;
}
#brand,
#size,
#price-range,
#color,
#material,
#pattern,
#discount {
  /* border-bottom: 1px solid #e8e8e8; */
  padding: 0;
  margin: 0;
  font-weight: bold;
}
#discount:last-child {
  border-bottom: none;
}
.BRND_N {
  margin-bottom: 10px;
}
.T_BRND {
  font-weight: 600;
  color: #797878;
  margin: 10px 0;
}
#brand .BrdInner,
#size .BrdInner,
#price-range .BrdInner,
#color .BrdInner,
#material .BrdInner,
#pattern .BrdInner,
#discount .BrdInner {
  padding: 0 15px 0 15px;
}
.clr_squr {
  width: 9px;
  height: 9px;
  float: right;
  position: absolute;
  top: 10px;
  left: 80px;
}
.clr_squr.black {
  background: #313131;
}
.clr_squr.red {
  background: #f03b3b;
}
.clr_squr.blue {
  background: #385cce;
}
.clr_squr.brown {
  background: #986e60;
}
.clr_squr.green {
  background: #a1c45f;
}
.clr_squr.white {
  background: #fff;
  border: 1px solid #ccc;
}

.list {
  display: -ms-flexbox;
  display: flex;
  line-height: 28px;
  margin-right: 24px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.list a label {
  margin: 0;
}
.list a {
  text-decoration: none;
}
.AnchorList {
  display: none;
}
.AnchorList + * {
  position: relative;
  color: #797878;
  font-size: 0.98em;
  font-weight: normal;
  cursor: pointer;
  white-space: nowrap;
}
.AnchorList + :before {
  content: ' ';
  display: inline-block;
  position: relative;
  top: 4px;
  margin: 0 12px 0 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 2px;
}
.AnchorList:checked + :after {
  width: 8px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 4px;
  content: ' ';
  border-left: 2px solid #313131;
  border-bottom: 2px solid #313131;
  transform: rotate(-45deg);
}

.btn_more {
  margin: 6px 15px 10px;
  padding: 0;
}
.btn_more span {
  border: 1px solid #797979;
  float: left;
  width: 15px;
  height: 15px;
  line-height: 14px;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 2px 12px 0 0;
  vertical-align: bottom;
}
.btn_more a {
  color: inherit;
  text-decoration: none;
  font-size: 0.99em;
}

/*.popup-cotanier{background:#fff; width:70%; position: absolute; top:120px; left:15px; z-index: 100; border-radius:5px; box-shadow: 1px 1px 5px #999;}*/

.filter_model {
  position: absolute;
  min-width: 600px;
  /* max-height: 700px;*/
  background: #fff;
  color: #353535;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(29, 29, 29, 0.18);
  -moz-box-shadow: 0px 5px 7px 0px rgba(29, 29, 29, 0.18);
  box-shadow: 0px 5px 7px 0px rgba(29, 29, 29, 0.18);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* overflow: hidden;*/
  padding: 30px;
  left: 245px;
  top: 0;
  z-index: 10;
}
.veiw_brands {
  width: 900px;
  height: 390px;
  padding: 0;
  z-index: 999;
  display: none;
  position: fixed;
  background: #fff;
  top: 100px;
  left: 19%;
  bottom: 0;
  margin: auto;
}
.LFilters {
  border-bottom: 1px solid #f7f7f7;
  padding: 15px 0 10px;
  text-align: center;
}
.BrndFooter {
  border-top: 1px solid #f7f7f7;
  padding: 0;
  margin: 0;
}
.btn-container {
  float: right;
  margin: 15px;
}
.BrndBtn {
  background: none;
  border-radius: 3px;
  padding: 7px;
  width: 130px;
  text-align: center;
  text-transform: uppercase;
}
.BrndBtn.BtnClear {
  border: 2px solid #dab93e;
  color: #000;
}
.BrndBtn.BtnApply {
  border: 2px solid #636363;
  background: #636363;
  color: #fff;
}
.alphabets {
  margin: 0;
  padding: 0;
}
.alphabets li {
  display: inline-block;
  margin: 6px;
}
.alphabets li a {
  color: #000;
  text-decoration: none;
}
.filter_model .content-inner {
  padding: 15px 0;
}

.filter_model .header {
  background: #818181;
  padding: 15px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.filter_model .header .brnd-heading {
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  margin-right: 40px;
}
/*.filter_model .searchBox{width:60%; padding:8px 10px; border-radius: 2px; border:none;
    background:#fff url(../images/search_icon.png)no-repeat; background-position: right; position: absolute; top:10px; }*/
.Btn-close {
  color: #fff;
  float: right;
  margin-top: 3px;
}
.Btn-close a {
  color: #fff;
}

.shorting-box {
  padding: 1rem 1rem 0.2rem 1rem;
}
.pagination {
  float: right;
  margin-top: 0.3rem;
  border-radius: 0;
}
.page-item:first-child .page-link {
  border-radius: 0;
}
.page-item:last-child .page-link {
  border-radius: 0;
  margin-right: 0;
}
.page-link {
  margin: 0 4px;
  color: #000;
  padding: 0.3rem 0.6rem;
  font-size: 0.85rem;
}
.page-item.active .page-link {
  background: #23536b;
  border-color: #23536b;
}
.grid-switcher {
  float: right;
  margin-left: 1rem;
  margin-top: 0;
}
.grid-switcher i {
  color: #000;
  font-size: 1rem;
  border: 1px solid #ddd;
  padding: 0.4rem;
}
#shortOption {
  width: 180px !important;
  padding-right: 25px;
  font-size: 12px;
  cursor: pointer;
  float: right;
  margin-top: 2px;
}
.short-items{margin: 0; padding:0 0 0.8rem; float: left;}
.short-items .form-control-select {
  padding: 0 0.5rem !important;
  font-size: 0.875rem !important;
  border-color: #ccc !important;
  height: auto !important;
}
.short-items .form-select {
  background-position: right 7px !important;
}
.short-items .form-control-select:focus {
  box-shadow: none !important;
  border-color: #ccc !important;
}
.short-items span {
  line-height: 2.3rem;
  float: left; margin-right: 0.5rem;
}

.featured-product {
  width: 100%;
  padding: 0.5rem 1rem;
}
.tumbnail-xs {
  margin: 0;
  padding: 0;
}
.tumbnail-xs img {
  object-fit: cover;
  width: 80px;
}
.description-xxs {
  color: #000;
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: auto;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.95rem;
}
.location {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 0.5rem;
}
.location:last-child {
  border: none;
}
/*-------------List Group css-----*/
.list-group-item {
  padding: 0.8rem 0 0.8rem 0 !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /*border-bottom: 1px solid rgba(0,0,0,.08) !important;*/
  border-bottom: 0;
  border-radius: 0 !important;
  box-shadow: 0 0 10px #f4f4f4;
  margin-bottom: 0.3rem;
}
.media-body h6 {
  font-size: 0.875rem !important;
  text-transform: uppercase;
}
.list-group-item:hover {
  box-shadow: 0 0 10px #f4f4f4;
}

.product-xs-list .portfolio-hover {
  position: absolute;
  width: 21%;
  height: 80%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0px; 
  box-shadow: 0px 0 5px 0 #ddd;
  border: 1px solid #ececec;
  border-bottom: 0;
}
.product-xs-list .portfolio-hover:hover {
  opacity: 1;
}
.product-xs-list .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 20% !important;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 75%;
  margin-top: 0;
}
.callToAction-list {
  height: 100px;
  width: auto;
  display: block;
  padding:0.750rem 1rem 2rem;
  text-align: center;
}
.product-xs-list .like-button{margin-top:5rem}

/*--- /.price-range-slider ---*/
.slider-box {
  width: 95%;
  margin: 8px;
}
.slider-box .input-range__label {
  display: none;
}

/*input {border: none; display: inline-block; margin-right:0; vertical-align: top;}*/
.input-text {
  width: 100%;
  font-size: 0.875rem;
  text-align: right;
  border: none;
  display: inline-block;
  padding: 0.6rem 0;
  margin-right: -8px;
  color: #666;
}
/*.slider {margin: 25px 0}*/
.ui-slider-horizontal {
  height: 0.15rem !important;
}
.ui-widget-header {
  background: #0f416a !important;
}
.ui-widget-content {
  /*border:1px solid #ddd !important;*/
  border: none !important;
  background: #ddd !important;
  box-shadow: none !important;
}
.ui-slider .ui-slider-handle {
  width: 0.8em !important;
  height: 0.8em !important;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-radius: 100px !important;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-radius: 100px !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #0f416a !important;
  border: none !important;
}

/*===Model box CSS====*/
#myModalView .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 45% !important;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  margin: 1.75rem auto !important;
}
.modal-view-inner {
  padding: 2rem;
  background: transparent;
  box-shadow: 1px 1px 2rem 0.1rem #5c5c5c;
}
.modal-width-lg {
  max-width: 800px !important;
}

/*======================Compare Css=============================*/
#about_popup {
  width: 340px;
  height: 100px;
  background: transparent;
  position: fixed;
  right: 10%;
  bottom: 0;
  display: none;
  z-index: 101;
  /*-moz-border-radius-topleft:20px;
  -moz-border-radius-topright:20px;
  -webkit-border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;*/
}

#main {
  margin: 20px 0;
}

#main #faq .card {
  /* margin-bottom: 30px;*/
  border: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main #faq .card .card-header {
  border: 0;
  padding: 0;
  border-radius: 0 !important;
}

#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #000;
  color: #fff;
  padding: 15px 20px;
  border-radius: 0 !important;
}
#main #faq .card .card-header .btn-header-link:focus {
  border: 0 !important;
  box-shadow: none !important;
}
#main #faq .card .card-header .btn-header-link:after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: #000;
  color: #fff;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: '\f106';
}

#main #faq .card .collapsing {
  background: #fff;
  line-height: 30px;
  border: 1px solid #9b9797;
  box-shadow: 0 0 10px #777;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  background: #fff;
  line-height: 30px;
  color: #222;
  border: 1px solid #9b9797;
  box-shadow: 0 0 10px #777;
}

.compare-widget__products {
  overflow: hidden;
  margin: 0;
  float: left;
  padding: 0 0 1.5rem 0.4rem;
  list-style-type: none;
}
.compare-widget__product {
  position: relative;
  padding-right: 55px;
  text-align: left;
  border-bottom: 1px solid #f4f4f4;
}
.compare-widget__product:last-child {
  border: none;
}
.compare-widget__image {
  float: left;
  width: 70px;
  height: auto;
  max-height: none;
  margin-right: 17px;
  border: 1px solid rgb(214, 214, 214);
}
.compare-widget__title {
  font-size: 12px;
  font-size: 0.8rem;
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  margin-top: 10px;
  text-align: left;
}
.compare-widget__product-remove-trigger {
  position: absolute;
  top: 20px;
  right: 10px;
  bottom: 0;
  padding: 29px 19px;
  cursor: pointer;
  text-indent: -9999px;
  background-color: transparent;
  border: 0;
}
.compare-widget__product-remove-trigger:after {
  font-size: 1.6rem;
  position: absolute;
  top: -5px;
  right: 0;
  display: block;
  content: '+';
  transform: rotate(45deg);
  text-indent: 0;
}
.compare-widget__product:after {
  display: table;
  clear: both;
  zoom: 1;
  content: '';
}
.compare-widget__product:first-child .compare-widget__product-remove-trigger {
  top: 9px;
}

/*===== New layout css for shopnow page========================================*/
.navbar-minimize .fa{font-size: 1.2rem}
.category_head {white-space: nowrap;font-weight: 500;font-size: 1rem; color: #000 !important;
    text-transform: uppercase;}
.view{width:100% !important}
.column_4 img{width: 100% !important;}
/*.wsmenu > .wsmenu-list > li:hover > a{background:none !important; color:#000 !important}*/

/*======Details Page====*/
.related-warapper .location img{border:1px solid #f4f4f4;margin:0.8rem 0.8rem 0.4rem 0 !important}
.featured-product .slick-arrow.slick-prev{position:absolute; top:-35px; left:210px; 
  background:none !important;}
.featured-product .slick-arrow.slick-prev:hover{background:none !important}
.featured-product .slick-arrow.slick-next{position:absolute; top:-35px; left:240px; 
  background:none !important}
.featured-product .slick-arrow.slick-next:hover{background:none !important}
.ant-tabs-tab{color:#888 !important}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{color:#23536b !important}
.ant-tabs-ink-bar{background-color:#24546c !important;}
/* .xzoom-container .thumbnails{width:350px !important} */
.media-body .star-rating{width:100%; float: left;}
.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav{
  margin-bottom:0 !important;}
.resp-tabs-container{padding:1rem 0}
.single-product-detail .media-body h4{font-size: 1rem;}

/*==============New css for shopnow UI fixing=====================================*/
/* .call-us{white-space: nowrap} */
.hot-deals-item-wrapper .card a{padding-right:0.5rem;}
.cart-footer .button{margin-right:0.8rem; width:auto}
.cart-footer .button:last-child{margin-right:0 !important}
.corner-right span i{font-size: 0.650rem;}
.item-list .item .cart-thumbnail img{padding:0.2rem}
.item-list .item .details .sp-price{padding:0 0 0.8rem 0;}
.ant-popover-inner-content{padding:0 !important}
/*=======Added New css for shop now process 20/10/2020============================*/
table th{font-size: 1rem; font-weight: 500;}
.ant-collapse-content > .ant-collapse-content-box{padding:0;}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{background:#e5e8e9; font-weight: 600; 
  font-size: 0.950rem;border-bottom:1px solid #ccc; padding-left:12px !important}
.ant-collapse{border:0 !important}
.ant-collapse-content{background:#eceff1 !important;
  border-bottom:0 !important}

.ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-arrow{ right:16px !important;
position: absolute; left:initial !important}
.ant-collapse-content-box .card-body{padding:0}
.ant-table-row:last-child{background-color: #f1f1f1;}
.ant-table-cell:last-child{text-align: right;}
.ant-table-row:last-child td{font-size: 1.25rem !important; color: #333; font-weight: 500 !important;}

.col-pl-0{padding:0}
.col-pr-0{padding:0}
.total-bg strong{font-weight: 700 !important;}

.btn-bha-lg{text-align:center; font-weight: 500;text-transform: uppercase; 
  border-radius: 0.3rem; color:#fff;padding: 0.4rem 0.8rem !important;}
.btn-bha-lg.darkBlue{background:#23536b;}
.btn-bha-lg.darkBlue:hover{background:#5ea7bd;}
.btn-bha-lg.darkRed{background:#a70e15;}
.btn-bha-lg.darkRed:hover{background:#8f070e;}
.btn-bha-lg:hover{color:#fff}

.cart-footer .button { margin-right: 0.5rem; width: 48.5% !important;}

@media(max-width:768px){
.btn-bha-lg{display: block; width:100%; margin: 1rem 0 0.3rem;}
}

.info{padding:0.5rem; background:#fff; margin: 0;}
.info .SignOut{/*background:rgb(43, 20, 95);*/ color:#1890ff; padding:0.2rem 2rem; margin-left: 0.5rem;
border-radius:0.2rem; border:none; font-size: 0.850rem;font-weight: normal;}
.sm-pad-all{margin-top: 1rem !important; display: inline-block;}
.emptyCart{padding: 3rem 0 1rem; font-size: 1rem;  font-weight: 500; text-align: center; color:#ccc;
text-transform: uppercase;}

/*------Order status responsive setting-------------*/
.my-order-border a i{color:#234c63}
.table td, .table th{padding:0.75rem 0 !important}
.orderStatus{position:absolute; top:67%; display:flex; width:100%; left:57%; transform: translate(-50%, -50%);}
.order-steps{width:25%;}

@media(max-width:639.9px){
.orderStatus .w-100{width:auto;}
.pa{padding:15px 0}
.orderStatus{ transform: translate(-46%, -10%) !important; margin:0 0.2rem}
}
@media(min-width:640px){
  .orderStatus{left:20px}
  .order-steps{width:85px !important;}
  .orderStatus{position: absolute; top: 60%; display: flex;
    width: 100%; left: 50%; transform: translate(-42%, -10%);}
  .orderStatus .w-100{width: 100% !important;}
 
  }

@media(max-width:768px){
  .orderStatus{left:20px}
  .order-steps{width:80px !important; overflow-wrap: break-word !important; font-size: 100%;}
  .orderStatus{position: absolute; top: 50%; display: flex;
    width: 100%; left:45%; transform: translate(-42%, -10%);}
  .bg-opeque{text-align: left;}
  .sidebar{display: none !important;}
  .main-header{display: none !important;}
  .tab .container .card{background:none; border:none !important}  
  }

@media(min-width:812px){
  .orderStatus{left:20px}
  .order-steps{width:85px !important;}
  .orderStatus{position: absolute; top: 60%; display: flex;
    width: 100%; left:47%; transform: translate(-42%, -10%);}
  .formLpRp{padding:0 2rem !important}
  form .form-select{width: 100% !important;}
  }

@media(min-width:1200px){
  .order-steps{width:25% !important; white-space: nowrap;}
}

.seatchPanelFooter{background: #fff; padding: 0.8rem 0 0; width: 100%; display: block; text-align: center;
border-top:1px solid #f3f3f3;color:#23536b; font-weight: 600;}
.seatchPanelFooter:hover{color:#23536b}

.ant-pagination-simple .ant-pagination-prev, .ant-pagination-simple .ant-pagination-next{
  border-radius: 0 !important; height: 30px !important;padding: 0.098rem 0 !important;
  margin-top: 0;}
.ant-pagination-simple .ant-pagination-simple-pager input{border-radius: 0 !important;margin-top: 0.15rem;
width: 36px !important;}
.ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next{
  width:auto !important;
}

.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link, 
.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link{height: auto !important;}

.bha-review div{overflow-wrap: anywhere !important;word-break: break-word !important;}

/*======Added css on 22 Feb, 2021=============================================*/
.form-control-textarea{display: block; width: 100%;padding: .375rem .75rem;
  background-color: transparent !important;  border: 1px solid #ced4da;
  border-radius: .25rem !important;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

.form-control-textarea:focus{ background-color: #fff !important;border: 1px solid #ced4da;}
.ant-image{display:flex !important;}
.optional-hover{background: transparent;}
.optional-hover .hot-deals-item-wrapper .portfolio-hover .portfolio-hover-content .callToAction-xxs{
  padding:4rem 10rem !important;
}

@media(max-width:768px){
  .optional-hover .hot-deals-item-wrapper .portfolio-hover .portfolio-hover-content .callToAction-xxs{
    padding:4rem 2.6rem;}
  .xzoom-container .thumbnails{margin: 1rem 0 0 0 !important;}
  .thumbnails .slick-next{right:-25px !important;}
  .thumbnails .slick-prev{left:-25px !important;}
  .sr-mobile-only{display:none;}
  .banner-item-xs-caption{width: 100%;}
  .product-xs-list .portfolio-hover{width:40%; height: 50%; left:0}
  .banner-container-small .banner-item-xs-caption{width:80% !important; top:10%}
  .btnLight{width: auto !important;}
  .banner-container-small { margin-top: 0 !important;}
  .contentWrapper{padding:0 !important}
  .product--heading{text-align: center;}
  .reviewPagination{display:flex !important; justify-content: center;}
  .ant-popover, .compare-collaspe-div{z-index: 1000000 !important;}
  .forgot-PwdText-message{padding:0 4rem !important}
  .bha_heading_2{padding:2rem}
  .benefits-of-registering .bha-btn-primary{width: 100% !important; white-space: pre-wrap;}
  .formLpRp{padding:0 2rem}
  form .form-select{width: 100% !important;}
  
}

/* @media(max-width:736px){
  .modal-content .container .col-sm-6 {display:block !important; width:50% !important}
} */
@media(max-width: 767.98px){
  .wsmobileheader{z-index: 100 !important;}
  .modal-content .container .col-sm-6 {display:block !important; width:50% !important}
  .top-nav-link .LoginReft .loginFooter a span{padding:0}
  .pwd-btn{width:50% !important}
  .ant-notification{top:150px !important; left:1rem !important;}
  .forgot-PwdText-message{padding:0 1rem !important}
  .sideBarMenu{width:0 !important}
  #myDiv .bha-btn-primary{width:auto !important; margin-right: 1rem !important;}
  .moBileNumber{display: none !important;}
  .plpr{padding-left:0 !important; padding-right:0 !important; padding-top:0 !important}
}

@media(max-width:812px){
.wsmobileheader{z-index: 100 !important;}
.modal{top: -20px !important; z-index: 1000 !important;}
.LoginReft{padding:1rem}
.popup-decscription #loginformpopup .form-group, .Privacy{padding:0}
.ant-popover, .compare-collaspe-div{z-index: 1000000 !important;}
.seatchPanelFooter{position: absolute; bottom: -10px; left: 0;}
.LoginReft{padding:1rem;overflow-y: scroll !important; height: 300px;}
.topPadding {margin-top:24px !important;}
.moBileNumber{text-align: left !important;}


}

/*=============banner setting==============================================*/
.banner-container-small{height:250px;}
.banner-container-small .banner-item-xs-caption{width: 50%; top:6%}
/* .banner-container-small .item-xs:after{content:''; position: absolute; top:0; left:0; right:0; bottom:0;
background:rgba(0, 0, 0, 0.12)} */
.banner-container-small .banner-item-xs-caption .item-description-xs{line-height: 28px; font-size: 1rem;
color:#666; font-family: 'Roboto', sans-serif;}
.banner-container-small .item-xs{height: 250px !important;}
.banner-container-small .item-xs .carousel-inner .carousel-item .item-xs img{min-height:250px !important; 
  height: auto !important;}
/* .btnLight{background: #0361b4; box-shadow: 0 0 2px 0 rgb(0, 0, 0) !important} */
.banner-item-xs-caption .item_heading {/*text-shadow:0 0 3px #000;*/ font-size: 1.8rem;; font-weight: 700;}
.mobileImg{display: none;}


.banner-container-small .carousel-indicators {z-index: 10000 !important; bottom: 15px}
.banner-container-small .carousel-indicators li { width: 20px !important;
  border-radius: 0 !important; background: #b9b9b9 !important; height: 6px;}
.banner-container-small .carousel-indicators li.active {background: #6e7173 !important;}


@media(max-width:576.99px){
  .mobileImg{display: block !important;}
  .mobileHide{display:none !important}
  .banner-container-small .banner-item-xs-caption .item-description-xs{overflow:hidden !important;}
}
/*
.toolTipContainer {padding:1rem 0.5rem; height: 50px; width: 80%;}
*/
.toolTipContainer {padding:1rem 0.5rem; height: 50px;}


/* .table td i{color:#a70e15 !important; cursor:pointer !important;} */
.deleteItem{cursor: pointer !important; color:rgb(172, 170, 170) !important}
.deleteItem:hover{color:rgb(187, 9, 9) !important}
.categoryIcon{ position: absolute; top:15px; right:15px;}
.ant-menu-submenu-title:hover{color:#fff !important}

/*============Review page fixes========================*/
.reviewPagination {background:#fbfbfb; width:100%; float:left; display:block; padding:0.3rem 0.5rem 0.5rem;
  border-bottom:1px solid transparent; margin-top: 8px;}
.reviewPagination ul li{display: inline-flex; line-height: 1rem;}
.reviewPagination .anticon svg{ margin-top: -2px !important;}
.reviewPagination .ant-pagination-simple .ant-pagination-simple-pager input{margin-top: 0px;}
.reviewPagination .ant-pagination-simple .ant-pagination-prev, 
.ant-pagination-simple .ant-pagination-next{margin-top:-3px !important; float:none;}
/* .reviewPagination .resp-tab-content li{line-height: 2rem;} */

.optional-hover .hot-deals-item-wrapper .portfolio-hover .portfolio-hover-content .callToAction-xxs{
  padding:4rem}
.product-specification .item-title{padding-right:0; font-size: 0.875rem;}

.zoid-outlet > iframe{border:none !important; box-shadow: none !important;}
#ccnumber iframe, #nameonCard iframe, #ccexp iframe, #cvv iframe{box-shadow: none !important; 
  border:1px solid #fff !important;}
#ccnumber iframe:focus, #nameonCard iframe:focus, #ccexp iframe:focus, #cvv iframe:focus{
  border:none !important; box-shadow: none !important;}
#ccnumber:focus{border:none !important; box-shadow: none !important;}
iframe input{border:none !important; box-shadow: none;}
iframe input:focus{border:none !important; box-shadow: none !important;}


@media (min-width: 640px){
.banner-container { margin-top: 100px !important;}
.topPadding {padding-top:4.5rem !important;}
#myDiv .bha-btn-primary{width:auto !important; margin-right: 1rem !important;}
.bha-btn-new{padding: 0.50rem 0.975rem !important;}
.ant-collapse-content > .ant-collapse-content-box {padding: 0 16px 8px 16px !important}
.compare-widget__product{padding:0.5rem 2rem 0.5rem 0 !important}
.optional-hover .hot-deals-item-wrapper .portfolio-hover .portfolio-hover-content .callToAction-xxs {
  padding: 2rem 1.5rem !important;}
.moBileNumber{display: block !important; font-weight: 500; padding-top: 0.5rem !important;}
.caption .bha-btn-primary{width:auto !important}
  }

@media (min-width: 667px){
.topPadding {padding-top:4.5rem !important;}
#myDiv .bha-btn-primary{width:auto !important; margin-right: 1rem !important;}
.bha-btn-new{padding: 0.50rem 0.975rem !important;}
.ant-collapse-content > .ant-collapse-content-box {padding: 0 16px 16px 16px;}
  }

@media (min-width: 736px){
.topPadding {padding-top:4.5rem !important;}
#myDiv .bha-btn-primary{width:auto !important; margin-right: 1rem !important;}
.bha-btn-new{padding: 0.50rem 0.975rem !important;}
.ant-collapse-content > .ant-collapse-content-box {padding: 0 16px 16px 16px;}
}

.forgot-PwdText-message{padding:1rem 18rem}
.toolTipContainer{position: static; padding-left:0 !important}

/*------star setting on shopnow page--------------------------*/
.ant-rate-star .anticon-star svg{width: 0.875em !important; margin-right: 0.3rem;}

.sidebarBox {vertical-align: top;background:rgb(31, 70, 92);margin-bottom: -9999px;
  padding-bottom: 9999px;}

.overflow {overflow: hidden;}
.footer.page-footer{margin-top:6px;}

.moBileNumber{padding:.2rem 0 0 0.5rem !important; font-weight: 600; font-size: 1.4rem; 
  display: block;}

.toolTipContainer span{font-size: inherit !important;}
.formLpRp{padding:0}


/*----------------paypal button setting----------------------------*/
.paypal-button-label-container:focus{box-shadow: none !important; outline:0 !important}
.paypal-button:focus{box-shadow: none !important; outline:0 !important}
.paypal-button-card:focus{box-shadow: none !important; outline:0 !important}

.paypal-button-label-container:focus {outline:0 !important;}
.paypal-button-label-container.card:focus{outline: 0; box-shadow: none!important;}
/*----------------paypal button setting----------------------------*/


.pro_Price {float:left; width:100%; text-align: center; margin:1rem 0}
.star-rating{float:left; width:100%; text-align: center; margin:0 0 1rem 0; 
  height:40px}
.product-description{height:80px;}

.hero-header .freequote-container .free-quote form .form-control-textarea{background: #fff !important;}