/*========================Shop Now page layout CSS===============================*/
.topPadding {
  padding-top: 7.5rem;
}
.banner-container-xs {
  height: auto;
}
.banner-container-xs .carousel-indicators li {
  width: 20px !important;
  border-radius: 0 !important;
  background: #b9b9b9 !important;
  height: 6px;
}
.banner-container-xs .carousel-indicators li.active {
  background: #6e7173 !important;
}
.banner-container-xs .carousel-inner {
  max-height: 400px !important;
}
.banner-container-xs .carousel-inner .carousel-item img {
  min-height: 400px !important;
}
.item-xs {
  max-width: 100% !important;
  max-height: 400px !important;
  object-fit: contain !important;
}
.item-xs-caption {
  position: absolute;
  top: 8%;
  left: 5%;
  width: 40%;
}
.item-xs-caption .item_heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #0f416a;
}
.item-description-xs {
  color: #9d9d9d;
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}
.item-price {
  color: #0f416a;
  font-size: 2rem;
}
.priceTag {
  font-weight: 600;
  font-size: 2rem;
  padding-left: 0.6rem;
}
/*----Sidebar navigation---*/
.side-bar-menu {
  width: 100%;
}
.sidebar-head {
  background: #234c63;
  color: #fff;
  text-transform: uppercase;
  padding: 0.7rem 1rem;
  font-weight: 500;
}
/*.sidebar-inner{width: 100%; border:1px solid #e8e8e8;}
.sidebar-inner ul{margin:0; padding:0; width: 100%}
.sidebar-inner ul li{display: block;padding:0.650rem 1rem; list-style-type: none;
  border-bottom:1px solid #e8e8e8; transition:0.4s}
.sidebar-inner ul li:last-child{border-bottom: none;}
.sidebar-inner ul li a{display: block; color:#000; text-decoration: none; font-size: 0.875rem}
.sidebar-inner ul li:hover{background: #f3f3f3;}
.sidebar-inner ul li a i{line-height: 1.5rem; font-size: 0.675rem; color:#727272;}*/
.sidebar-inner {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}
.sidebar-inner {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  position: relative;
  padding: 0 0 0 4px;
  margin: 0;
  background-color: #fff;
}
.sidebar-inner a,
.sidebar-inner a:link,
.sidebar-inner a:visited,
.sidebar-inner a:focus {
  color: #000;
  text-decoration: none;
}
.sidebar-inner a:hover {
  color: #000;
  text-decoration: none;
}
.sidebar-inner > li {
  display: block;
  margin-left: -4px;
  border-left: 1px solid rgba(255, 255, 255, 0.11);
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 0.885rem 1rem;
  list-style-type: none;
  border-bottom: 1px solid #e8e8e8;
  transition: 0.4s;
}
.sidebar-inner > li > a {
  display: block;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 0.875rem;
}
.sidebar-inner > li:hover > a {
  color: #000;
}
.sidebar-inner > li:hover {
  background: #f3f3f3;
}
/* Megadrop width dropdown */
.sidebar-inner > li > .megadrop {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  list-style: none;
  top: 0px;
  left: 295px;
  width: 300px;
  /*min-height: 100%;*/
  text-align: left;
  margin-top: 0;
  padding: 0;
  z-index: 99;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 10px #ddd;
}
.sidebar-inner > li:hover .megadrop {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}
.sidebar-inner ul li:hover:after {
  color: #000;
}
.sidebar-inner .col {
  width: 100%;
  float: left;
  color: white;
  padding: 0 !important;
  /*margin: 0 0 0 2.2%;*/
}
.sidebar-inner .col ul {
  padding: 0;
  margin: 0;
}
.sidebar-inner .col ul li {
  padding: 0;
  list-style: none;
  font-size: 0.875rem;
}
.sidebar-inner .col h3 {
  font-size: 0.85rem;
  padding: 0.6rem 15px;
  font-weight: 500;
  margin: 0;
  color: #666;
  background: #f8f8f8;
}
/*.sidebar-inner .col h3:hover{background: #f8f8f8;color: #000;}*/
.sidebar-inner .col ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #666;
}
.sidebar-inner .col ul li a:hover {
  color: #000;
  text-decoration: none;
  background: #f8f8f8;
}
.sidebar-inner > li > ul li ul,
.sidebar-inner li > ul li,
.sidebar-inner > li > .megadrop,
.sidebar-inner > li > ul,
.sidebar-inner > li {
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

/*----Sidebar navigation---*/
.padding-0 {
  padding: 0;
}
.box-shadow {
  box-shadow: 0 0 20px #eeeeee;
}
.hot-deals-item-wrapper {
  background: transparent;
  position: relative;
  padding-bottom: 0.875rem;
  height: 100%;
}
.deals-border-right {
  border-right: 1px solid #ddd;
}
.hot-deals-item-wrapper .card {
  margin: 0 !important;
  border: none !important;
}
.hot-deals-item-wrapper .card:focus {
  border: none !important;
}
.hot-deals-item-wrapper .card img {
  object-fit: cover;
  height: auto !important;
}
.hot-deals-item-wrapper .card .svg-icon img {
  width: 20px !important;
  height: 20px !important;
}
.slick-slide img {
  display: inline-block;
}
.hot-deals-item-wrapper .card a {
  color: #4e4c4c;
  font-size: 0.875rem;
}
/*.slick-slide{margin:15px 8px;}*/
.bha-mb {
  margin-bottom: 1.8rem;
}
.view.height-auto {
  height: auto;
}
.brand-label {
  position: absolute;
  bottom: -100px;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2rem 0.8rem;
  color: #fff;
}
.padding-bottom {
  padding-bottom: 2rem;
}
.border-right {
  border-right: 1px solid #ddd !important;
}
.card-description {
  width: 60%;
  float: left;
  padding: 1.5rem 1rem 1rem;
}
.card-description h6 {
  font-size: 0.9rem;
  color: #000;
}
.card-item {
  width: 40%;
  float: right;
}
.pro_Price {
  margin: 5px 0;
  padding: 1rem 0 0;
}
.pro_Price .currecny {
  font-size: 1em;
}
.currecny {
  font-weight: 500;
  font-size: 1em;
}
.strike {
  text-decoration: line-through;
  margin-right: 6px;
  color: #afafaf;
}
.sp-price {
  color: #0b5076;
}
.hot-tag {
  width: 65%;
  position: relative;
  overflow: hidden;
  height: 22px;
  padding: 0.1rem 0.4rem;
}
.innertag {
  background: #1fc11e;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 0.1rem 0.4rem;
  top: 0;
}
.discount {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  position: absolute;
  right: 55%;
  z-index: 1;
  padding: 0.1rem 0.4rem;
  top: 0;
}
.hot-tag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #c9111b;
  width: 50%;
  transform-origin: top left;
  left: 0px;
  bottom: 0;
  z-index: 1;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}
i.wishList {
  position: absolute;
  top: 20%;
  right: 3%;
  font-size: 1.2rem !important;
  color: #81827f;
  /*border: 1px solid #c6c4c4;*/
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
}
i.wishList-hover {
  position: absolute;
  top: 2%;
  right: 2.6%;
  font-size: 1.2rem !important;
  color: #81827f;
  /*border: 1px solid #c6c4c4;*/
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
}
.portfolio-item .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 80%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  z-index: 10;
  /*background: #000;*/
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0px; /*box-shadow: 0 0 40px #f6f6f6;*/
  box-shadow: 0px -10px 10px -10px black;
  border: 1px solid #ececec;
  border-bottom: 0;
}

.portfolio-item .portfolio-hover:hover {
  opacity: 1;
}
.portfolio-item .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
  margin-top: 0;
}
.callToAction-xs {
  height: 100px;
  width: auto;
  display: block;
  padding: 3rem 4.5rem;
  text-align: center;
}
/*.quick-view{background:transparent;color:#23536b; display: block; border:2px solid #23536b; padding:0.5rem 1rem;
  border-radius: 2px; text-transform: uppercase; font-size: 0.875rem; font-weight: 600; cursor: pointer;
margin-bottom: 0.6rem}*/
.hot-deals-item-wrapper .item-pro-inner {
  border: 0;
  border-right: 1px solid #f2f2f2 !important;
}
.hot-deals-item-wrapper i.wishList {
  position: absolute;
  top: 5%;
  right: 3%;
  font-size: 1.2rem !important;
  color: #81827f;
  /*border: 1px solid #c6c4c4;*/
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
}
.hot-deals-item-wrapper .item-pro-inner .svg-icon img {
  width: 20px !important;
  height: 20px !important;
}
.hot-deals-item-wrapper .item-pro-inner a {
  color: #4e4c4c;
  font-size: 0.875rem;
}
.product-description {
  color: #000;
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem 1.5rem;
}

.product-xs-item .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 75%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0px; /*box-shadow: 0 0 40px #f6f6f6;*/
  box-shadow: 0px -5px 10px -5px #ddd;
  border: 1px solid #ececec;
  border-bottom: 0;
}
.product-xs-item .portfolio-hover:hover {
  opacity: 1;
}
.product-xs-item .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 75%;
  margin-top: 0;
}
.callToAction-xxs {
  height: 100px;
  width: auto;
  display: block;
  padding: 3rem 2rem;
  text-align: center;
}
.quick-view {
  background: transparent;
  color: #23536b;
  display: block;
  border: 2px solid #23536b;
  padding: 0.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0.6rem;
}
i.wishList-hover-xs {
  position: absolute;
  top: -18%;
  right: 2.6%;
  font-size: 1.2rem !important;
  color: #81827f;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
}
.mask p {
  text-transform: normal;
  font-size: 1.6rem;
  padding: 4rem 1rem 0 1rem;
  font-weight: 400;
  font-style: normal;
}

/*================Category page layout css=============================================*/
/*----Filter-Css---*/
.collapsed-icon-toggle.collapsed .on-closed {
  display: initial;
}
.collapsed-icon-toggle.collapsed .on-opened {
  display: none;
}
.collapsed-icon-toggle .on-closed {
  display: none;
}
.collapsed-icon-toggle .on-opened {
  display: initial;
}
.scroll-v-250px {
  max-height: 250px;
  overflow-y: scroll;
}
.padding-v-xs {
  padding-top: 2px;
  padding-bottom: 2px;
}
.btn.ico span.icon {
  opacity: 0;
}
.btn.ico.active span.icon {
  opacity: 1;
}

/*-----------------------Main Css Filter---------------------------------*/
.filter-heading {
  padding: 0.8rem 1rem;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
.category-filter {
  background: #fff;
  float: left;
  width: 100%;
  margin: 0;
  box-shadow: 0px 15px 9px -21px #111;
  border: 1px solid #d8d8d8;
}
.brand_head {
  padding: 1rem;
  background: #23536b;
  color: #fff;
}
/*.noMargin{margin: 0;} .lftpadding{padding:0 0 0 15px ;}*/
.category-inner {
  /*border-bottom:1px solid #f8f8f8;*/
}
.category-inner h3 {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 1.3em;
  font-weight: 600;
  border-bottom: 1px solid #f8f8f8;
}
.inner-list {
  padding: 0;
  list-style-type: none;
  padding: 8px 0 0 0;
}
.inner-list li {
  display: block;
  width: 100%;
}
.inner-list li a {
  display: block;
  color: #000;
  font-size: 0.875rem;
  font-weight: normal;
  padding: 10px 15px;
  transition: 0.4s;
}
.inner-list li a:hover {
  display: block;
  color: #000;
  text-decoration: none;
}
/*.inner-list li a:hover{display: block; color:#fff; text-decoration: none; background: #23536b}*/
.inner-list li a.active {
  background: #23536b;
}

.inner-list li a span.badge-light {
  transition: 0.5s;
  padding: 0.5rem;
}
.inner-list li a i {
  margin-right: 0.8rem;
}

.inner-list li:hover span.badge-light {
  background: #23536b;
  transition: 0.5s;
  color: #fff;
}
.inner-list h3 {
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight: 600;
}
a.bha-btn-secondry:hover {
  color: #fff;
  text-decoration: none;
}
.modal-content {
  background: #f3f3f3 !important;
}
.category_list {
  margin: 0;
  padding: 0;
}
.category_list li {
  list-style: none;
  display: block;
  margin: 5px 0;
  position: relative;
}
.category_list li a {
  text-decoration: none;
  color: #979797;
}
.category_list li a:before {
  content: '\f105';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 18px;
  margin-right: 0.5em;
  top: 0;
  left: 0;
}
.category_list .cat-list-name {
  margin-left: 12px;
}
.category_list .cat-list-child-name {
  margin-left: 24px;
}
.category_list .cat-list-child-name a {
  color: #000;
}
#brand,
#size,
#price-range,
#color,
#material,
#pattern,
#discount {
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
#discount:last-child {
  border-bottom: none;
}
.BRND_N {
  margin-bottom: 10px;
}
.T_BRND {
  font-weight: 600;
  color: #797878;
  margin: 10px 0;
}
#brand .BrdInner,
#size .BrdInner,
#price-range .BrdInner,
#color .BrdInner,
#material .BrdInner,
#pattern .BrdInner,
#discount .BrdInner {
  padding: 0 15px 0 15px;
}
.clr_squr {
  width: 9px;
  height: 9px;
  float: right;
  position: absolute;
  top: 10px;
  left: 80px;
}
.clr_squr.black {
  background: #313131;
}
.clr_squr.red {
  background: #f03b3b;
}
.clr_squr.blue {
  background: #385cce;
}
.clr_squr.brown {
  background: #986e60;
}
.clr_squr.green {
  background: #a1c45f;
}
.clr_squr.white {
  background: #fff;
  border: 1px solid #ccc;
}

.list {
  display: -ms-flexbox;
  display: flex;
  line-height: 28px;
  margin-right: 24px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.list a label {
  margin: 0;
}
.list a {
  text-decoration: none;
}
.AnchorList {
  display: none;
}
.AnchorList + * {
  position: relative;
  color: #797878;
  font-size: 0.98em;
  font-weight: normal;
  cursor: pointer;
  white-space: nowrap;
}
.AnchorList + :before {
  content: ' ';
  display: inline-block;
  position: relative;
  top: 4px;
  margin: 0 12px 0 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 2px;
}
.AnchorList:checked + :after {
  width: 8px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 4px;
  content: ' ';
  border-left: 2px solid #313131;
  border-bottom: 2px solid #313131;
  transform: rotate(-45deg);
}

.btn_more {
  margin: 6px 15px 10px;
  padding: 0;
}
.btn_more span {
  border: 1px solid #797979;
  float: left;
  width: 15px;
  height: 15px;
  line-height: 14px;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 2px 12px 0 0;
  vertical-align: bottom;
}
.btn_more a {
  color: inherit;
  text-decoration: none;
  font-size: 0.99em;
}

/*.popup-cotanier{background:#fff; width:70%; position: absolute; top:120px; left:15px; z-index: 100; border-radius:5px; box-shadow: 1px 1px 5px #999;}*/

.filter_model {
  position: absolute;
  min-width: 600px;
  /* max-height: 700px;*/
  background: #fff;
  color: #353535;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(29, 29, 29, 0.18);
  -moz-box-shadow: 0px 5px 7px 0px rgba(29, 29, 29, 0.18);
  box-shadow: 0px 5px 7px 0px rgba(29, 29, 29, 0.18);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* overflow: hidden;*/
  padding: 30px;
  left: 245px;
  top: 0;
  z-index: 10;
}
.veiw_brands {
  width: 900px;
  height: 390px;
  padding: 0;
  z-index: 999;
  display: none;
  position: fixed;
  background: #fff;
  top: 100px;
  left: 19%;
  bottom: 0;
  margin: auto;
}
.LFilters {
  border-bottom: 1px solid #f7f7f7;
  padding: 15px 0 10px;
  text-align: center;
}
.BrndFooter {
  border-top: 1px solid #f7f7f7;
  padding: 0;
  margin: 0;
}
.btn-container {
  float: right;
  margin: 15px;
}
.BrndBtn {
  background: none;
  border-radius: 3px;
  padding: 7px;
  width: 130px;
  text-align: center;
  text-transform: uppercase;
}
.BrndBtn.BtnClear {
  border: 2px solid #dab93e;
  color: #000;
}
.BrndBtn.BtnApply {
  border: 2px solid #636363;
  background: #636363;
  color: #fff;
}
.alphabets {
  margin: 0;
  padding: 0;
}
.alphabets li {
  display: inline-block;
  margin: 6px;
}
.alphabets li a {
  color: #000;
  text-decoration: none;
}
.filter_model .content-inner {
  padding: 15px 0;
}

.filter_model .header {
  background: #818181;
  padding: 15px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.filter_model .header .brnd-heading {
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  margin-right: 40px;
}
/*.filter_model .searchBox{width:60%; padding:8px 10px; border-radius: 2px; border:none;
    background:#fff url(../images/search_icon.png)no-repeat; background-position: right; position: absolute; top:10px; }*/
.Btn-close {
  color: #fff;
  float: right;
  margin-top: 3px;
}
.Btn-close a {
  color: #fff;
}

.shorting-box {
  padding: 1rem 1rem 0.2rem 1rem;
}
.pagination {
  float: right;
  margin-top: 0.3rem;
  border-radius: 0;
}
.page-item:first-child .page-link {
  border-radius: 0;
}
.page-item:last-child .page-link {
  border-radius: 0;
  margin-right: 0;
}
.page-link {
  margin: 0 4px;
  color: #000;
  padding: 0.3rem 0.6rem;
  font-size: 0.85rem;
}
.page-item.active .page-link {
  background: #23536b;
  border-color: #23536b;
}
.grid-switcher {
  float: right;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.grid-switcher i {
  color: #000;
  font-size: 1rem;
  border: 1px solid #ddd;
  padding: 0.34rem;
}
#shortOption {
  width: 180px !important;
  padding-right: 25px;
  font-size: 12px;
  cursor: pointer;
  float: right;
  margin-top: 2px;
}
.short-items .form-control-select {
  padding: 0 0.5rem !important;
  font-size: 0.875rem !important;
  border-color: #ccc !important;
  height: auto !important;
}
.short-items .form-select {
  background-position: right 7px !important;
}
.short-items .form-control-select:focus {
  box-shadow: none !important;
  border-color: #ccc !important;
}
.short-items span {
  line-height: 2.3rem;
  float: left;
}

.featured-product {
  width: 100%;
  padding: 0.5rem 1rem;
}
.tumbnail-xs {
  margin: 0;
  padding: 0;
}
.tumbnail-xs img {
  object-fit: cover;
  width: 80px;
}
.description-xxs {
  color: #000;
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: auto;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.95rem;
}
.location {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 0.5rem;
}
.location:last-child {
  border: none;
}
/*-------------List Group css-----*/
.list-group-item {
  padding: 0.8rem 0 0.8rem 0 !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /*border-bottom: 1px solid rgba(0,0,0,.08) !important;*/
  border-bottom: 0;
  border-radius: 0 !important;
  box-shadow: 0 0 10px #f4f4f4;
  margin-bottom: 0.3rem;
}
.media-body h6 {
  font-size: 0.875rem !important;
  text-transform: uppercase;
}
.list-group-item:hover {
  box-shadow: 0 0 10px #f4f4f4;
}

.product-xs-list .portfolio-hover {
  position: absolute;
  width: 23%;
  height: 80%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0px; /*box-shadow: 0 0 40px #f6f6f6;*/
  box-shadow: 0px 0 5px 0 #ddd;
  border: 1px solid #ececec;
  border-bottom: 0;
}
.product-xs-list .portfolio-hover:hover {
  opacity: 1;
}
.product-xs-list .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 75%;
  margin-top: 0;
}
.callToAction-list {
  height: 100px;
  width: auto;
  display: block;
  padding: 0 2rem;
  text-align: center;
}
/*.quick-view{background:transparent;color:#23536b; display: block; border:2px solid #23536b;
  padding:0.5rem;border-radius: 2px; text-transform: uppercase; font-size: 0.875rem; font-weight: 600; cursor: pointer;
margin-bottom: 0.6rem}
i.wishList-hover-xs{position: absolute;  top: -18%; right: 2.6%; font-size: 1.2rem !important; color:#81827f;
  border-radius: 100px; width: 40px; height: 40px;line-height: 30px;text-align: center;}*/

/*--- /.price-range-slider ---*/
.slider-box {
  width: 95%;
  margin: 8px;
}
.slider-box .input-range__label {
  display: none;
}

/*input {border: none; display: inline-block; margin-right:0; vertical-align: top;}*/
.input-text {
  width: 100%;
  font-size: 0.875rem;
  text-align: right;
  border: none;
  display: inline-block;
  padding: 0.6rem 0;
  margin-right: -8px;
  color: #666;
}
/*.slider {margin: 25px 0}*/
.ui-slider-horizontal {
  height: 0.15rem !important;
}
.ui-widget-header {
  background: #0f416a !important;
}
.ui-widget-content {
  /*border:1px solid #ddd !important;*/
  border: none !important;
  background: #ddd !important;
  box-shadow: none !important;
}
.ui-slider .ui-slider-handle {
  width: 0.8em !important;
  height: 0.8em !important;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-radius: 100px !important;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-radius: 100px !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #0f416a !important;
  border: none !important;
}

/*===Model box CSS====*/
#myModalView .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 45% !important;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  margin: 1.75rem auto !important;
}
.modal-view-inner {
  padding: 2rem;
  background: transparent;
  box-shadow: 1px 1px 2rem 0.1rem #5c5c5c;
}
.modal-width-lg {
  max-width: 800px !important;
}

/*======================Compare Css=============================*/
#about_popup {
  width: 340px;
  height: 100px;
  background: transparent;
  position: fixed;
  right: 10%;
  bottom: 0;
  display: none;
  z-index: 101;
  /*-moz-border-radius-topleft:20px;
  -moz-border-radius-topright:20px;
  -webkit-border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;*/
}

#main {
  margin: 20px 0;
}

#main #faq .card {
  /* margin-bottom: 30px;*/
  border: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main #faq .card .card-header {
  border: 0;
  padding: 0;
  border-radius: 0 !important;
}

#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #000;
  color: #fff;
  padding: 15px 20px;
  border-radius: 0 !important;
}
#main #faq .card .card-header .btn-header-link:focus {
  border: 0 !important;
  box-shadow: none !important;
}
#main #faq .card .card-header .btn-header-link:after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: #000;
  color: #fff;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: '\f106';
}

#main #faq .card .collapsing {
  background: #fff;
  line-height: 30px;
  border: 1px solid #9b9797;
  box-shadow: 0 0 10px #777;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  background: #fff;
  line-height: 30px;
  color: #222;
  border: 1px solid #9b9797;
  box-shadow: 0 0 10px #777;
}

.compare-widget__products {
  overflow: hidden;
  margin: 0;
  float: left;
  padding: 0 0 1.5rem 0.4rem;
  list-style-type: none;
}
.compare-widget__product {
  position: relative;
  padding-right: 55px;
  text-align: left;
  border-bottom: 1px solid #f4f4f4;
}
.compare-widget__product:last-child {
  border: none;
}
.compare-widget__image {
  float: left;
  width: 70px;
  height: auto;
  max-height: none;
  margin-right: 17px;
  border: 1px solid #888;
}
.compare-widget__title {
  font-size: 12px;
  font-size: 0.8rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  margin-top: 10px;
  text-align: left;
}
.compare-widget__product-remove-trigger {
  position: absolute;
  top: 20px;
  right: 10px;
  bottom: 0;
  padding: 29px 19px;
  cursor: pointer;
  text-indent: -9999px;
  background-color: transparent;
  border: 0;
}
.compare-widget__product-remove-trigger:after {
  font-size: 1.6rem;
  position: absolute;
  top: -5px;
  right: 0;
  display: block;
  content: '+';
  transform: rotate(45deg);
  text-indent: 0;
}
.compare-widget__product:after {
  display: table;
  clear: both;
  zoom: 1;
  content: '';
}
.compare-widget__product:first-child .compare-widget__product-remove-trigger {
  top: 9px;
}
