/*=======Project page layout design css===========================*/
.content-body.gloBalTopMrgn{margin-top: 135px}
.iba_heading_1 {color: #7ab033;font-family: 'Oswald', sans-serif;text-transform: uppercase;
font-weight: 700;font-size: 1.5rem; padding-top:2rem;}
.iba_heading_4 {font-family: 'Oswald', sans-serif; font-size: 1.3rem; font-weight: normal;
    padding: 1.5rem 0;  padding-bottom: 1.5rem;width: 100%;}
.iba_heading_4.text-green{color: #7ab033;}
.project-caption{position: absolute; top:10%; left: 6%;
z-index: 10; width: 35%}
.project-caption.w-xl{width:45%;}
.project-caption-inner{position: absolute; top:0; left: 0}
.project-caption-inner .bha_heading_2{font-size: 2.5rem; font-weight: 700}
.project-caption-inner hr{width: 5%;float: left;background: #a70e15;
height: 36px;margin: 0.4rem 0.5rem 0 0;}
.proj-object-fit{width: 560px; height: 340px; object-fit: cover; object-position: center;
padding:0;overflow: hidden;}

.promo-caption{display: flex;align-items: center;justify-content: center;
padding:4rem;}
.promo-caption:after{content: '';display: inline-block;position: absolute;
top: 40%;right:-15px !important; width: 0;height: 0;
border-top: 30px solid transparent;border-left: 20px solid #fff;
border-bottom: 30px solid transparent; z-index: 1}

.promo-caption-left{display: flex;align-items: center;justify-content: center;
padding:4rem;}
.promo-caption-left:before{content: '';display: inline-block;position: absolute;
top: 40%;left:-20px !important; width: 0;height: 0;
border-top: 23px solid transparent;border-right: 18px solid #fff;
border-bottom: 23px solid transparent; z-index: 1}

.promo-caption.texture-bg{background: url(../images/texture-img.jpg) top left repeat; 
height: 341px; position: relative;}
.promo-caption.texture-bg:before{content:''; background: rgba(255,255,255,0.9);
top:0; left:0; right:0; bottom:0; position: absolute;}
/*.caption-img{display: flex;align-items: center;justify-content: center;
padding:0;}*/
.justify{text-align: justify; text-justify: inter-word;}
.p-left{padding:0 2rem 3rem 2rem; position: relative;z-index: 100}
.p-right{padding:0 4rem 3rem 1rem; position: relative;z-index: 100}

@media(max-width: 768px){
.p-left{padding:0;}
.p-right{padding:0;}
.proj-object-fit{width: 100%;}
}
.brighten img {
-webkit-filter: brightness(80%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.brighten img:hover {-webkit-filter: brightness(110%);}
.hyperlink-text-link{float: left; font-weight: 700; color: rgb(46, 46, 56);
    border-bottom: 1px solid transparent; margin-top:1.5rem;}
.hyperlink-text-link:hover{color:#000; text-decoration: underline;}

.mySidenav {
  position: fixed;
  top:20%;
  right:-30px;
  transition: 0.3s;
  padding: 15px;
  width: auto;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  background: red;
  z-index: 300;
}


.mySidenav:hover {
  right: 0;
}

.mySidenav .item-link::after {
    content: '';
    width: 50px;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    margin-left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
    -webkit-transition: background-color 0.3s,width 0.3s,margin-left 0.3s;
    transition: background-color 0.3s,width 0.3s,margin-left 0.3s;
}


/*====================215487===========================================*/
.side-menu{padding: 0; margin: 0;}
.side-menu .tablink{float:left;color:#000; width: 100%;word-break: break-all !important;}
.side-menu .tablink:hover{background: #2f8cca; transition: 0.3s; color:#fff;}
.side-menu .tablink.current{color:#fff; background:#8bc53f;}
.side-menu .tablink.current i{background:#fff !important; width: 32px;
  transition: 0.4s;height: 2px;}

/* styling sidebar */ 
    .sidehoverbar { 
        background:rgba(35,83,107,0.1); 
        position: fixed; width: 225px;
        top:21%;
        display: inline-grid;  
        font-size: 14px; 
        text-decoration: none; 
        color: white; 
        margin:0; 
        left:-190px; 
        transition: 0.5s; 
        opacity: 0.5;
        z-index: 5001;

    } 
         
    /* Hover effect on sidebar */ 
    .sidehoverbar:hover { 
        left: 0px; 
        opacity: 1; 
        background-color:transparent; 
    } 
    .sidehoverbar a{background: rgba(255,255,255,0.6); float:left; margin-bottom: 0;
      color:#000; padding:0.6rem 0.3rem; transition: all 0.4s;
      word-break: break-all !important; width: 10%}   
    /* float icons*/ 
    .sidehoverbar a i { 
        float: right; 
        margin:0.7rem;  
        width:18px;
        height: 2px;
        background: #000; 
    } 
    .sidehoverbar a:hover {background:#000;  color:#fff; text-decoration: none}
    .sidehoverbar a:hover i {background:#fff !important; width: 32px;
  transition: 0.4s;}
    /* content margin */ 
    .hoverable-topic { 
        margin-left: 55px; 
    }
