.caption.v_middle {
	top: 8% !important;
	left: 1%;
	color: #fff;
}

.free-signup a{
	color:#fff;
	font-size: 1rem;
}
hr {
	border-top: 1px solid #dee2e6 !important;
}
.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.no-gutters .nav-link{
	font-weight: 400 !important;
}
.location_head {
	font-weight: 500;
}


.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.icon-left-padding{
	padding-left: 1rem;
}


.loginInner .modal-body{
	padding: 0 !important;
}
label{
font-weight: 400;
}

.topmenusearch {
	margin: .5rem 0 0 2rem;
}

.topmenusearch .input-group input{
	margin-top:.4rem;
	padding: .8rem;
}


.form-control{
	height: calc(2rem + .75rem + 2px) !important;
}


.wsmenu .navbar-nav .nav-item a{
	padding: 0 40px !important;
	text-transform: uppercase;
	line-height: 59px;
}

.wsmenu .navbar-nav .nav-item span a{
	color:#fff ;
	font-weight: 700;
}

.dropdown-submenu a{
	color:#000 !important;
}

.wstheading a{
	color:#fff !important;
}