.default-color {
	background-color: black !important;
}
.navbar .nav-item .nav-link {
	display: block;
	padding: 0 24px 0 24px !important;
	font-weight: 700;
	font-size: 1rem;
	line-height: 40px;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
}
.topmenusearch {
	margin: .5rem 0 0 2rem;
}

.topmenusearch .input-group input{
	margin-top:.4rem;
	padding: .8rem;
}

.wsmenu {
	z-index: 1 !important;
}

.toplink span {
	border-right: 1.5px solid #fff;
	float: left;
	height: 12px;
	margin-top: 5px;
}
.topmenusearch input[type='text'] {
	padding: 0.6rem 1rem;
	border-radius: 6rem;
	border: 1px solid #2f6782;
}

.topmenusearch .input-group-append {
	margin-left: -6px;
}
.form-control{
	height: calc(2rem + .75rem + 2px) !important;
}


.wsmenu .navbar-nav .nav-item a{
	padding: 0 40px !important;
	text-transform: uppercase;
	line-height: 59px;
}

.wsmenu .navbar-nav .nav-item span a{
	color:#fff ;
	font-weight: 700;
}

.dropdown-submenu a{
	color:#000 !important;
}

.wstheading a{
	color:#fff !important;
}

.dropdown-submenu{
	width:350px
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 200%;
	left: 100%;
	width:800px;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu>.dropdown-menu {
	display: none;
}

.dropdown-menu .custom-bord{
	width:74%;
	background-color: #fff;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: red;
	display: block;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}


ul ul ul {
	list-style-type: none;
}

li .wstliststy04 {
	padding: 14px 0px 0px 0px;
	margin: 0px;
}


.row.custom-gutter {
	top: -100%;
}


/* Sign up Page Css  */

.form-select {
	width: 100% !important;
	background-color: #fff !important;
}

.headerwp, .toplink{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.country{
	z-index: 10000000 !important;

}

.logIn .modal-content{
	top: 10px;
	left:65%;
	z-index: 1000000 !important;
	padding: 2rem 1.5rem 1rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 600px;
	background-color: #e5e5e5;
	border-radius: 0px !important;
	outline: 0;
}

.country .modal-content {
	top: 40px;
	z-index: 1000000 !important;
	padding: 2rem 1.5rem 1rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #4d4d4d;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 0px !important;
	outline: 0;
}

.bha-contry-list li a {
	font-size: 0.8rem;
}
/* .modal-content {
	display: none;
	border: 1px solid #000;
	background-color: #4d4d4d;
	position: relative;
	top: 92%;
	right: 0;
	width: 100%;
	z-index: 1000000 !important;
	padding: 2rem 1.5rem 1rem;
	color: #000;
} */
.caption.v_middle {
	top: 8% !important;
	left: 1%;
	color: #fff;
}

.free-signup a{
	color:#fff;
	font-size: 1rem;
}
hr {
	border-top: 1px solid #dee2e6 !important;
}
.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.no-gutters .nav-link{
	font-weight: 400 !important;
}
.location_head {
	font-weight: 500;
}


.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.icon-left-padding{
	padding-left: 1rem;
}


.loginInner .modal-body{
	padding: 0 !important;
}
label{
font-weight: 400;
}