.caption.v_middle {
	top: 8% !important;
	left: 1%;
	color: #fff;
}

.free-signup a{
	color:#fff;
	font-size: 1rem;
}
hr {
	border-top: 1px solid #dee2e6 !important;
}
.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.no-gutters .nav-link{
	font-weight: 400 !important;
}
.location_head {
	font-weight: 500;
}


.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.icon-left-padding{
	padding-left: 1rem;
}


.loginInner .modal-body{
	padding: 0 !important;
}
label{
font-weight: 400;
}